@import "var";

.mat-button-toggle-appearance-standard.mat-button-toggle-checked {
    color: #fff;
    background: #70aab9;
}

:host {
    ::ng-deep {
        .mat-button-toggle-button {
            .mat-button-toggle-label-content {
                line-height: 36px !important;
            }
        }
    }
}

.mt-50px {
    margin-top: 50px;
}

.mr-2px {
    margin-right: 2px;
}

.w-attempts {
    width: 254px;
    margin-top: 10px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 450px);
    gap: 25px;
    justify-content: center;
}

.from-label {
    position: absolute;
    left: 5px;
    bottom: 33px;
}

.time-distance-label {
    position: absolute;
    left: 5px;
    bottom: 33px;
}

.order-label {
    position: absolute;
    left: 5px;
    bottom: 35px;
}

.container-order {
    width: 200px;
}

::ng-deep {
    .ng-select.ng-select-single {
        .ng-select-container {
            min-height: 32px;
            height: 32px;
        }
    }
}
