.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 450px);
    gap: 25px;
    justify-content: center;
}

.card-custom {
    width: 450px;
    background: #f3f3f3;
    border-radius: 6px;
    display: flex;
    box-sizing: border-box;
    border: 1px solid #dedede;

    .header {
        height: 10px;
        width: inherit;
        border-radius: 6px 6px 0 0;
    }

    .card-body {
        padding-left: 30px;
    }
}

.dataset {
    background: #bddef1;
}

.webhook {
    background: #efd4dc;
}

.icon-size {
    transform: scale(1.4);
}

.badge-button {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background: #ebebeb !important;
    }
}

.mt-50px {
    margin-top: 50px;
}

.completed-container {
    background-color: #239a59;
}

.failing-container {
    background-color: #ffa500;
}

.pause-container {
    background-color: #ffde21;
}

.stopped-container {
    background-color: #ef6363;
}

.manual-container {
    background-color: #aaa;
}
