.section-buttons {
    margin: 55px 100px 50px 0;

    .width-custom {
        width: 100px;
        height: 36px;
    }
}

.error-block {
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
}

@media (width <= 1335px) {
    .queries {
        margin-top: 30px;
    }

    .left-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
} ;
