input
    text-overflow: ellipsis

.container-layout
    padding: 0 50px

.w-425
    width: 425px

.button-custom
    height: 25px
    display: flex
    padding: 5px 10px
    align-items: center
    justify-content: center
    border: 1px solid black
    border-radius: 5px
    &:hover
        cursor: pointer
        filter: alpha(opacity=90)
        -moz-opacity: 0.9
        opacity: 0.9

.node-name
    width: 358px
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

.example-tree-invisible
    display: none

.tree ul,
.tree li
    margin-top: 0
    margin-bottom: 0
    list-style-type: none

.tree .mat-nested-tree-node div[role=group]
    padding-left: 40px

.tree div[role=group] > .mat-tree-node
    padding-left: 25px
    padding-bottom: 5px

.block-query
    padding: 15px 30px 30px
    border: 1px solid #dee2e6
    border-radius: 10px

.section-buttons
    margin: 100px 40px 50px 0
    .width-custom
        width: 100px
        height: 32px

.no-button
    border: none
    background: transparent

@media (max-width: 1335px)
    .queries
        margin-top: 30px
    .left-section
        display: flex
        flex-direction: column
        align-items: center
