<div #containerRef>
    <ngx-graph
        class="chart-container"
        [draggingEnabled]="draggingEnabled"
        [panningEnabled]="panningEnabled"
        [enableZoom]="zoomEnabled"
        [zoomSpeed]="zoomSpeed"
        [minZoomLevel]="minZoomLevel"
        [maxZoomLevel]="maxZoomLevel"
        [panOnZoom]="panOnZoom"
        [autoCenter]="autoCenter"
        [autoZoom]="autoZoom"
        [showMiniMap]="showMiniMap"
        [miniMapPosition]="miniMapPosition"
        [links]="links"
        [nodes]="graphNodes"
        [view]="view"
        layout="dagre"
    >
        <ng-template #defsTemplate>
            <svg:marker
                id="arrow"
                viewBox="0 -5 10 10"
                refX="12"
                refY="0"
                markerWidth="8"
                markerHeight="4"
                orient="auto-start-reverse"
            >
                <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
            </svg:marker>
        </ng-template>

        <ng-template #nodeTemplate let-node>
            <svg:g class="node" *ngIf="!node.data.extraNode">
                <svg:rect
                    [attr.width]="node.dimension.width"
                    [attr.height]="70"
                    [attr.rx]="5"
                    [attr.fill]="node.data.isRoot ? '#FFB6C1' : '#add8e6'"
                    [attr.cursor]="'pointer'"
                    [attr.stroke]="node.data.isCurrent ? '#FF4500' : 'black'"
                    [attr.stroke-width]="node.data.isCurrent ? 3 : 0"
                    (click)="!node.data.isCurrent && onClickNode(node)"
                />
                <svg:text
                    alignment-baseline="central"
                    [attr.x]="10"
                    [attr.y]="node.dimension.height * 0.55"
                    [attr.font-weight]="'600'"
                    [attr.cursor]="'pointer'"
                    (click)="!node.data.isCurrent && onClickNode(node)"
                >
                    {{ node.label }}
                </svg:text>
                <image
                    [attr.x]="10"
                    [attr.y]="10"
                    [attr.width]="18"
                    [attr.height]="18"
                    attr.data-test-id="account-avatar-{{ node.label }}"
                    [attr.xlink:href]="(getAccountUrl(node.data.accountName) | async)?.avatarUrl || DEFAULT_AVATAR_URL"
                />
                <svg:text alignment-baseline="central" [attr.x]="35" [attr.y]="18" [attr.font-weight]="'normal'">
                    {{ node.data.accountName }}
                </svg:text>
                <svg:g [attr.transform]="'translate(' + node.dimension.width * 1.005 + ',0)'">
                    <!-- Temporary solution - in future icon will be choosen on explicit public/private attribute in the dataset -->
                    <image
                        [attr.x]="-12"
                        [attr.y]="-12"
                        [attr.width]="20"
                        [attr.height]="20"
                        [attr.href]="'../assets/images/private.png'"
                    />
                </svg:g>
            </svg:g>
            <svg:g class="node" *ngIf="node.data.extraNode">
                <svg:rect
                    [attr.width]="node.dimension.width * 1.1"
                    [attr.height]="50"
                    [attr.rx]="5"
                    [attr.fill]="'#32cd32'"
                    [attr.cursor]="'pointer'"
                />
                <image
                    [attr.x]="2"
                    [attr.y]="(node.dimension.height * 1.1) / 2 - 20"
                    [attr.width]="30"
                    [attr.height]="30"
                    [attr.href]="'../assets/images/world.png'"
                />

                <svg:text
                    alignment-baseline="central"
                    [attr.x]="33"
                    [attr.y]="node.dimension.height / 2"
                    [attr.font-weight]="'normal'"
                    [attr.cursor]="'pointer'"
                >
                    {{ node.label }}
                </svg:text>
            </svg:g>
        </ng-template>

        <ng-template #linkTemplate let-link>
            <svg:g class="edge">
                <svg:path class="line" stroke-width="2" marker-end="url(#arrow)"></svg:path>
            </svg:g>
        </ng-template>
    </ngx-graph>
</div>
