<ng-container *ngIf="componentData$ | async as componentData">
    <app-verify-result-section [verifyResponse]="componentData.sqlQueryVerify" />

    <ng-container *ngIf="componentData">
        <div class="row">
            <div class="col-md-6">
                <app-input-data-section
                    [blockHashObservables$]="blockHashObservables$"
                    [datasetInfoObservables$]="datasetInfoObservables$"
                    [inputData]="componentData"
                />
            </div>
            <div class="col-md-6">
                <app-commitment-data-section [commitmentData]="componentData" />
            </div>
        </div>

        <div class="margin-top margin-bottom" *ngIf="componentData.sqlQueryExplainerResponse.output">
            <app-reproduced-result-section
                [output]="componentData.sqlQueryExplainerResponse.output"
                [dataFormat]="componentData.sqlQueryExplainerResponse.input.dataFormat!"
            />
        </div>
    </ng-container>
</ng-container>
