.tooltip-class {
    z-index: 1000;
}

.tooltip-inner {
    background-color: #f3f4f6;
    position: relative;
    font-size: 12px;
    border: 1px solid $app-color-tooltip-border;
    padding: 10px;
    color: black;
    text-align: left;
    width: 150px;
    margin-bottom: 5px;
}

.bs-tooltip-top,
.bs-tooltip-bottom {
    .tooltip-arrow {
        &::before {
            border-top-color: $app-color-tooltip-border;
            border-bottom-color: $app-color-tooltip-border;
            top: -5px;
        }
    }
}

.tooltip.show {
    opacity: 1;
}
