<ng-container *ngIf="!selectedLoginMethod || selectedLoginMethod === AccountProvider.Web3Wallet">
    <div class="d-flex flex-column align-items-center login-container__buttons" data-test-id="method-selection-block">
        <img [src]="APP_LOGO" class="logo" alt="Application logo" />
        <h1 class="text-center text-muted mt-4">Select your Login Method</h1>
        <div class="inner-container">
            <button
                data-test-id="select-method-github"
                (click)="onSelectedLoginMethod(AccountProvider.OauthGithub)"
                class="login__btn"
                md-raised-button="primary"
                autofocus
            >
                Sign in with GitHub
                <mat-icon class="github-logo" svgIcon="github-logo" />
            </button>
            <button
                data-test-id="select-method-web3-wallet"
                (click)="onWeb3WalletLogin()"
                class="login__btn"
                md-raised-button="primary"
            >
                Sign in with Ethereum Wallet
                <mat-icon class="metamask-logo" svgIcon="metamask" />
            </button>
            <button
                data-test-id="select-method-password"
                (click)="onSelectedLoginMethod(AccountProvider.Password)"
                class="login__btn"
                md-raised-button="primary"
            >
                Login with Password
            </button>

            <ng-container *ngIf="enableTermsOfService">
                <ng-container *ngTemplateOutlet="termsOfServiceFragment"></ng-container>
            </ng-container>
        </div>
    </div>
</ng-container>
<div
    *ngIf="selectedLoginMethod == AccountProvider.OauthGithub"
    class="d-flex justify-content-center align-items-center"
>
    <app-spinner data-test-id="github-spinner" />
</div>
<div
    *ngIf="selectedLoginMethod == AccountProvider.Password"
    class="d-flex justify-content-center flex-column container-form"
    data-test-id="password-method-block"
>
    <img [src]="APP_LOGO" class="logo" alt="Application logo" />
    <h1 class="text-center text-muted mt-4">Login to Kamu</h1>
    <form [formGroup]="passwordLoginForm">
        <div>
            <label for="login" class="fs-12" [class.error-color]="passwordLoginError$ | async">Login</label>
            <span class="text-danger">*</span><br />
            <input
                formControlName="login"
                type="text"
                class="form-control d-inline"
                id="login"
                data-test-id="input-login"
                (keyup)="onChangeInputField($event)"
                autofocus
                [class.error-border-color]="passwordLoginError$ | async"
            />
            <div *ngIf="loginControl?.invalid && (loginControl?.touched || loginControl?.dirty)">
                <span
                    *ngIf="loginControl?.errors?.['required']"
                    class="text-danger fs-12"
                    data-test-id="input-login-error-required"
                    >Login is required</span
                >
            </div>
        </div>
        <div class="mt-4">
            <label for="password" class="fs-12" [class.error-color]="passwordLoginError$ | async">Password</label>
            <span class="text-danger">*</span><br />
            <input
                formControlName="password"
                type="password"
                class="form-control d-inline"
                id="password"
                data-test-id="input-password"
                (keyup)="onChangeInputField($event)"
                [class.error-border-color]="passwordLoginError$ | async"
            />
            <div *ngIf="passwordControl?.invalid && (passwordControl?.touched || passwordControl?.dirty)">
                <span
                    *ngIf="passwordControl?.errors?.['required']"
                    class="text-danger fs-12"
                    data-test-id="input-password-error-required"
                    >Password is required</span
                >
            </div>
        </div>
        <button
            [disabled]="passwordLoginForm.invalid"
            data-test-id="submit-password"
            (click)="onPasswordLogin()"
            class="button-sign-in mt-4"
        >
            Login
        </button>
        <div *ngIf="passwordLoginError$ | async as passwordLoginError" class="mt-2">
            <div class="error-block" data-test-id="password-method-error">{{ passwordLoginError }}</div>
        </div>
        <div class="mt-30" *ngIf="enableTermsOfService">
            <ng-container *ngTemplateOutlet="termsOfServiceFragment"></ng-container>
        </div>
    </form>
</div>

<ng-template #termsOfServiceFragment>
    <p class="text-center fs-12">
        By logging in you accept the
        <a class="fs-12 tos-link" href="https://docs.kamu.dev/terms-of-service" target="_blank"
            >Kamu Terms of Service</a
        >
    </p>
</ng-template>
