@use "var" as *;

.overview-summary-background {
    background-color: $app-color-overview-history-summary-bg;
}

.avatar-image {
    width: 20px;
    height: 20px;
}

a {
    text-decoration: none;
    color: #0969da;
}

.mat-icon-size {
    font-size: 16px;
    width: 16px !important;
    height: 19px !important;
}
