<ul class="nav search-additional-buttons__nav">
    <li class="nav-item mr-2">
        <div class="btn-group-parent">
            <button
                class="get-data-button border rounded btn-group-item d-flex justify-content-center align-items-center"
                #menuTrigger="matMenuTrigger"
                [matMenuTriggerFor]="menu2"
                data-test-id="searchAdditionalButtons"
            >
                <mat-icon class="fs-5 pt-1" style="color: #1a7f37">system_update_alt</mat-icon>
                <span class="mr-2 fs-5 get-data-text">Get Data</span>
                <mat-icon>arrow_drop_down</mat-icon>
            </button>

            <mat-menu
                #menu2="matMenu"
                class="custom-wrapper-for-menu mat-menu-panel-custom"
                [hasBackdrop]="true"
                data-test-id="menu"
            >
                <div
                    class="select-menu-modal notifications-component-menu-modal"
                    *ngIf="protocols$ | async as protocols"
                >
                    <header class="select-menu-header">
                        <div class="select-menu-title text-bold d-flex align-item-center d-flex align-items-center">
                            Protocols
                        </div>
                        <a class="fs-12">Manage API tokens</a>
                    </header>
                    <div
                        class="select-menu-list"
                        (click)="$event.stopPropagation()"
                        (keydown)="$event.stopPropagation()"
                    >
                        <mat-tab-group [animationDuration]="0">
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <div class="d-flex align-items-center">
                                        <mat-icon class="text-muted fs-5 mt-2">link</mat-icon>
                                        Link
                                    </div>
                                </ng-template>
                                <div class="select-menu-item flex-column">
                                    <div class="input-group mb-1">
                                        <span class="fs-12 text-muted"> Share this dataset on the Web:</span>
                                    </div>

                                    <div class="select-menu-item align-items-start p-0 border-0 mb-2">
                                        <div class="input-group">
                                            <input
                                                type="text"
                                                class="form-control fs-12 rounded"
                                                data-autoselect=""
                                                [value]="protocols.webLink.url"
                                                #clipboardReference
                                                readonly
                                            />
                                            <div class="input-group-button ms-1">
                                                <button
                                                    (click)="copyToClipboard($event, clipboardReference.value)"
                                                    data-test-id="copyToClipboard-clipboardReference"
                                                    aria-label="Copy to clipboard"
                                                    class="copy-button ms-1"
                                                    data-copy-feedback="Copied!"
                                                    tabindex="0"
                                                    role="button"
                                                >
                                                    <div style="position: relative; display: inline-block">
                                                        <svg-icon name="copy" />
                                                    </div>
                                                    <div style="position: relative; display: none">
                                                        <svg-icon name="checked" />
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-group mt-1">
                                        <mat-checkbox color="primary" disabled="true">
                                            <span class="fs-12">Stable</span>
                                        </mat-checkbox>
                                        <mat-icon
                                            class="text-muted fs-5 help-icon"
                                            matTooltip="Include the unique identifier of the dataset. This guarantees that link will point to the same dataset even if its name and owner changes over time."
                                            [matTooltipPosition]="'right'"
                                            >help_outline</mat-icon
                                        >
                                    </div>
                                    <div class="input-group">
                                        <mat-checkbox color="primary" disabled="true">
                                            <span class="fs-12">Frozen</span>
                                        </mat-checkbox>
                                        <mat-icon
                                            class="text-muted fs-5 help-icon"
                                            matTooltip="Link to the state of a dataset at this specific point in time, for reproducibility. No matter how much time passes, everyone using this link will the the exact same data."
                                            [matTooltipPosition]="'right'"
                                            >help_outline</mat-icon
                                        >
                                    </div>
                                    <div class="input-group">
                                        <mat-checkbox color="primary" disabled="true">
                                            <span class="fs-12">DOI</span>
                                        </mat-checkbox>
                                        <mat-icon
                                            class="text-muted fs-5 help-icon"
                                            matTooltip="Produce a DOI.org identifier used for scientific publications."
                                            [matTooltipPosition]="'right'"
                                            >help_outline</mat-icon
                                        >
                                    </div>
                                    <div class="w-100">
                                        <mat-divider class="my-2" />
                                        <div class="d-flex align-items-center">
                                            <mat-icon class="text-muted fs-5 pt-1">info</mat-icon>
                                            <span class="fs-12">
                                                <a
                                                    href="https://docs.kamu.dev/odf/spec/#dataset-identity"
                                                    target="_blank"
                                                    class="fs-12"
                                                    >Dataset identity and references</a
                                                >
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <div class="d-flex align-items-center">
                                        <mat-icon class="text-muted fs-5 mt-2">terminal</mat-icon>
                                        Kamu CLI
                                    </div>
                                </ng-template>
                                <div class="select-menu-item flex-column w-100">
                                    <div class="input-group mb-1">
                                        <span class="fs-12 text-muted"> Pull dataset to local machine:</span>
                                    </div>
                                    <div class="select-menu-item align-items-start p-0 border-0 mb-2">
                                        <div class="input-group">
                                            <input
                                                type="text"
                                                class="form-control fs-12 rounded"
                                                data-autoselect=""
                                                [value]="protocols.cli.pullCommand"
                                                #clipboardKamuCliPull
                                                readonly
                                            />
                                            <div class="input-group-button ms-1">
                                                <button
                                                    (click)="copyToClipboard($event, clipboardKamuCliPull.value)"
                                                    data-test-id="copyToClipboard-clipboardKamuCliPull"
                                                    aria-label="Copy to clipboard"
                                                    class="copy-button ms-1"
                                                    data-copy-feedback="Copied!"
                                                    tabindex="0"
                                                    role="button"
                                                >
                                                    <div style="position: relative; display: inline-block">
                                                        <svg-icon name="copy" />
                                                    </div>
                                                    <div style="position: relative; display: none">
                                                        <svg-icon name="checked" />
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-1">
                                        <span class="fs-12 text-muted"> Push local updates to repository:</span>
                                    </div>
                                    <div class="select-menu-item align-items-start p-0 border-0 mb-2">
                                        <div class="input-group">
                                            <input
                                                type="text"
                                                class="form-control fs-12 rounded"
                                                data-autoselect=""
                                                [value]="protocols.cli.pushCommand"
                                                #clipboardKamuCliPush
                                                readonly
                                            />
                                            <div class="input-group-button ms-1">
                                                <button
                                                    (click)="copyToClipboard($event, clipboardKamuCliPush.value)"
                                                    data-test-id="copyToClipboard-clipboardKamuCliPush"
                                                    aria-label="Copy to clipboard"
                                                    class="copy-button ms-1"
                                                    data-copy-feedback="Copied!"
                                                    tabindex="0"
                                                    role="button"
                                                >
                                                    <div style="position: relative; display: inline-block">
                                                        <svg-icon name="copy" />
                                                    </div>
                                                    <div style="position: relative; display: none">
                                                        <svg-icon name="checked" />
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-100">
                                        <mat-divider class="my-2" />
                                        <div class="d-flex align-items-center">
                                            <mat-icon class="text-muted fs-5 pt-1">info</mat-icon>
                                            <span class="fs-12">
                                                <a
                                                    href="https://docs.kamu.dev/cli/collab/repositories/"
                                                    target="_blank"
                                                    class="fs-12"
                                                    >Working with repositories in Kamu CLI</a
                                                >
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <div class="d-flex align-items-center">
                                        <mat-icon class="text-muted fs-5 mt-2">public</mat-icon>
                                        REST
                                    </div>
                                </ng-template>
                                <div class="select-menu-item flex-column w-100">
                                    <div class="input-group mb-1">
                                        <span class="fs-12 text-muted"> Access last few events:</span>
                                    </div>
                                    <div class="select-menu-item align-items-start p-0 border-0 mb-2">
                                        <div class="input-group">
                                            <input
                                                type="text"
                                                class="form-control fs-12 rounded"
                                                data-autoselect=""
                                                [value]="protocols.rest.tailUrl"
                                                #clipboardRestUrlTail
                                                readonly
                                            />
                                            <div class="input-group-button ms-1">
                                                <button
                                                    (click)="copyToClipboard($event, clipboardRestUrlTail.value)"
                                                    data-test-id="copyToClipboard-clipboardRestUrlTail"
                                                    aria-label="Copy to clipboard"
                                                    class="copy-button ms-1"
                                                    data-copy-feedback="Copied!"
                                                    tabindex="0"
                                                    role="button"
                                                >
                                                    <div style="position: relative; display: inline-block">
                                                        <svg-icon name="copy" />
                                                    </div>
                                                    <div style="position: relative; display: none">
                                                        <svg-icon name="checked" />
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-1">
                                        <span class="fs-12 text-muted"> Execute an arbitrary SQL query:</span>
                                    </div>
                                    <div class="select-menu-item align-items-start p-0 border-0 mb-2">
                                        <div class="input-group">
                                            <input
                                                type="text"
                                                class="form-control fs-12 rounded"
                                                data-autoselect=""
                                                [value]="protocols.rest.queryUrl"
                                                #clipboardRestUrlQuery
                                                readonly
                                            />
                                            <div class="input-group-button ms-1">
                                                <button
                                                    (click)="copyToClipboard($event, clipboardRestUrlQuery.value)"
                                                    data-test-id="copyToClipboard-clipboardRestUrlQuery"
                                                    aria-label="Copy to clipboard"
                                                    class="copy-button ms-1"
                                                    data-copy-feedback="Copied!"
                                                    tabindex="0"
                                                    role="button"
                                                >
                                                    <div style="position: relative; display: inline-block">
                                                        <svg-icon name="copy" />
                                                    </div>
                                                    <div style="position: relative; display: none">
                                                        <svg-icon name="checked" />
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-1">
                                        <span class="fs-12 text-muted">
                                            Push data (dataset must have a push source defined):</span
                                        >
                                    </div>
                                    <div class="select-menu-item align-items-start p-0 border-0 mb-2">
                                        <div class="input-group">
                                            <input
                                                type="text"
                                                class="form-control fs-12 rounded"
                                                data-autoselect=""
                                                [value]="protocols.rest.pushUrl"
                                                #clipboardRestUrlPush
                                                readonly
                                            />
                                            <div class="input-group-button ms-1">
                                                <button
                                                    (click)="copyToClipboard($event, clipboardRestUrlPush.value)"
                                                    data-test-id="copyToClipboard-clipboardRestUrlPush"
                                                    aria-label="Copy to clipboard"
                                                    class="copy-button ms-1"
                                                    data-copy-feedback="Copied!"
                                                    tabindex="0"
                                                    role="button"
                                                >
                                                    <div style="position: relative; display: inline-block">
                                                        <svg-icon name="copy" />
                                                    </div>
                                                    <div style="position: relative; display: none">
                                                        <svg-icon name="checked" />
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-100">
                                        <mat-divider class="my-2" />
                                        <div class="d-flex align-items-center">
                                            <mat-icon class="text-muted fs-5 pt-1">info</mat-icon>
                                            <span class="fs-12">
                                                <a
                                                    href="https://docs.kamu.dev/node/protocols/rest-api/"
                                                    target="_blank"
                                                    class="fs-12"
                                                    >REST API documentation</a
                                                >
                                            </span>
                                        </div>
                                    </div>
                                    <mat-divider class="my-2" />
                                </div>
                            </mat-tab>
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <div class="d-flex align-items-center">
                                        <mat-icon class="text-muted fs-5 mt-2">table</mat-icon>
                                        SQL
                                    </div>
                                </ng-template>
                                <div class="select-menu-item flex-column">
                                    <fieldset class="fieldset-border w-100 mb-4">
                                        <legend class="fieldset-border">FlightSQL</legend>
                                        <div class="input-group mb-1">
                                            <span class="fs-12 text-muted"> Connect using FlightSQL:</span>
                                        </div>
                                        <div class="select-menu-item align-items-start p-0 border-0 mb-2">
                                            <div class="input-group">
                                                <input
                                                    type="text"
                                                    class="form-control fs-12 rounded"
                                                    data-autoselect=""
                                                    [value]="protocols.flightsql.url"
                                                    #clipboardFlightSQL
                                                    readonly
                                                />
                                                <div class="input-group-button ms-1">
                                                    <button
                                                        (click)="copyToClipboard($event, clipboardFlightSQL.value)"
                                                        data-test-id="copyToClipboard-clipboardFlightSQL"
                                                        aria-label="Copy to clipboard"
                                                        class="copy-button ms-1"
                                                        data-copy-feedback="Copied!"
                                                        tabindex="0"
                                                        role="button"
                                                    >
                                                        <div style="position: relative; display: inline-block">
                                                            <svg-icon name="copy" />
                                                        </div>
                                                        <div style="position: relative; display: none">
                                                            <svg-icon name="checked" />
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-100 mt-3">
                                            <div class="d-flex align-items-center">
                                                <mat-icon class="text-muted fs-5 pt-1">info</mat-icon>
                                                <span class="fs-12">
                                                    <a
                                                        href="https://docs.kamu.dev/node/protocols/flight-sql/"
                                                        target="_blank"
                                                        class="fs-12"
                                                        >FlightSQL protocol documentation</a
                                                    >
                                                </span>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <fieldset class="fieldset-border w-100 mb-4">
                                        <legend class="fieldset-border">JDBC</legend>
                                        <div class="input-group mb-1">
                                            <span class="fs-12 text-muted"> Connect using JDBC:</span>
                                        </div>
                                        <div class="select-menu-item align-items-start p-0 border-0 mb-2">
                                            <div class="input-group">
                                                <input
                                                    type="text"
                                                    class="form-control fs-12 rounded"
                                                    data-autoselect=""
                                                    [value]="protocols.jdbc.url"
                                                    #clipboardJdbcURL
                                                    readonly
                                                />
                                                <div class="input-group-button ms-1">
                                                    <button
                                                        (click)="copyToClipboard($event, clipboardJdbcURL.value)"
                                                        data-test-id="copyToClipboard-clipboardJdbcURL"
                                                        aria-label="Copy to clipboard"
                                                        class="copy-button ms-1"
                                                        data-copy-feedback="Copied!"
                                                        tabindex="0"
                                                        role="button"
                                                    >
                                                        <div style="position: relative; display: inline-block">
                                                            <svg-icon name="copy" />
                                                        </div>
                                                        <div style="position: relative; display: none">
                                                            <svg-icon name="checked" />
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-100 mt-3">
                                            <div class="d-flex align-items-center">
                                                <mat-icon class="text-muted fs-5 pt-1">info</mat-icon>
                                                <span class="fs-12">
                                                    <a
                                                        href="https://docs.kamu.dev/node/protocols/jdbc/"
                                                        target="_blank"
                                                        class="fs-12"
                                                        >JDBC adapter documentation</a
                                                    >
                                                </span>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <fieldset class="fieldset-border w-100 mb-4">
                                        <legend class="fieldset-border">Postgres</legend>
                                        <div class="input-group mb-1">
                                            <span class="fs-12 text-muted"> Connect using Postgres wire protocol:</span>
                                        </div>
                                        <div class="select-menu-item align-items-start p-0 border-0 mb-2">
                                            <div class="input-group">
                                                <input
                                                    type="text"
                                                    class="form-control fs-12 rounded"
                                                    data-autoselect=""
                                                    [value]="protocols.postgresql.url"
                                                    #clipboardPostgresURL
                                                    readonly
                                                />
                                                <div class="input-group-button ms-1">
                                                    <button
                                                        (click)="copyToClipboard($event, clipboardPostgresURL.value)"
                                                        data-test-id="copyToClipboard-clipboardPostgresURL"
                                                        aria-label="Copy to clipboard"
                                                        class="copy-button ms-1"
                                                        data-copy-feedback="Copied!"
                                                        tabindex="0"
                                                        role="button"
                                                    >
                                                        <div style="position: relative; display: inline-block">
                                                            <svg-icon name="copy" />
                                                        </div>
                                                        <div style="position: relative; display: none">
                                                            <svg-icon name="checked" />
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-100 mt-3">
                                            <div class="d-flex align-items-center">
                                                <mat-icon class="text-muted fs-5 pt-1">info</mat-icon>
                                                <span class="fs-12">
                                                    <a
                                                        href="https://docs.kamu.dev/node/protocols/postgres/"
                                                        target="_blank"
                                                        class="fs-12"
                                                        >Postgres adapter documentation</a
                                                    >
                                                </span>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </mat-tab>
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <div class="d-flex align-items-center">
                                        <mat-icon class="text-muted fs-5 mt-2">stream</mat-icon>
                                        Stream
                                    </div>
                                </ng-template>
                                <div class="select-menu-item flex-column w-100">
                                    <fieldset class="fieldset-border w-100 mb-4">
                                        <legend class="fieldset-border">WebSocket</legend>
                                        <div class="input-group mb-1">
                                            <span class="fs-12 text-muted"> Stream data using WebSocket:</span>
                                        </div>
                                        <div class="select-menu-item align-items-start p-0 border-0 mb-2">
                                            <div class="input-group">
                                                <input
                                                    type="text"
                                                    class="form-control fs-12 rounded"
                                                    data-autoselect=""
                                                    [value]="protocols.websocket.url"
                                                    #clipboardWebsocketURL
                                                    readonly
                                                />
                                                <div class="input-group-button ms-1">
                                                    <button
                                                        (click)="copyToClipboard($event, clipboardWebsocketURL.value)"
                                                        data-test-id="copyToClipboard-clipboardWebsocketURL"
                                                        aria-label="Copy to clipboard"
                                                        class="copy-button ms-1"
                                                        data-copy-feedback="Copied!"
                                                        tabindex="0"
                                                        role="button"
                                                    >
                                                        <div style="position: relative; display: inline-block">
                                                            <svg-icon name="copy" />
                                                        </div>
                                                        <div style="position: relative; display: none">
                                                            <svg-icon name="checked" />
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-100 mt-3">
                                            <div class="d-flex align-items-center">
                                                <mat-icon class="text-muted fs-5 pt-1">info</mat-icon>
                                                <span class="fs-12">
                                                    <a
                                                        href="https://docs.kamu.dev/node/protocols/websocket/"
                                                        target="_blank"
                                                        class="fs-12"
                                                        >WebSocket API documentation</a
                                                    >
                                                </span>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <fieldset class="fieldset-border w-100 mb-4">
                                        <legend class="fieldset-border">Kafka</legend>
                                        <div class="input-group mb-1">
                                            <span class="fs-12 text-muted"> Stream data using Kafka:</span>
                                        </div>
                                        <div class="select-menu-item align-items-start p-0 border-0 mb-2">
                                            <div class="input-group">
                                                <input
                                                    type="text"
                                                    class="form-control fs-12 rounded"
                                                    data-autoselect=""
                                                    [value]="protocols.kafka.url"
                                                    #clipboardKafka
                                                    readonly
                                                />
                                                <div class="input-group-button ms-1">
                                                    <button
                                                        (click)="copyToClipboard($event, clipboardKafka.value)"
                                                        data-test-id="copyToClipboard-clipboardKafka"
                                                        aria-label="Copy to clipboard"
                                                        class="copy-button ms-1"
                                                        data-copy-feedback="Copied!"
                                                        tabindex="0"
                                                        role="button"
                                                    >
                                                        <div style="position: relative; display: inline-block">
                                                            <svg-icon name="copy" />
                                                        </div>
                                                        <div style="position: relative; display: none">
                                                            <svg-icon name="checked" />
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-100 mt-3">
                                            <div class="d-flex align-items-center">
                                                <mat-icon class="text-muted fs-5 pt-1">info</mat-icon>
                                                <span class="fs-12">
                                                    <a
                                                        href="https://docs.kamu.dev/node/protocols/kafka/"
                                                        target="_blank"
                                                        class="fs-12"
                                                        >Kafka broker documentation</a
                                                    >
                                                </span>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </mat-tab>
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <div class="d-flex align-items-center">
                                        <mat-icon class="text-muted fs-5 mt-2">code</mat-icon>
                                        Code
                                    </div>
                                </ng-template>
                                <div class="select-menu-item flex-column">Feature comming soon</div>
                            </mat-tab>
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <div class="d-flex align-items-center">
                                        <mat-icon class="text-muted fs-5 mt-2">post_add</mat-icon>
                                        OData
                                    </div>
                                </ng-template>
                                <div class="select-menu-item flex-column w-100">
                                    <div class="input-group mb-1">
                                        <span class="fs-12 text-muted"> Service endpoint:</span>
                                    </div>
                                    <div class="select-menu-item align-items-start p-0 border-0 mb-2">
                                        <div class="input-group">
                                            <input
                                                type="text"
                                                class="form-control fs-12 rounded"
                                                data-autoselect=""
                                                [value]="protocols.odata.serviceUrl"
                                                #clipboardODataURLService
                                                readonly
                                            />
                                            <div class="input-group-button ms-1">
                                                <button
                                                    (click)="copyToClipboard($event, clipboardODataURLService.value)"
                                                    data-test-id="copyToClipboard-clipboardODataURLService"
                                                    aria-label="Copy to clipboard"
                                                    class="copy-button ms-1"
                                                    data-copy-feedback="Copied!"
                                                    tabindex="0"
                                                    role="button"
                                                >
                                                    <div style="position: relative; display: inline-block">
                                                        <svg-icon name="copy" />
                                                    </div>
                                                    <div style="position: relative; display: none">
                                                        <svg-icon name="checked" />
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-1">
                                        <span class="fs-12 text-muted"> Current dataset as a collection:</span>
                                    </div>
                                    <div class="select-menu-item align-items-start p-0 border-0 mb-2">
                                        <div class="input-group">
                                            <input
                                                type="text"
                                                class="form-control fs-12 rounded"
                                                data-autoselect=""
                                                [value]="protocols.odata.collectionUrl"
                                                #clipboardODataURLCollection
                                                readonly
                                            />
                                            <div class="input-group-button ms-1">
                                                <button
                                                    (click)="copyToClipboard($event, clipboardODataURLCollection.value)"
                                                    data-test-id="copyToClipboard-clipboardODataURLCollection"
                                                    aria-label="Copy to clipboard"
                                                    class="copy-button ms-1"
                                                    data-copy-feedback="Copied!"
                                                    tabindex="0"
                                                    role="button"
                                                >
                                                    <div style="position: relative; display: inline-block">
                                                        <svg-icon name="copy" />
                                                    </div>
                                                    <div style="position: relative; display: none">
                                                        <svg-icon name="checked" />
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="w-100">
                                        <mat-divider class="my-2" />
                                        <div class="d-flex align-items-center">
                                            <mat-icon class="text-muted fs-5 pt-1">info</mat-icon>
                                            <span class="fs-12">
                                                <a
                                                    href="https://docs.kamu.dev/node/protocols/odata/"
                                                    target="_blank"
                                                    class="fs-12"
                                                    >OData adapter details</a
                                                >
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <div class="d-flex align-items-center">
                                        <mat-icon class="text-muted fs-5 mt-2">ios_share</mat-icon>
                                        Export
                                    </div>
                                </ng-template>
                                <div class="select-menu-item flex-column w-100">
                                    <div class="input-group mb-1 d-flex justify-content-center">
                                        <button
                                            class="border rounded download-button btn-group-item d-flex justify-content-center align-items-center"
                                            disabled="true"
                                        >
                                            <span class="mr-2 fs-12">Download</span>
                                            <mat-icon>arrow_drop_down</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </mat-menu>
        </div>
    </li>
</ul>
