@import "var";

.get-data-button {
    padding: 0 12px;

    &:hover {
        background-color: transparent;
    }

    .get-data-text {
        color: #1a7f37;
        font-weight: 700;
        font-size: 17px !important;
    }
}

.download-button {
    height: 28px;
}

a {
    color: $app-navy-blue;
}

::ng-deep.mat-menu-panel-custom {
    max-width: 650px;

    .mat-tab-label {
        min-width: 65px;

        .mat-tab-label-content {
            padding: 0 10px;

            &:hover {
                background: rgb(245 240 240);
                border-radius: 5px;
            }
        }
    }
}

.copy-button {
    border: 0;
    outline: 0;
    background: transparent;
    height: 30px;

    &:hover {
        background: rgb(245 240 240);
        border-radius: 5px;
    }
}

.help-icon {
    padding: 5px 0 0 5px;
}

.select-menu-item {
    cursor: default;
}

::ng-deep .mat-radio-button {
    .mat-radio-container {
        .mat-radio-ripple {
            position: relative;
        }

        .mat-radio-outer-circle {
            height: 16px;
            width: 16px;
            top: 2px;
        }

        .mat-radio-inner-circle {
            height: 16px;
            width: 16px;
            top: 2px;
        }
    }
}

.form-control {
    &:focus {
        box-shadow: none;
        border-color: #dee2e6;
    }
}

fieldset {
    &.fieldset-border {
        border: 1px solid #dee2e6;
        padding: 0 1.4em 1em;
        margin: 0 0 0.5em;
        border-radius: 6px;
    }

    legend {
        &.fieldset-border {
            font-size: 12px;
            font-weight: bold;
            width: auto;
            padding: 0 10px;
            position: relative;
            top: -10px;
            background: white;
        }
    }
}
