{
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "project": ["./tsconfig.json"]
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/strict",
    "plugin:jasmine/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "jasmine"],
  "env": {
    "jasmine": true
  },
  "rules": {
    "no-bitwise": 0,
    "@typescript-eslint/no-extraneous-class": ["off"],
    "@typescript-eslint/no-unsafe-enum-comparison": ["off"],
    "jasmine/new-line-before-expect": 0
  },
  "ignorePatterns": ["node_modules", "dist", "kamu.graphql.interface.ts"]
}
