
{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "project": ["./tsconfig.json"]
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/strict",
    "plugin:jasmine/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "jasmine","license-header"],
  "env": {
    "jasmine": true
  },
  "rules": {
    "no-bitwise": 0,
    "@typescript-eslint/no-extraneous-class": ["off"],
    "@typescript-eslint/unbound-method": [
      "error",
      {
        "ignoreStatic": true
      }
    ],
    "jasmine/new-line-before-expect": 0,
    "jasmine/no-unsafe-spy": ["off"],
    "no-console": "warn",
    "@typescript-eslint/explicit-member-accessibility": [
      "error",
      {
        "accessibility": "explicit"
      }
    ],
    "@typescript-eslint/naming-convention": [
        "error",
        {
          "selector": "classProperty",
          "modifiers": ["public"],
          "format": null,
          "custom": {
            "regex": "^(?!static readonly).*$",
            "match": true
          }
        }
    ]
  },
  "ignorePatterns": ["node_modules", "dist", "kamu.graphql.interface.ts"],
  "overrides": [
    {
      "files": ["src/app/account/settings/tabs/emails-tab/**/*.ts"],
      "rules": {
        "license-header/header": [ "error", "src/docs/license-header-template.js" ]
      }
    }
  ]
}
