{
    "parserOptions": {
      "ecmaVersion": 2021,
      "sourceType": "module",
      "project": ["./tsconfig.json"]
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        //"plugin:@typescript-eslint/recommended-requiring-type-checking",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/strict"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "no-bitwise": 0
    },
    "ignorePatterns": ["node_modules", "kamu.graphql.interface.ts"]
}