<div class="d-flex align-items-center gap-3 ms-1 px-2" data-test-id="cron-expression-form" [formGroup]="form">
    <div class="d-flex align-middle">
        <span class="form-control-label d-block">{{ label }}</span>
    </div>
    <input
        type="text"
        formControlName="cronExpression"
        [placeholder]="placeholder"
        class="form-control form-control-expression"
        data-test-id="cron-expression-input"
        #expession
    />

    <span
        *ngIf="cronExpressionControl?.valid && cronExpressionControl?.value"
        class="fs-12 ms-4"
        data-test-id="cron-expression-next-time"
    >
        {{ NEXT_TIME_LABEL }}: {{ nextTime }}</span
    >

    <span
        class="text-danger fs-12"
        [input]="expession"
        [fieldLabel]="'Expression'"
        [appFieldError]="['required', 'invalidCronExpression']"
        [group]="form"
        [dataTestId]="'error-message'"
    ></span>
</div>
