<div class="d-flex align-items-center gap-3 ms-1 px-2" data-test-id="cron-expression-form">
    <div class="d-flex align-middle">
        <span class="form-control-label d-block">{{ label }}</span>
    </div>
    <input
        type="text"
        [formControl]="cronExpressionControl"
        [placeholder]="placeholder"
        class="form-control form-control-expression"
        data-test-id="cron-expression-input"
    />

    <ng-container
        *ngIf="
            cronExpressionControl.errors?.invalidCronExpression &&
                (cronExpressionControl.touched || cronExpressionControl.dirty);
            else nextTimeTemplate
        "
    >
        <div class="text-danger fs-12 ms-4 text-break" data-test-id="cron-expression-error">
            {{ INVALID_EXPRESSION_MESSAGE }}
        </div>
    </ng-container>

    <ng-template #nextTimeTemplate>
        <span
            *ngIf="cronExpressionControl?.valid && cronExpressionControl?.value"
            class="fs-12 ms-4"
            data-test-id="cron-expression-next-time"
        >
            >{{ NEXT_TIME_LABEL }}: {{ nextTime }}</span
        >
    </ng-template>
</div>
