<div class="container-content mt-4">
    <ng-container *ngIf="flowConnectionData$ | async as flowConnectionData">
        <ng-container *ngIf="flowConnectionData[2].connectionData.nodes.length">
            <div class="d-flex justify-content-between">
                <div class="mt-4">
                    <h2 class="title">{{ flowConnectionData[2].connectionData.totalCount }} Account flow run(s)</h2>
                    <div>
                        <span class="text-muted"> Compute work associated with this account </span>
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <button
                        class="border-1 px-3 py-2 bg-light border rounded-2 px-2 btn btn-sm d-flex justify-content-between align-items-center"
                        type="button"
                    >
                        Pause account flows
                    </button>
                </div>
            </div>
            <div class="d-flex justify-content-end mt-4 mb-2">
                <button
                    (click)="refreshFlow()"
                    class="border-1 bg-light border rounded-2 px-2 btn btn-sm d-flex justify-content-between align-items-center"
                >
                    <mat-icon class="text-muted fs-4 d-block">cached</mat-icon>
                    <span class="fs-12 me-2 d-block"> Refresh flow</span>
                </button>
            </div>
            <div class="search-result-container__content my-4">
                <app-tile-base-widget [nodes]="flowConnectionData[2].connectionData.nodes"></app-tile-base-widget>
            </div>
            <app-flows-table
                [nodes]="flowConnectionData[0].connectionData.nodes"
                [filterByStatus]="filterByStatus"
                [filterByInitiator]="filterByInitiator"
                [searchByDataset]="searchByDataset"
                [accountView]="true"
                [accountName]="accountName"
                [accountDatasets]="flowConnectionData[1]"
                (filterByStatusChange)="onChangeFilterByStatus($event)"
                (filterByInitiatorChange)="onChangeFilterByInitiator($event)"
                (searchByDatasetNameChange)="onSearchByDatasetName($event)"
            ></app-flows-table>
            <div class="mt-50px">
                <app-pagination
                    [currentPage]="flowConnectionData[0].connectionData.pageInfo.currentPage + 1"
                    [pageInfo]="flowConnectionData[0].connectionData.pageInfo"
                    (pageChangeEvent)="onPageChange($event)"
                ></app-pagination>
            </div>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="flowConnectionData$ | async as flowConnectionData">
        <div *ngIf="!flowConnectionData[2].connectionData.nodes.length">No flows related with account</div>
    </ng-container>
</div>
