.badge-button {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-button {
    height: 28px !important;
}

.action-link {
    height: auto !important;
    color: #000;
}
