.content {
    display: flex;
    gap: 4px;
    flex-flow: row wrap;

    .tile-item {
        width: 15px;
        height: 15px;
        border-radius: 2px;
    }
}

.completed {
    background: #0db28d;
}

.queued,
.waiting {
    background: #d3c22a;
}

.running {
    background: #8bdaaf;
}

.scheduled {
    background: #2a8dd3;
}

.failed {
    background: #d13124;
}

.aborted {
    background: rgba(181 175 175);
}

.tooltip-class {
    white-space: pre-line;
}
