<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <img [src]="APP_LOGO" alt="Application logo" />
                <h1>Oops!</h1>
                <h2>404 Requested Page Not Found</h2>
                <div class="error-actions d-flex justify-content-center">
                    <button class="app-active-button" (click)="navigateToHome()">
                        <span><i class="bi bi-house-door icon-home"></i></span>Take me home
                    </button>
                </div>
                <div class="text-center mt-3" *ngIf="!isAuthenticated">
                    <button
                        type="button"
                        class="btn btn-link"
                        (click)="navigateToLogin()"
                        data-test-id="navigate-to-login-btn"
                    >
                        Try signing in
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
