input {
    text-overflow: ellipsis;
}

.w-300 {
    width: 300px;
}

.block-query {
    padding: 15px 30px 30px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
}

.button-style {
    background-image: linear-gradient(#f7f8fa, #e7e9ec);
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    box-shadow: rgb(255 255 255 / 60%) 0 1px 0 inset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 3px 10px;

    &:hover {
        background-image: linear-gradient(#ebeef6, #c5c8cc);
    }
}

.container-monaco {
    background-color: #fff;
}
