p {
    margin: 0;
}

.danger-color {
    color: #cf222e;
}

.delete-account-button {
    color: #cf222e;
    padding: 3px 12px;
    font-size: 14px;
    height: 32px;
    border: 1px solid rgba(27 31 36 / 25%);
    border-radius: 6px;
    white-space: nowrap;
}

.change-username-button {
    padding: 3px 12px;
    font-size: 14px;
    height: 32px;
    border: 1px solid rgba(27 31 36 / 25%);
    border-radius: 6px;
}

.username-control {
    width: 270px;
}
