@import "var";

.container-section {
    min-height: 420px;
}

.placeholder-padding-left {
    padding: 6px 8px 8px 35px;
}

.outline-none {
    outline: none;
}

.close-position {
    top: 8px;
    right: 20px;
    padding: 5px;

    &:hover {
        cursor: pointer;
    }
}

.custom-border {
    border: 1px solid #ccc;

    &::placeholder {
        color: #999;
    }
}

.position-list-icon {
    position: absolute;
    top: 9px;
    left: 9px;
}

.search-icon {
    position: absolute;
    left: 4px;
    top: -1px;
    color: #999;
}
