.preview-img {
    max-width: 100%;
    height: 300px;
}

.preview-svg {
    max-width: 100%;
    height: 200px;
    transform: scale(300%);
}

.upload-file-container {
    height: 185px;
    position: relative;
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 100;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background:
        linear-gradient(to right, #000 50%, #fff 70%) top/15px 1px repeat-x,
        /* top */ linear-gradient(#000 50%, #fff 70%) right/1px 15px repeat-y,
        /* right */ linear-gradient(to right, #000 50%, #fff 70%) bottom/15px 1px repeat-x,
        /* bottom */ linear-gradient(#000 50%, #fff 70%) left/1px 15px repeat-y; /* left */

    &:hover {
        cursor: pointer;
    }

    .upload-file-loading {
        width: 50px;
    }

    .upload-file-icon {
        z-index: 10;
    }

    .upload-file-description {
        font-size: 18px;
        z-index: 10;
    }

    .upload-button-container {
        .upload-button {
            width: 115px;
            margin: auto;
        }
    }
}

.rollback-label {
    margin-left: 4px;
}
