:host {
    ::ng-deep {
        .mat-mdc-standard-chip {
            --mdc-chip-elevated-container-color: #f6f8fa;

            .mdc-evolution-chip__text-label {
                color: #0969da !important;
                font-size: 12px;
                font-weight: 500;
            }
        }
    }
}

.custom-mat-chip {
    background: #d0d7de;
}

.no-data-container {
    background-color: rgb(97 144 195 / 15%);
}

.upload-file-container {
    height: 185px;
    position: relative;
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 100;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background:
        linear-gradient(to right, #000 50%, #fff 70%) top/15px 1px repeat-x,
        /* top */ linear-gradient(#000 50%, #fff 70%) right/1px 15px repeat-y,
        /* right */ linear-gradient(to right, #000 50%, #fff 70%) bottom/15px 1px repeat-x,
        /* bottom */ linear-gradient(#000 50%, #fff 70%) left/1px 15px repeat-y; /* left */

    &:hover {
        cursor: pointer;
    }

    .upload-file-loading {
        width: 50px;
    }

    .upload-file-icon {
        z-index: 10;
    }

    .upload-file-description {
        font-size: 18px;
        z-index: 10;
    }

    .add-data-button-container {
        .add-data-button {
            width: 140px;
            margin: auto;
        }
    }

    .upload-file-hint {
        font-size: 12px;
        color: #8a9cae;
        z-index: 5;
    }
}
