.custom-mat-chip {
    background: #d0d7de;
}

.custom-edit {
    border: 1px solid grey;
    border-radius: 6px;

    &:hover {
        background: #f3f4f6;
        border: 1px solid grey;
        border-radius: 6px;
    }
}

.no-data-container {
    background-color: rgb(97 144 195 / 15%);
}
