<ul class="nav search-additional-buttons__nav mb-2 container-main">
    <li class="nav-item">
        <div class="btn-group-parent">
            <button
                appFeatureFlag="dataset.getData"
                class="get-data-button border rounded btn-group-item d-flex justify-content-center align-items-center"
                data-test-id="searchAdditionalButtons"
                (click)="openDataAccessModal()"
            >
                <mat-icon class="fs-5 pt-1" style="color: #1a7f37">system_update_alt</mat-icon>
                <span class="mr-2 fs-5 get-data-text">Get Data</span>
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
        </div>
    </li>
</ul>
