@use "var" as *;

.btn-group-parent {
    .get-data-button {
        padding: 0 12px;
        border-color: #d0d7de;

        &:hover {
            background-color: transparent;
        }

        .get-data-text {
            color: #1a7f37;
            font-weight: 700;
            font-size: 17px;
        }
    }
}

.nav-margin {
    margin-right: 20px;
}
