@use "var" as *;

.btn-group-parent {
    .get-data-button {
        background: #2c974b;
        border-color: rgb(27 31 36 / 15%);
        color: #fff;
        position: relative;
        display: inline-block;
        padding: 14px;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 6px;
        height: 33px;

        &:hover {
            background: #34b358;
        }

        .get-data-text {
            color: #fff;
            font-size: 14px;
            font-weight: 500;
        }
    }
}

.nav-margin {
    margin-right: 20px;
}
