<form [formGroup]="changeAdminAccountPasswordForm" class="pb-4">
    <dl class="form-group d-block mt-3 mb-0">
        <dt class="input-label mb-2 fw-600">
            <label for="new-password">New password</label>
        </dt>
        <dd>
            <input
                formControlName="newPassword"
                type="password"
                class="form-control password-control"
                id="new-password"
                data-test-id="new-password"
                autocomplete="off"
                #newPassword
            />
        </dd>
        <div
            class="text-danger fs-12"
            [input]="newPassword"
            [fieldLabel]="'New password'"
            [appFieldError]="['required', 'minlength']"
            [group]="changeAdminAccountPasswordForm"
        ></div>
    </dl>
    <dl class="form-group d-block mt-3 mb-0">
        <dt class="input-label mb-2 fw-600">
            <label for="confirm-password">Confirm password</label>
        </dt>
        <dd>
            <input
                formControlName="confirmPassword"
                type="password"
                class="form-control password-control"
                id="confirm-password"
                data-test-id="confirm-password"
                autocomplete="off"
                #confirmPassword
            />
        </dd>
        <div
            class="text-danger fs-12"
            [input]="confirmPassword"
            [fieldLabel]="'Confirm password'"
            [appFieldError]="ErrorSets.ConfirmPassword"
            [group]="changeAdminAccountPasswordForm"
        ></div>
    </dl>
    <div>
        <button
            [disabled]="changeAdminAccountPasswordForm.invalid"
            class="mt-4 update-password-button"
            type="button"
            data-test-id="update-password-button"
            (click)="updateAdminPassword()"
        >
            Update password
        </button>
    </div>
</form>
