[data-test-id="searchAdditionalButtons"] {
    height: inherit;
    border-radius: inherit;
}

.menu-link {
    div {
        padding: 0 12px;
    }

    &:hover {
        text-decoration: none;
    }
}
