.truncate-cell {
    max-width: 600px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 3px;
}

.truncate-path {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 3px;

    &:hover {
        cursor: pointer;
    }
}

.mat-mdc-row,
.mat-mdc-row .up-row {
    height: 34px;
    &:hover {
        background-color: rgb(0 0 0 / 3%);
        cursor: pointer;
    }
}

.file-name {
    color: #000;
    text-decoration: none;
}

.file-icon {
    transform: scale(0.8);
}

.mat-mdc-header-row {
    height: 34px;
    font-size: 12px;

    .up-row {
        &:hover {
            background-color: rgb(0 0 0 / 3%);
            cursor: pointer;
        }
    }
}

.img-creator {
    width: 18px;
    height: 18px;
    object-fit: cover;
}
