.message-success {
    background: #c9efcb;
    color: #0db24f;
    border-color: #0db24f;
}

.message-error {
    background: #efd4dc;
    border-color: #ef6363;
}

.error-color {
    color: #ef6363;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-13 {
    font-size: 13px !important;
}
