.custom-button {
    height: 28px;

    span {
        font-size: 12px;
    }

    button {
        background-color: #ffff !important;

        &:hover {
            background-color: #f3f4f6 !important;
            border-color: rgb(27 31 36 / 14.9%) !important;
            transition-duration: 0.1s !important;
        }
    }
}

button.mat-menu-item {
    background-color: #ffff !important;
}
