.custom-button {
    height: 28px;
    display: flex;

    span {
        font-size: 12px;
    }

    button {
        background-color: #ffff;

        &:hover {
            background-color: #f3f4f6;
            border-color: rgb(27 31 36 / 14.9%);
            transition-duration: 0.1s;
        }
    }
}
