<div class="paginate-container">
    <!-- TODO: Handle case when number of totalPages is unknown -->
    <ngb-pagination
        class="pagination-custom"
        [collectionSize]="(pageInfo.totalPages || currentPage + 1) * 10"
        [maxSize]="7"
        [(page)]="currentPage"
        (pageChange)="onPageChange(currentPage)"
        aria-label="Custom pagination"
    >
        <ng-template ngbPaginationPrevious
            ><span class="previous_page"></span><span>Prev</span></ng-template
        >
        <ng-template ngbPaginationNext
            ><span>Next</span><span class="next_page"></span
        ></ng-template>
    </ngb-pagination>
</div>
