<div class="d-flex justify-content-between align-items-start">
    <h2>Password</h2>
    <button
        class="ms-4 change-password-btn"
        type="button"
        (click)="showChangePasswordView = !showChangePasswordView"
        data-test-id="change-password-button"
    >
        {{ showChangePasswordView ? "Hide" : "Change password" }}
    </button>
</div>
<mat-divider />
<p class="mt-2 fs-12 text-muted">Strengthen your account by ensuring your password is strong.</p>
<div class="mt-4" *ngIf="showChangePasswordView">
    <app-admin-change-password [accountName]="account.accountName" *ngIf="isAdmin" />
    <form [formGroup]="changeUserAccountPasswordForm" class="pb-4" *ngIf="!isAdmin">
        <dl class="form-group d-block mt-3 mb-0">
            <dt class="input-label mb-2 fw-600">
                <label for="old-password">Old password</label>
            </dt>
            <dd>
                <input
                    formControlName="oldPassword"
                    type="password"
                    class="form-control password-control"
                    id="old-password"
                    data-test-id="old-password"
                    autocomplete="off"
                    #oldPassword
                />
            </dd>
            <div
                class="text-danger fs-12"
                [input]="oldPassword"
                [fieldLabel]="'Old password'"
                [appFieldError]="['required']"
                [group]="changeUserAccountPasswordForm"
            ></div>
        </dl>
        <dl class="form-group d-block mt-3 mb-0">
            <dt class="input-label mb-2 fw-600">
                <label for="new-password">New password</label>
            </dt>
            <dd>
                <input
                    formControlName="newPassword"
                    type="password"
                    class="form-control password-control"
                    id="new-password"
                    data-test-id="new-password"
                    autocomplete="off"
                    #newPassword
                />
            </dd>
            <div
                class="text-danger fs-12"
                [input]="newPassword"
                [fieldLabel]="'New password'"
                [appFieldError]="['required', 'minlength']"
                [group]="changeUserAccountPasswordForm"
            ></div>
        </dl>
        <dl class="form-group d-block mt-3 mb-0">
            <dt class="input-label mb-2 fw-600">
                <label for="confirm-password">Confirm password</label>
            </dt>
            <dd>
                <input
                    formControlName="confirmPassword"
                    type="password"
                    class="form-control password-control"
                    id="confirm-password"
                    data-test-id="confirm-password"
                    autocomplete="off"
                    #confirmPassword
                />
            </dd>
            <div
                class="text-danger fs-12"
                [input]="confirmPassword"
                [fieldLabel]="'Confirm password'"
                [appFieldError]="ErrorSets.ConfirmPassword"
                [group]="changeUserAccountPasswordForm"
            ></div>
        </dl>
        <div>
            <button
                [disabled]="changeUserAccountPasswordForm.invalid"
                class="mt-4 update-password-button"
                type="button"
                data-test-id="update-password-button"
                (click)="updateUserPassword()"
            >
                Update password
            </button>
        </div>
    </form>
</div>
