.change-password-btn,
.update-password-button {
    padding: 3px 12px;
    font-size: 14px;
    height: 32px;
    border: 1px solid rgb(27 31 36 / 25%);
    border-radius: 6px;

    &:not(:disabled) {
        &:hover {
            background: rgb(27 31 36 / 16%);
        }
    }
}

dd {
    margin-bottom: 0;
}

.password-control {
    width: 270px;
}
