<div [id]="idTable" style="width: 100%; overflow: auto" class="dynamic-table">
    <!-- <pre>{{ this.dataSource.data | json }}</pre> -->
    <!-- <pre>{{ editingRow | json }}</pre>
    <pre>Struct: {{ editingStructRow | json }}</pre> -->
    <!-- <pre> {{ form.controls.schema.value | json }}</pre> -->
    <table
        mat-table
        [dataSource]="dataSource"
        #table
        *ngIf="currentSchemaView === EditSchemaView.SCHEMA; else editStructTemplate"
    >
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>name</th>
            <td mat-cell *matCellDef="let element; let rowIndex = index">
                <div *ngIf="editingIndex === rowIndex; else viewName">
                    <input
                        appAutofocus
                        [placeholder]="'Enter name'"
                        *ngIf="editingRow"
                        [(ngModel)]="editingRow.name"
                        type="text"
                        class="form-control"
                    />
                </div>

                <ng-template #viewName>
                    {{ element.name }}
                </ng-template>
            </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>type</th>
            <td mat-cell *matCellDef="let element; let rowIndex = index">
                <div *ngIf="editingIndex === rowIndex; else viewType" class="d-flex justify-content-between py-3">
                    <app-type-editor
                        *ngIf="editingRow?.type"
                        [value]="editingRow?.type!"
                        (typeChange)="typeChangeHandle($event)"
                    />

                    <div class="action-buttons d-flex ms-4 align-items-center">
                        <button
                            class="d-flex align-items-center justify-content-center edit-button mt-1"
                            (click)="saveEditing(rowIndex)"
                            [disabled]="!editingRow?.name"
                        >
                            <mat-icon class="action-button text-muted" svgIcon="check" />
                        </button>

                        <button
                            class="d-flex align-items-center justify-content-center delete-button mt-1"
                            (click)="cancelEditing()"
                        >
                            <mat-icon class="action-button text-muted" svgIcon="close"></mat-icon>
                        </button>
                    </div>
                </div>

                <ng-template #viewType>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="truncate-cell">{{ odfType2String(element) }}</div>
                        <div class="action-buttons d-flex">
                            <button
                                class="d-flex align-items-center justify-content-center edit-button"
                                (click)="editRow(element, rowIndex); $event.stopPropagation()"
                            >
                                <mat-icon class="action-button text-muted" svgIcon="pencil" />
                            </button>

                            <button
                                class="d-flex align-items-center justify-content-center delete-button"
                                (click)="deleteRow(rowIndex); $event.stopPropagation()"
                            >
                                <mat-icon class="action-button text-muted" svgIcon="delete"></mat-icon>
                            </button>
                        </div>
                    </div>
                </ng-template>
            </td>
        </ng-container>

        <ng-container *ngIf="hasTableHeader">
            <tr class="table-header-background" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        </ng-container>
        <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns; let rowIndex = index"
            [class.row-editable]="editingIndex === rowIndex"
        ></tr>
    </table>

    <div class="mt-3" *ngIf="currentSchemaView === EditSchemaView.SCHEMA">
        <ng-container>
            <button
                class="border-1 bg-light border rounded-2 px-2 btn btn-sm d-flex justify-content-between align-items-center me-3"
                data-test-id="add-schema-field"
                (click)="startAddField()"
                [disabled]="disabledAddFieldButton"
            >
                <mat-icon class="text-muted fs-4 d-block">add</mat-icon>
                <span class="fs-12 me-2 d-block"> Add field</span>
            </button>
        </ng-container>
    </div>

    <ng-template #editStructTemplate let-rowIndex="rowIndex">
        <ul
            ngbNav
            #nav="ngbNav"
            [(activeId)]="currentSchemaView"
            class="nav-tabs"
            (navChange)="onNavChange($event, rowIndex)"
        >
            <li [ngbNavItem]="EditSchemaView.SCHEMA">
                <button [disabled]="!structFieldName" ngbNavLink>Root</button>
            </li>
            <li [ngbNavItem]="EditSchemaView.STRUCT">
                <button ngbNavLink>{{ editingStructFieldName }}</button>
                <ng-template ngbNavContent>
                    <div class="mt-4 mb-2">
                        <label> Name:</label>
                        <input
                            [placeholder]="'Enter name'"
                            *ngIf="editingStructRow"
                            [(ngModel)]="editingStructRow.name"
                            type="text"
                            class="form-control"
                        />
                    </div>
                    <div class="mt-3">Fields:</div>
                    <app-edit-schema-table
                        class="mb-2"
                        [hasTableHeader]="true"
                        [columnDescriptors]="[{ columnName: 'name' }, { columnName: 'type' }]"
                        [dataRows]="structField?.fields ?? []"
                        [idTable]="'edit-schema-table-inner'"
                        tableClass="font-monospace"
                    />
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </ng-template>
</div>
