.container-step {
    margin-top: 40px;
}

.layout {
    max-width: 1200px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 30px 100px;
    position: relative;
}

.stepper-header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mat-stepper-horizontal {
    background-color: transparent;
}
