.from-label {
    position: absolute;
    left: 5px;
    bottom: 33px;
}

.status-label {
    position: absolute;
    left: 5px;
    bottom: 37px;
}

.order-label {
    position: absolute;
    left: 5px;
    bottom: 23px;
}

.time-distance-label {
    position: absolute;
    left: 5px;
    bottom: 33px;
}

.container-order {
    width: 200px;
}

.quick-range-label {
    position: absolute;
    left: 24px;
    bottom: 47px;
}

.quick-next-range-label {
    position: absolute;
    left: 24px;
    bottom: 115px;
}

.failures-control {
    width: 180px;
}

.ml-6px {
    margin-left: 6px;
}
