a {
    color: #0969da !important;
}

.mt-30 {
    margin-top: 30px;
}

.mt-60 {
    margin-top: 60px;
}

.placeholder-padding-left {
    padding: 6px 30px 6px 35px;
}

.close-position {
    top: 9px;
    right: 5px;

    &:hover {
        cursor: pointer;
    }
}

.add-row-button {
    padding: 3px 12px;
    font-size: 14px;
    height: 32px;
    border: 1px solid rgb(27 31 36 / 25%);
    border-radius: 6px;

    &:hover {
        background: rgb(27 31 36 / 16%);
    }
}

.delete-button,
.edit-button {
    border: 0;
    outline: none;
    background: transparent;
}

td.mat-mdc-cell {
    border: none;
    padding-top: 24px;

    .secret-key-icon {
        top: 55%;
        left: 62%;
    }
}

.mb-100 {
    margin-bottom: 100px;
}
