@import "var";

.dataset-list-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    &__title-row {
        display: flex;
        justify-content: space-between;

        &__dataset-name {
            display: flex;
            justify-content: left;

            i {
                margin-right: 8px;
            }
        }
    }

    &__title {
        display: flex;
        background: none;
        border: none;
        color: $app-navy-blue;
        font-size: 16px;

        &:hover,
        &:active {
            cursor: pointer;
            text-decoration: underline;
            background: none;
        }
    }

    &__additional-block {
        display: flex;
        gap: 5px;
    }

    &__description {
        font-size: 14px;
    }
}
