@import "var";

.custom-container {
    display: grid;
    grid-template-columns: 300px 1fr;
}

.content-container {
    padding: 15px 30px 0;

    ::ng-deep {
        h2 {
            font-weight: 400;
            margin: 0;
        }

        h3 {
            font-weight: 500;
            font-size: 14px;
            line-height: 2;
            margin-bottom: 8px;
        }

        p {
            margin: 0;
        }

        dl {
            margin: 0;
        }
    }
}

.action-list {
    padding: 0;
}

.action-list-item {
    position: relative;
    list-style: none;
    border-radius: 6px;
    text-decoration: none;

    a {
        &:hover {
            cursor: pointer;
            text-decoration: none;
        }
    }
}

.action-list-content {
    position: relative;
    display: grid;
    width: 100%;
    padding: 6px 8px;
    font-size: 14px;
    font-weight: 400;
    color: $app-color-fg-default;
    text-align: left;
    user-select: none;
    background-color: transparent;
    border: none;
    border-radius: 6px;
    transition: background 33.333ms linear;
    touch-action: manipulation;
    grid-template-rows: min-content;
    grid-template-areas: "leadingAction leadingVisual label trailingVisual trailingAction";
    grid-template-columns: min-content max-content;
    align-items: start;

    &:hover {
        background: $app-color-action-list-item-default-selected-bg;
    }
}

.action-list-item--nav-active {
    background: $app-color-action-list-item-default-selected-bg;

    &::after {
        position: absolute;
        top: calc(50% - 12px);
        left: -8px;
        width: 4px;
        height: 24px;
        content: "";
        background: $app-color-accent-fg;
        border-radius: 6px;
    }

    a {
        font-weight: 600;
    }
}
