h5 {
    margin: 0;
}

.find-people-search {
    padding: 3px;
}

::ng-deep .mat-radio-button {
    .mat-radio-container {
        .mat-radio-ripple {
            position: relative;
        }

        .mat-radio-outer-circle {
            height: 16px;
            width: 16px;
            top: 2px;
        }

        .mat-radio-inner-circle {
            height: 16px;
            width: 16px;
            top: 2px;
        }
    }
}

input[type="radio"] {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
    position: relative;
}
