@use "var" as *;

:host {
    ::ng-deep {
        .mat-mdc-standard-chip {
            --mdc-chip-elevated-container-color: #f6f8fa;

            .mdc-evolution-chip__text-label {
                color: #0969da !important;
                font-size: 12px;
                font-weight: 500;
            }
        }
    }
}

.dataset-list-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    &-title-row {
        display: flex;
        justify-content: space-between;

        &-dataset-name {
            display: flex;
            justify-content: left;

            i {
                margin-right: 8px;
            }
        }
    }

    &-title {
        display: flex;
        background: none;
        border: none;
        color: $app-navy-blue;
        font-size: 16px;

        &:hover,
        &:active {
            cursor: pointer;
            text-decoration: underline;
            background: none;
        }
    }

    &-additional-block {
        display: flex;
        align-items: baseline;
        gap: 5px;
    }

    &-description {
        font-size: 14px;
    }
}

.disabled {
    opacity: 0.4 !important;
}
