@import "var";
/* stylelint-disable-next-line import-notation */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

.icon-status {
    transform: scale(0.7);
}

.completed-status {
    color: #239a59;
}

.running-status {
    color: #d3c22a;
}

.failed-status {
    color: #d13124;
}

.updated-icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #0abee5;
}

.queued-icon {
    width: 10px;
    height: 10px;
    color: #d3c22a;
    border: 1px solid #d3c22a;
    border-radius: 50%;
}

.container-icon {
    padding: 10px 7px 10px 8px;
}
