@import "var";
@import "node_modules/bootstrap/dist/css/bootstrap.min";

.timeline-block {
    position: relative;

    .timeline-block__item {
        display: flex;
        padding: 16px 0;
        margin-left: 16px;
        list-style: none;
        position: relative;

        &:last-child {
            &::after {
                position: absolute;
                display: block;
                width: 1px;
                top: 32px;
                left: 10px;
                height: 60px;
                content: "";
                background-color: $app-color-border-muted;
            }
        }

        &::after {
            position: absolute;
            display: block;
            width: 1px;
            top: 32px;
            left: 10px;
            height: 84px;
            content: "";
            background-color: $app-color-border-muted;
        }
    }
}

.timeline-block__body {
    min-width: 0;
    max-width: 100%;
    margin-top: 4px;
    color: $app-color-fg-muted;
    flex: auto;
}

.account-icon {
    margin-left: 2px;
    margin-right: 8px;
}

a {
    color: #24292f;
    font-weight: 500;

    &:hover {
        color: #0969da;
    }
}

.container-icon {
    display: flex;
    position: relative;
    top: 12px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #d8dee4;
    background: white;
    margin-right: 19px;

    .inner-icon {
        height: 8px;
        width: 8px;
        border-radius: 50%;
        border: 3px solid #7ca6aa;
        background: transparent;
    }
}

.commit-icon {
    position: absolute;
    top: 19px;
    left: 8px;
}
