@use "var" as *;

ul {
    padding: 0;
}

.timeline-block {
    position: relative;

    .timeline-block__item {
        display: flex;
        padding: 16px 0;
        list-style: none;
        position: relative;

        &:last-child {
            &::after {
                position: absolute;
                display: block;
                width: 1px;
                top: 27px;
                left: 9.5px;
                height: 73px;
                content: "";
                background-color: $app-color-border-muted;
            }
        }

        &::after {
            position: absolute;
            display: block;
            width: 1px;
            top: 27px;
            left: 9.5px;
            height: 99px;
            content: "";
            background-color: $app-color-border-muted;
        }

        &::before {
            position: absolute;
            display: block;
            width: 1px;
            top: -60px;
            left: 9.5px;
            height: 77px;
            content: "";
            background-color: $app-color-border-muted;
        }

        &:first-child {
            &::before {
                display: none;
            }
        }
    }
}

.timeline-block__body {
    min-width: 0;
    max-width: 100%;
    margin-top: 4px;
    color: $app-color-fg-muted;
    flex: auto;
}

.account-icon {
    margin-left: 2px;
    margin-right: 8px;
}

a {
    color: #24292f;
    font-weight: 500;

    &:hover {
        color: #0969da;
    }
}

.container-icon {
    display: flex;
    position: relative;
    top: 17px;
    left: 5px;
    height: 10px;
    width: 10px;
    background: transparent;
    margin-right: 30px;

    .inner-icon {
        position: absolute;
        min-height: 10px;
        min-width: 10px;
        border-radius: 50%;
        border: 2px solid #606060;
        background: transparent;
    }
}

.horizontal-line {
    position: absolute;
    width: 30px;
    left: 15px;
    height: 1px;
    background: $app-color-border-muted;
    top: 21px;
}
