@import "var";
@import "node_modules/bootstrap/dist/css/bootstrap.min";

ul {
    padding: 0;
}

.timeline-block {
    position: relative;

    .timeline-block__item {
        display: flex;
        padding: 16px 0;
        list-style: none;
        position: relative;

        &:last-child {
            &::after {
                position: absolute;
                display: block;
                width: 1px;
                top: 27px;
                left: 10px;
                height: 69px;
                content: "";
                background-color: $app-color-border-muted;
            }
        }

        &::after {
            position: absolute;
            display: block;
            width: 1px;
            top: 27px;
            left: 9.5px;
            height: 95px;
            content: "";
            background-color: $app-color-border-muted;
        }

        &::before {
            position: absolute;
            display: block;
            height: 1px;
            width: 26px;
            top: 22.5px;
            left: 15px;
            content: "";
            background-color: $app-color-border-muted;
        }
    }
}

.timeline-block__body {
    min-width: 0;
    max-width: 100%;
    margin-top: 4px;
    color: $app-color-fg-muted;
    flex: auto;
}

.account-icon {
    margin-left: 2px;
    margin-right: 8px;
}

a {
    color: #24292f;
    font-weight: 500;

    &:hover {
        color: #0969da;
    }
}

.container-icon {
    display: flex;
    position: relative;
    top: 12px;
    height: 20px;
    width: 20px;
    background: transparent;
    margin-right: 19px;

    .inner-icon {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        border: 3px solid #7ca6aa;
        background: transparent;
    }
}

.commit-icon {
    position: absolute;
    top: 19px;
    left: 8px;
}
