<div class="flex-column w-100 px-4 pb-4">
    <fieldset class="fieldset-border w-100 mb-4">
        <legend class="fieldset-border">WebSocket</legend>
        <div class="input-group mb-1">
            <span class="fs-12 text-muted"> Stream data using WebSocket:</span>
        </div>
        <div class="select-menu-item align-items-start p-0 border-0 mb-2">
            <div class="input-group">
                <input
                    type="text"
                    class="form-control fs-12 rounded form-control-data-access"
                    data-autoselect=""
                    [value]="websocket.url"
                    #clipboardWebsocketURL
                    readonly
                />
                <div class="input-group-button ms-1">
                    <app-copy-to-clipboard
                        [text]="clipboardWebsocketURL.value"
                        [dataTestId]="'copyToClipboard-clipboardWebsocketURL'"
                    />
                </div>
            </div>
        </div>
        <div class="w-100 mt-3">
            <div class="d-flex align-items-center">
                <mat-icon class="text-muted fs-5 pt-1">info</mat-icon>
                <span class="fs-12">
                    <a href="https://docs.kamu.dev/node/protocols/websocket/" target="_blank" class="fs-12"
                        >WebSocket API documentation</a
                    >
                </span>
            </div>
        </div>
    </fieldset>

    <fieldset class="fieldset-border w-100 mb-4">
        <legend class="fieldset-border">Kafka</legend>
        <div class="input-group mb-1">
            <span class="fs-12 text-muted"> Stream data using Kafka:</span>
        </div>
        <div class="select-menu-item align-items-start p-0 border-0 mb-2">
            <div class="input-group">
                <input
                    type="text"
                    class="form-control fs-12 rounded form-control-data-access"
                    data-autoselect=""
                    [value]="kafka.url"
                    #clipboardKafka
                    readonly
                />
                <div class="input-group-button ms-1">
                    <app-copy-to-clipboard
                        [text]="clipboardKafka.value"
                        [dataTestId]="'copyToClipboard-clipboardKafka'"
                    />
                </div>
            </div>
        </div>
        <div class="w-100 mt-3">
            <div class="d-flex align-items-center">
                <mat-icon class="text-muted fs-5 pt-1">info</mat-icon>
                <span class="fs-12">
                    <a href="https://docs.kamu.dev/node/protocols/kafka/" target="_blank" class="fs-12"
                        >Kafka broker documentation</a
                    >
                </span>
            </div>
        </div>
    </fieldset>
</div>
