:host {
    ::ng-deep {
        .mat-slide-toggle {
            .mat-slide-toggle-ripple {
                position: relative;
            }
        }

        .mdc-switch {
            .mdc-switch__ripple {
                display: none;
            }
        }

        .mat-mdc-radio-button {
            --mat-radio-checked-ripple-color: transparent;
            --mat-radio-ripple-color: transparent;
        }

        .mat-mdc-radio-label {
            white-space: normal;
        }
    }
}

.custom-container {
    padding-bottom: 100px;

    h4 {
        font-weight: 500;
        letter-spacing: normal;
    }

    .form-control-width {
        width: 132px;
    }

    .form-control-expression {
        width: 132px;
    }

    .form-control-label {
        min-width: 140px;
    }

    .cron-expression-hint {
        padding-left: 150px;
    }
}

@media (width <=1085px) {
    .custom-container {
        .form-control-width {
            width: 80px;
        }
    }
}
