@use "var" as *;

.search-result-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 220px;
}

.column-type {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 65%;
    color: grey;
}

.inner-btn {
    position: absolute;
    width: 10px;
    font-weight: 550;
    border: none;
    background-color: transparent;
    line-height: 35px;
    left: calc(100% - 30px);

    &:hover {
        color: blue;
    }
}

.example-tree-invisible {
    display: none;
}

.search-control {
    width: 416px;
    padding: 6px 33px 6px 10px;
}

.example-accordion-item {
    display: block;
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
}

.datatab-expanding-row {
    transition: margin 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: margin;

    &-header {
        color: #000;
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
        cursor: pointer;
        display: flex;
        padding: 4px 10px;
        background: #fff;
        border-top: solid 1px #ccc;
        border-left: solid 1px #ccc;
        border-right: solid 1px #ccc;

        &:hover {
            cursor: pointer;
        }

        &-content {
            flex-grow: 1;
            max-width: calc(100% - 24px);
        }
    }
}
