<div class="container-content overflow-unset mt-4">
    <ul
        ngbNav
        #nav="ngbNav"
        [(activeId)]="accountFlowsData.activeNav"
        (navChange)="onNavChange($event)"
        class="nav-tabs"
    >
        <li [ngbNavItem]="AccountFlowsNav.ACTIVITY">
            <button ngbNavLink>Activity</button>
            <ng-template ngbNavContent>
                <app-account-flows-activity-subtab [accountFlowsData]="accountFlowsData" [accountName]="accountName" />
            </ng-template>
        </li>
        <li [ngbNavItem]="AccountFlowsNav.PROCESSES">
            <button ngbNavLink>Processes</button>
            <ng-template ngbNavContent>
                <app-account-flows-processes-subtab [accountFlowsData]="accountFlowsData" [accountName]="accountName" />
            </ng-template>
        </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
