<div class="container-content overflow-unset mt-4">
    <ng-container *ngIf="flowConnectionData$ | async as flowConnectionData">
        <ng-container *ngIf="flowConnectionData.tileWidgetListFlowsData.connectionData.nodes.length">
            <div class="d-flex justify-content-between">
                <div class="mt-4">
                    <h2 class="title">
                        {{ flowConnectionData.tileWidgetListFlowsData.connectionData.totalCount }} Account flow run(s)
                    </h2>
                    <div>
                        <span class="text-muted">
                            Compute work associated with datasets belonging to this account
                        </span>
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <button
                        class="border-1 px-3 py-2 bg-light border rounded-2 px-2 btn btn-sm d-flex justify-content-between align-items-center"
                        type="button"
                        (click)="toggleStateAccountFlowConfigs(flowConnectionData.allFlowsPaused!)"
                    >
                        {{ flowConnectionData.allFlowsPaused ? "Resume" : "Pause" }} account flows
                    </button>
                </div>
            </div>
            <div class="d-flex justify-content-end mt-4 mb-2">
                <button
                    (click)="refreshFlow()"
                    class="border-1 bg-light border rounded-2 px-2 btn btn-sm d-flex justify-content-between align-items-center"
                >
                    <mat-icon class="text-muted fs-4 d-block">cached</mat-icon>
                    <span class="fs-12 me-2 d-block"> Refresh flow</span>
                </button>
            </div>
            <div class="search-result-container__content my-4">
                <app-tile-base-widget
                    [nodes]="flowConnectionData.tileWidgetListFlowsData.connectionData.nodes"
                ></app-tile-base-widget>
            </div>
            <app-flows-table
                [nodes]="flowConnectionData.mainTableFlowsData.connectionData.nodes"
                [filterByStatus]="filterByStatus"
                [onlySystemFlows]="onlySystemFlows"
                [searchByDataset]="searchByDataset"
                [searchByAccount]="searchByAccount"
                [tableOptions]="{
                    displayColumns: DISPLAY_COLUMNS
                }"
                [accountFlowInitiators]="flowConnectionData.flowInitiators"
                [involvedDatasets]="flowConnectionData.mainTableFlowsData.involvedDatasets"
                (filterByInitiatorChange)="onChangeFilterByInitiator($event)"
                (searchByFiltersChange)="onSearchByFiltersChange($event)"
                (cancelFlowChange)="onCancelFlow($event)"
            ></app-flows-table>
            <div class="mt-50px">
                <app-pagination
                    [currentPage]="flowConnectionData.mainTableFlowsData.connectionData.pageInfo.currentPage + 1"
                    [pageInfo]="flowConnectionData.mainTableFlowsData.connectionData.pageInfo"
                    (pageChangeEvent)="onPageChange($event)"
                ></app-pagination>
            </div>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="flowConnectionData$ | async as flowConnectionData">
        <div data-test-id="empty-block" *ngIf="!flowConnectionData.tileWidgetListFlowsData.connectionData.nodes.length">
            No flows yet in datasets belonging to this account
        </div>
    </ng-container>
</div>
