h2 {
    margin: 0;
}

.overflow-unset {
    overflow: unset;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 450px);
    gap: 25px;
    justify-content: center;
}

.card-custom {
    width: 450px;
    background: #f3f3f3;
    border-radius: 6px;
    display: flex;
    border: 1px solid #dedede;

    .header {
        height: 10px;
        width: inherit;
        border-radius: 6px 6px 0 0;
    }

    .card-body {
        padding-left: 30px;
    }
}

.dataset {
    background: #bddef1;
}

.webhook {
    background: #efd4dc;
}

.icon-size {
    transform: scale(1.4);
}

.badge-button {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background: #ebebeb !important;
    }
}

.completed-header {
    background: #239a59;
}

.failing-status {
    color: #ffa500;
}

.failing-header {
    background: #ffa500;
}
