@import "var";

.clickable-row {
    .mat-cell {
        color: $app-navy-blue;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

table {
    width: 100%;

    .mat-mdc-cell {
        border: 1px solid $app-color-border-default;
        color: $app-color-fg-default;
    }

    .truncate-cell {
        max-width: 535px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.mat-mdc-header-cell {
    color: $app-color-fg-default;
    border: 1px solid $app-color-border-default;
    font-size: 15px;
    text-align: left;
    background: $app-alice-blue !important;
}

.dynamic-table th.mat-mdc-header-cell,
.dynamic-table td.mat-mdc-cell,
.dynamic-table td.mat-mdc-footer-cell,
.dynamic-table th.mat-mdc-header-cell:first-of-type,
.dynamic-table td.mat-mdc-cell:first-of-type,
.dynamic-table td.mat-mdc-footer-cell:first-of-type {
    padding-left: 10px;
    padding-right: 10px;
}

.secondary-color {
    color: #f2cc13fa !important;
}

.error-color {
    color: #ff1212 !important;
}

.primary-color {
    color: #000 !important;
}

.copyable-cell {
    cursor: copy;
    transition: background 0.2s;
    position: relative;

    &:hover {
        background-color: rgba(0 0 0 / 10%);
    }

    &:active {
        cursor: wait;
    }
}

.mat-mdc-cell {
    user-select: text;
}

.badge-more {
    font-size: 13px !important;
    background: #b2bcbf;
    border-radius: 7px;
    padding: 1px 6px;
    color: #ffff;
    font-weight: 500;

    &:hover {
        cursor: pointer;
    }

    &::after {
        content: "...";
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0.65em;
        font-weight: bold;

        &:hover {
            background: #8d9497;
        }
    }
}

.cell-content {
    height: auto !important;
}
