<div [id]="idTable" style="width: 100%; overflow: auto" class="dynamic-table">
    <table mat-table [dataSource]="dataSource">
        <ng-container
            *ngFor="let disCol of displayedColumns; trackBy: trackByColumn; let colIndex = index"
            matColumnDef="{{ disCol }}"
        >
            <th mat-header-cell *matHeaderCellDef [attr.data-test-id]="'column-header-name-' + colIndex">
                {{ disCol }}
            </th>
            <td
                mat-cell
                [title]="element[disCol].value"
                [class.font-monospace]="viewMode !== DynamicTableViewMode.DATA && colIndex < 2"
                [ngClass]="element[disCol].cssClass"
                [class]="'truncate-cell copyable-cell'"
                *matCellDef="let element; index as rowIndex"
                [attr.data-test-id]="'column-name-' + disCol + '-' + rowIndex"
                [cdkCopyToClipboard]="element[disCol].value"
                (cdkCopyToClipboardCopied)="showCopyMessage()"
            >
                <div class="d-flex align-items-center justify-content-between">
                    <div class="cell-content truncate-cell">{{ element[disCol].value }}</div>
                    <div class="cell-content ms-1 position-relative" *ngIf="showMoreBadge(colIndex, element)">
                        <span (click)="$event.stopPropagation(); showModal(element)" class="badge-more"></span>
                    </div>
                    <div
                        [matTooltip]="extraDesription(element)"
                        [matTooltipPosition]="'after'"
                        class="cell-content ms-1 mt-1 position-relative"
                        *ngIf="showInfoBadge(colIndex, element)"
                    >
                        <mat-icon class="info-badge text-muted">help_outline</mat-icon>
                    </div>
                </div>
            </td>
        </ng-container>

        <ng-container *ngIf="hasTableHeader">
            <tr class="table-header-background" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        </ng-container>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>
