<div [id]="idTable" style="width: 100%; overflow: auto" class="dynamic-table">
    <table mat-table [dataSource]="dataSource">
        <ng-container *ngFor="let disCol of displayedColumns; let colIndex = index" matColumnDef="{{ disCol }}">
            <th mat-header-cell *matHeaderCellDef [attr.data-test-id]="'column-header-name-' + colIndex">
                {{ disCol }}
            </th>
            <td
                mat-cell
                [ngClass]="hasData ? element[disCol].cssClass : OperationColumnClassEnum.PRIMARY_COLOR"
                [class]="'truncate-cell copyable-cell'"
                *matCellDef="let element; index as rowIndex"
                [attr.data-test-id]="'column-name-' + disCol + '-' + rowIndex"
                [cdkCopyToClipboard]="element[disCol].value"
                (cdkCopyToClipboardCopied)="showCopyMessage()"
            >
                <div class="d-flex align-items-center justify-content-between">
                    <div class="cell-content">{{ element[disCol].value }}</div>
                    <div class="cell-content ms-1" *ngIf="showBadge(rowIndex, colIndex, schemaFields)">
                        <span (click)="$event.stopPropagation(); showModal(rowIndex, schemaFields)" class="badge-more"
                            >more</span
                        >
                    </div>
                </div>
            </td>
        </ng-container>

        <ng-container *ngIf="hasTableHeader">
            <tr class="table-header-background" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        </ng-container>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>
