<div [id]="idTable" style="width: 100%; overflow: auto" class="dynamic-table">
    <table mat-table [dataSource]="dataSource">
        <ng-container
            *ngFor="let columnDescriptor of columnDescriptors; trackBy: trackByColumn; let colIndex = index"
            matColumnDef="{{ columnDescriptor.columnName }}"
        >
            <th mat-header-cell *matHeaderCellDef [attr.data-test-id]="'column-header-name-' + colIndex">
                {{ columnDescriptor.columnName }}
            </th>
            <td
                mat-cell
                [title]="
                    shouldShowInfoBadge(columnDescriptor, element) || shouldShowMoreBadge(columnDescriptor, element)
                        ? ''
                        : element[columnDescriptor.columnName].value
                "
                [class.font-monospace]="
                    (columnDescriptor.showInfoBadge || columnDescriptor.showMoreBadge) && colIndex < 2
                "
                [ngClass]="element[columnDescriptor.columnName].cssClass"
                [class]="'truncate-cell copyable-cell'"
                *matCellDef="let element; index as rowIndex"
                [attr.data-test-id]="'column-name-' + columnDescriptor.columnName + '-' + rowIndex"
                [cdkCopyToClipboard]="element[columnDescriptor.columnName].value"
                (cdkCopyToClipboardCopied)="showCopyMessage()"
            >
                <div class="d-flex align-items-center justify-content-between">
                    <div class="cell-content truncate-cell">{{ element[columnDescriptor.columnName].value }}</div>
                    <div
                        class="cell-content ms-1 position-relative"
                        *ngIf="shouldShowMoreBadge(columnDescriptor, element)"
                    >
                        <span
                            (click)="
                                $event.stopPropagation();
                                showMoreModal(element, columnDescriptor.showMoreBadge?.extraElementKey)
                            "
                            class="badge-more"
                        ></span>
                    </div>
                    <div
                        [matTooltip]="extraDescription(element, columnDescriptor.showInfoBadge?.extraElementKey)"
                        [matTooltipPosition]="'after'"
                        class="cell-content ms-1 mt-1 position-relative"
                        *ngIf="shouldShowInfoBadge(columnDescriptor, element)"
                    >
                        <mat-icon class="info-badge text-muted">help_outline</mat-icon>
                    </div>
                </div>
            </td>
        </ng-container>

        <ng-container *ngIf="hasTableHeader">
            <tr class="table-header-background" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        </ng-container>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>
