ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
        display: inline-block;
        margin: 10px;
        border: 1px solid #DEDEDE;
        background-color: #f7f7f7;
        padding: 3px 5px;
        border-radius: 5px;
    }
}