h4 {
    font-weight: 500;
    letter-spacing: normal;
}

.form-control-width {
    width: 132px;
}

.form-control-label {
    min-width: 140px;
}

@media (width <=1085px) {
    .form-control-width {
        width: 80px;
    }
}
