<div class="container">
    <div class="row">
        <div class="col">
            <div class="row mb-3">
                <div class="col-md-3"><span class="fw-bold">Status</span></div>
                <div class="col-md-9">Completed</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <span class="fw-bold">Cancellation requested</span>
                </div>
                <div class="col-md-9">True</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <span class="fw-bold">Outcome</span>
                </div>
                <div class="col-md-9"><span class="completed-status">SUCCESS</span></div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <span class="fw-bold">Created at</span>
                </div>
                <div class="col-md-9">2023-10-21 21:00:00</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <span class="fw-bold">Ran at</span>
                </div>
                <div class="col-md-9">2023-10-21 21:00:00</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <span class="fw-bold">Cancellation requested at</span>
                </div>
                <div class="col-md-9">2023-10-21 21:00:00</div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <span class="fw-bold">Finished at</span>
                </div>
                <div class="col-md-9">2023-10-21 21:00:00</div>
            </div>
        </div>
    </div>
</div>
