<nav
    *ngIf="isVisible"
    class="navbar navbar-expand-lg navbar-dark bg-dark details px-3 px-md-4 px-lg-5 flex-wrap flex-md-nowrap"
    id="app-header"
>
    <div class="header-item mt-n1 mb-n1 d-none d-md-flex">
        <div [classList]="'app-brand'" id="app-header-logo">
            <button (click)="onAppLogo()" data-test-id="appLogo">
                <img [src]="APP_LOGO" alt="Application logo" />
            </button>
        </div>
    </div>
    <div class="header-item d-md-none">
        <button
            #appHeaderMenuButton
            id="app-header-menu-button"
            class="navbar-toggler"
            data-test-id="appHeaderMenuButton"
            type="button"
            data-toggle="collapse"
            data-target="#navbar-nav-dropdown"
            (click)="toggleAppHeaderMenu()"
            aria-controls="navbar-nav-dropdown"
            [attr.aria-expanded]="isCollapsedAppHeaderMenu"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div
        class="header-item header-item--full flex-column flex-md-row width-full flex-order-2 flex-md-order-none mr-0 mr-md-3 mt-3 mt-md-0 details-content--hidden-not-important d-md-flex"
    >
        <div
            class="header-search flex-auto position-relative flex-self-stretch flex-md-self-auto mb-3 mb-md-0 mr-0 mr-md-3"
        >
            <div class="position-relative">
                <div class="collapse show navbar-collapse" id="navbar-nav-dropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item search-input-container" [class.active-search-input]="isSearchActive">
                            <div
                                class="input-group flex-nowrap flex-self-stretch flex-md-self-auto mb-3 mb-md-0 mr-0 mr-md-3 js-jump-to"
                                id="search-input"
                            >
                                <input
                                    type="text"
                                    data-test-id="searchInput"
                                    class="form-control"
                                    id="typeahead-http"
                                    [ngbTypeahead]="search"
                                    [resultTemplate]="rt"
                                    placeholder="Search or jump to..."
                                    [inputFormatter]="formatter"
                                    [(ngModel)]="searchQuery"
                                    [focusFirst]="false"
                                    aria-label="Search"
                                    aria-describedby="addon-wrapping"
                                    (click)="onClickInput()"
                                    (selectItem)="onSelectItem($event)"
                                    (keyup.enter)="onSearch($event)"
                                    (focusin)="onFocus($event)"
                                />
                            </div>

                            <ng-template #rt let-r="result" let-t="term">
                                <div>
                                    <i class="bi bi-journal-album mr-2"></i>
                                    <ng-container *ngIf="!r.dummy">{{ r.dataset.owner.accountName }}/</ng-container>
                                    <ngb-highlight [result]="r.dataset.name" [term]="t"></ngb-highlight>
                                </div>
                                <div
                                    class="border rounded-1 flex-shrink-0 color-bg-tertiary px-1 f6 color-text-tertiary ml-1 jump-to-badge-jump"
                                >
                                    {{ isDatasetType(r["__typename"]) ? "Jump to" : "All Kamu" }}
                                    <span class="d-inline-block ml-1 v-align-middle"
                                        ><i class="bi bi-arrow-return-left"></i
                                    ></span>
                                </div>
                            </ng-template>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <nav
            class="d-flex flex-column align-items-center flex-md-row flex-self-stretch flex-md-self-auto width-full justify-content-between"
            aria-label="Global"
        >
            <div class="d-flex flex-column flex-md-row flex-self-stretch flex-md-self-auto">
                <a
                    class="header-link py-2 py-md-3 mr-0 mr-md-3 border-sm-top border-md-top-0 border-white-fade"
                    data-ga-click="Header, click, Nav menu - item:explore"
                    data-selected-links="/explore /trending /trending/developers /integrations /integrations/feature/code /integrations/feature/collaborate /integrations/feature/ship showcases showcases_search showcases_landing /explore"
                    href="#"
                >
                    Explore
                </a>

                <ng-template [ngIf]="!isUserLoggedIn() && loginMethods.length > 0">
                    <a
                        class="header-link d-block d-md-none mr-0 mr-md-3 py-2 py-md-3 border-sm-top border-top border-md-top-0 border-white-fade"
                        data-test-id="loginHeader"
                        (click)="onLogin()"
                        >Login</a
                    >
                </ng-template>

                <ng-template [ngIf]="isUserLoggedIn()">
                    <a
                        class="header-link py-2 py-md-3 mr-0 mr-md-3 border-sm-top border-md-top-0 border-white-fade"
                        data-ga-click="Header, click, Nav menu - item:dashboard:user"
                        data-test-id="userDatasetsHeader"
                        aria-label="Dashboard"
                        (click)="onUserDatasets()"
                    >
                        Your Datasets
                    </a>

                    <a
                        class="header-link d-block d-md-none py-2 py-md-3 border-sm-top border-top border-md-top-0 border-white-fade"
                        (click)="onAddNew()"
                        data-test-id="addNewDatasetHeader"
                    >
                        Add New Dataset
                    </a>
                    <a
                        class="header-link d-block d-md-none mr-0 mr-md-3 py-2 py-md-3 border-sm-top border-top border-md-top-0 border-white-fade"
                        data-test-id="openUserProfileHeader"
                        (click)="onUserProfile()"
                        >Your profile</a
                    >
                    <a
                        class="header-link d-block d-md-none mr-0 mr-md-3 py-2 py-md-3 border-sm-top border-top border-md-top-0 border-white-fade"
                        data-test-id="openBillingPlanHeader"
                        (click)="onBilling()"
                        >Account & Billing</a
                    >
                    <a
                        class="header-link d-block d-md-none mr-0 mr-md-3 py-2 py-md-3 border-sm-top border-top border-md-top-0 border-white-fade"
                        data-test-id="openAnalyticsHeader"
                        (click)="onAnalytics()"
                        >Analytics</a
                    >
                    <a
                        class="header-link d-block d-md-none mr-0 mr-md-3 py-2 py-md-3 border-sm-top border-top border-md-top-0 border-white-fade"
                        data-test-id="openSettingsHeader"
                        (click)="onSettings()"
                        >Settings</a
                    >
                    <a
                        class="header-link d-block d-md-none mr-0 mr-md-3 py-2 py-md-3 border-sm-top border-top border-md-top-0 border-white-fade"
                        data-test-id="userNameHeader"
                        href="/{{ loggedAccount.accountName }}"
                    >
                        <img
                            class="avatar avatar-user"
                            loading="lazy"
                            decoding="async"
                            [src]="
                                isUserLoggedIn() && loggedAccount.avatarUrl
                                    ? loggedAccount.avatarUrl
                                    : DEFAULT_AVATAR_URL
                            "
                            width="20"
                            height="20"
                        />
                        {{ isUserLoggedIn() ? loggedAccount.displayName : DEFAULT_USER_DISPLAY_NAME }}
                    </a>
                    <ng-container *ngIf="featureFlags.enableLogout">
                        <button
                            class="header-link header-signout-btn d-block d-md-none mr-0 mr-md-3 py-2 py-md-3 border-sm-top border-md-top-0 border-white-fade"
                            data-test-id="openLogoutHeader"
                            (click)="onLogout()"
                        >
                            <svg-icon name="sign-out"></svg-icon>
                            Log out
                        </button>
                    </ng-container>
                </ng-template>
                <a
                    class="header-link d-block d-md-none mr-0 mr-md-3 py-2 py-md-3 border-sm-top border-top border-md-top-0 border-white-fade"
                    data-test-id="openHelpHeader"
                    (click)="onHelp()"
                    >Help</a
                >
            </div>
            <div id="app-header-additional-block" class="app-header__right-column">
                <div
                    class="d-flex d-sm-none d-md-flex justify-content-center notification-indicator-container align-items-center m-2"
                >
                    <app-notification-indicator></app-notification-indicator>
                </div>
                <ng-container *ngIf="isUserLoggedIn()">
                    <button
                        class="app-header__right-column__addnew-block d-block d-sm-none d-md-flex m-2"
                        (click)="onAddNew()"
                        data-test-id="addNewBlock"
                    >
                        <span><i class="bi bi-plus-circle"></i></span>
                        <span class="app-header__right-column__label">New</span>
                    </button>
                </ng-container>
                <button
                    class="button-round d-block d-sm-none d-md-block m-2"
                    data-test-id="openUserInfoBlock"
                    mat-button
                    [matMenuTriggerFor]="menu"
                >
                    <div class="img-container-round">
                        <img
                            [src]="
                                isUserLoggedIn() && loggedAccount.avatarUrl
                                    ? loggedAccount.avatarUrl
                                    : DEFAULT_AVATAR_URL
                            "
                            (click)="onOpenUserInfo()"
                            data-test-id="openUserInfoImage"
                            alt="User icon"
                        />
                    </div>
                </button>
                <mat-menu #menu="matMenu" class="app-header__user-menu">
                    <p id="matmenu-signed-in-name">
                        Signed in as
                        <strong data-test-id="userName">{{
                            isUserLoggedIn() ? loggedAccount.displayName : DEFAULT_USER_DISPLAY_NAME
                        }}</strong>
                    </p>

                    <button mat-menu-item data-test-id="openHelp" (click)="onHelp()">Help</button>

                    <div role="none" class="dropdown-divider"></div>

                    <ng-template [ngIf]="!isUserLoggedIn() && loginMethods.length > 0">
                        <button mat-menu-item data-test-id="openLogin" (click)="onLogin()">Login</button>
                    </ng-template>

                    <ng-template [ngIf]="isUserLoggedIn()">
                        <button mat-menu-item data-test-id="openUserProfile" (click)="onUserProfile()">
                            Your profile
                        </button>
                        <button mat-menu-item data-test-id="openUserDatasets" (click)="onUserDatasets()">
                            Your datasets
                        </button>

                        <div role="none" class="dropdown-divider"></div>

                        <button mat-menu-item data-test-id="openBillingPlan" (click)="onBilling()">
                            Account & Billing
                        </button>
                        <button mat-menu-item data-test-id="openAnalytics" (click)="onAnalytics()">Analytics</button>
                        <button mat-menu-item data-test-id="openSettings" (click)="onSettings()">Settings</button>

                        <div role="none" class="dropdown-divider"></div>

                        <ng-container *ngIf="featureFlags.enableLogout">
                            <button mat-menu-item data-test-id="openLogout" (click)="onLogout()">
                                <svg-icon name="sign-out"></svg-icon>
                                Log out
                            </button>
                        </ng-container>
                    </ng-template>
                </mat-menu>
            </div>
        </nav>
    </div>

    <div class="d-block d-md-none">
        <div [classList]="'app-brand'">
            <button (click)="onAppLogo()" data-test-id="appLogo">
                <img [src]="APP_LOGO" alt="Application logo" />
            </button>
        </div>
    </div>
    <div class="d-flex d-md-none justify-content-center notification-indicator-container align-items-center m-0">
        <app-notification-indicator></app-notification-indicator>
    </div>
</nav>
