<nav
    *ngIf="isVisible"
    class="navbar navbar-expand-lg navbar-dark bg-dark Header Details px-3 px-md-4 px-lg-5 flex-wrap flex-md-nowrap"
    id="app-header"
>
    <div class="Header-item mt-n1 mb-n1 d-none d-md-flex">
        <div [classList]="'app-brand'" id="appHeaderLogo">
            <button (click)="onClickAppLogo()" data-test-id="appLogo">
                <img [src]="appLogo" alt="Application logo" />
            </button>
        </div>
    </div>
    <div class="Header-item d-md-none">
        <button
            #appHeaderMenuButton
            id="appHeaderMenuButton"
            class="navbar-toggler"
            data-test-id="appHeaderMenuButton"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            (click)="toggleAppHeaderMenu()"
            aria-controls="navbarNavDropdown"
            [attr.aria-expanded]="isCollapsedAppHeaderMenu"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div
        class="Header-item Header-item--full flex-column flex-md-row width-full flex-order-2 flex-md-order-none mr-0 mr-md-3 mt-3 mt-md-0 Details-content--hidden-not-important d-md-flex"
    >
        <div
            class="header-search flex-auto position-relative flex-self-stretch flex-md-self-auto mb-3 mb-md-0 mr-0 mr-md-3"
        >
            <div class="position-relative">
                <div
                    class="collapse show navbar-collapse"
                    id="navbarNavDropdown"
                >
                    <ul class="navbar-nav">
                        <li
                            [classList]="
                                'nav-item searchInputContainer ' +
                                (isSearchActive ? 'active-search-input' : '')
                            "
                        >
                            <div
                                class="input-group flex-nowrap flex-self-stretch flex-md-self-auto mb-3 mb-md-0 mr-0 mr-md-3 js-jump-to"
                                id="searchInput"
                            >
                                <input
                                    type="text"
                                    data-test-id="searchInput"
                                    class="form-control"
                                    id="typeahead-http"
                                    [ngbTypeahead]="search"
                                    [resultTemplate]="rt"
                                    placeholder="Search or jump to..."
                                    [inputFormatter]="formatter"
                                    [(ngModel)]="searchQuery"
                                    [focusFirst]="false"
                                    aria-label="Search"
                                    aria-describedby="addon-wrapping"
                                    (click)="onClickInput()"
                                    (selectItem)="onSelectItem($event)"
                                    (keyup.enter)="onSearch($event)"
                                    (focusin)="onFocus($event)"
                                />
                            </div>

                            <ng-template #rt let-r="result" let-t="term">
                                <div>
                                    <i class="bi bi-journal-album mr-2"></i>
                                    <ngb-highlight
                                        [result]="r.dataset.name"
                                        [term]="t"
                                    ></ngb-highlight>
                                </div>
                                <div
                                    class="border rounded-1 flex-shrink-0 color-bg-tertiary px-1 f6 color-text-tertiary ml-1 jump-to-badge-jump"
                                >
                                    {{
                                        isDatasetType(r["__typename"])
                                            ? "Jump to"
                                            : "All Kamu"
                                    }}
                                    <span
                                        class="d-inline-block ml-1 v-align-middle"
                                        ><i class="bi bi-arrow-return-left"></i
                                    ></span>
                                </div>
                            </ng-template>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <nav
            class="d-flex flex-column flex-md-row flex-self-stretch flex-md-self-auto width-full justify-content-between"
            aria-label="Global"
        >
            <div
                class="d-flex flex-column flex-md-row flex-self-stretch flex-md-self-auto"
            >
                <a
                    class="Header-link py-2 py-md-3 mr-0 mr-md-3 border-sm-top border-md-top-0 border-white-fade"
                    data-ga-click="Header, click, Nav menu - item:explore"
                    data-selected-links="/explore /trending /trending/developers /integrations /integrations/feature/code /integrations/feature/collaborate /integrations/feature/ship showcases showcases_search showcases_landing /explore"
                    href="#"
                >
                    Explore
                </a>

                <a
                    class="Header-link py-2 py-md-3 mr-0 mr-md-3 border-sm-top border-md-top-0 border-white-fade"
                    data-ga-click="Header, click, Nav menu - item:dashboard:user"
                    aria-label="Dashboard"
                    href="#"
                >
                    Your Datasets
                </a>

                <a
                    class="Header-link d-block d-md-none py-2 py-md-3 border-sm-top border-top border-md-top-0 border-white-fade"
                    (click)="onAddNew()"
                    data-test-id="addNewDataset"
                >
                    Add New Dataset
                </a>

                <ng-template [ngIf]="!isUserLoggedIn()">
                    <a
                        class="Header-link d-block d-md-none mr-0 mr-md-3 py-2 py-md-3 border-sm-top border-top border-md-top-0 border-white-fade"
                        data-test-id="openBillingPlanHeader"
                        (click)="onBilling()"
                        >Account & Billing</a
                    >
                    <a
                        class="Header-link d-block d-md-none mr-0 mr-md-3 py-2 py-md-3 border-sm-top border-top border-md-top-0 border-white-fade"
                        data-test-id="openHelpHeader"
                        (click)="onHelp()"
                        >Help</a
                    >
                    <a
                        class="Header-link d-block d-md-none mr-0 mr-md-3 py-2 py-md-3 border-sm-top border-top border-md-top-0 border-white-fade"
                        data-test-id="openUserProfileHeader"
                        (click)="onLogin()"
                        >Login</a
                    >
                </ng-template>

                <ng-template [ngIf]="isUserLoggedIn()">
                    <a
                        class="Header-link d-block d-md-none mr-0 mr-md-3 py-2 py-md-3 border-sm-top border-top border-md-top-0 border-white-fade"
                        data-test-id="openUserProfileHeader"
                        (click)="onUserProfile()"
                        >Your profile</a
                    >
                    <a
                        class="Header-link d-block d-md-none mr-0 mr-md-3 py-2 py-md-3 border-sm-top border-top border-md-top-0 border-white-fade"
                        data-test-id="openBillingPlanHeader"
                        (click)="onBilling()"
                        >Account & Billing</a
                    >
                    <a
                        class="Header-link d-block d-md-none mr-0 mr-md-3 py-2 py-md-3 border-sm-top border-top border-md-top-0 border-white-fade"
                        data-test-id="openAnalyticsHeader"
                        (click)="onAnalytics()"
                        >Analytics</a
                    >
                    <a
                        class="Header-link d-block d-md-none mr-0 mr-md-3 py-2 py-md-3 border-sm-top border-top border-md-top-0 border-white-fade"
                        data-test-id="openSettingsHeader"
                        (click)="onSettings()"
                        >Settings</a
                    >
                    <a
                        class="Header-link d-block d-md-none mr-0 mr-md-3 py-2 py-md-3 border-sm-top border-top border-md-top-0 border-white-fade"
                        data-test-id="openHelpHeader"
                        (click)="onHelp()"
                        >Help</a
                    >
                    <a
                        class="Header-link d-block d-md-none mr-0 mr-md-3 py-2 py-md-3 border-sm-top border-top border-md-top-0 border-white-fade"
                        data-test-id="userNameHeader"
                        href="/kulykivska"
                    >
                        <img
                            class="avatar avatar-user"
                            loading="lazy"
                            decoding="async"
                            src="https://avatars.githubusercontent.com/u/87068546?s=40&amp;v=4"
                            width="20"
                            height="20"
                        />
                        {{ isUserLoggedIn() ? userInfo.name : defaultUsername }}
                    </a>
                    <button
                        class="Header-link Header-signout-btn d-block d-md-none mr-0 mr-md-3 py-2 py-md-3 border-sm-top border-md-top-0 border-white-fade"
                        data-test-id="openSignOutHeader"
                        (click)="onLogOut()"
                    >
                        <svg-icon name="sign-out"></svg-icon>
                        Sign out
                    </button>
                </ng-template>
            </div>
            <div id="appHeaderAdditionalBlock" class="app-header__right-column">
                <div
                    class="d-flex d-sm-none d-md-flex justify-content-center notification-indicator-container align-items-center m-0"
                >
                    <app-notification-indicator></app-notification-indicator>
                </div>
                <button
                    class="app-header__right-column__addnew-block d-block d-sm-none d-md-flex m-2"
                    (click)="onAddNew()"
                    data-test-id="addNewBlock"
                >
                    <span><i class="bi bi-plus-circle"></i></span>
                    <span class="app-header__right-column__label">New</span>
                </button>
                <button
                    class="button-round d-block d-sm-none d-md-block"
                    data-test-id="openUserInfo"
                    mat-button
                    [matMenuTriggerFor]="menu"
                >
                    <div class="img-container-round">
                        <img
                            [src]="
                                isUserLoggedIn() && userInfo.avatarUrl
                                    ? userInfo.avatarUrl
                                    : 'https://avatars.githubusercontent.com/u/11951648?v=4'
                            "
                            (click)="onOpenUserInfo()"
                            data-test-id="openUserInfo"
                            alt="User icon"
                        />
                    </div>
                </button>
                <mat-menu #menu="matMenu" class="app-header__user-menu">
                    <p id="matmenu-signed-in-name">
                        Signed in as
                        <strong data-test-id="userName">{{
                            isUserLoggedIn() ? userInfo.name : defaultUsername
                        }}</strong>
                    </p>
                    <div role="none" class="dropdown-divider"></div>

                    <ng-template [ngIf]="!isUserLoggedIn()">
                        <button
                            mat-menu-item
                            data-test-id="openLogin"
                            (click)="onLogin()"
                        >
                            Login
                        </button>
                        <div role="none" class="dropdown-divider"></div>
                        <button
                            mat-menu-item
                            data-test-id="openBillingPlan"
                            (click)="onBilling()"
                        >
                            Account & Billing
                        </button>
                        <button
                            mat-menu-item
                            data-test-id="openHelp"
                            (click)="onHelp()"
                        >
                            Help
                        </button>
                    </ng-template>

                    <ng-template [ngIf]="isUserLoggedIn()">
                        <button
                            mat-menu-item
                            data-test-id="openUserProfile"
                            (click)="onUserProfile()"
                        >
                            Your profile
                        </button>
                        <button
                            mat-menu-item
                            data-test-id="openUserDatasets"
                            (click)="onUserDatasets()"
                        >
                            Your datasets
                        </button>

                        <div role="none" class="dropdown-divider"></div>
                        <button
                            mat-menu-item
                            data-test-id="openBillingPlan"
                            (click)="onBilling()"
                        >
                            Account & Billing
                        </button>
                        <button
                            mat-menu-item
                            data-test-id="openAnalytics"
                            (click)="onAnalytics()"
                        >
                            Analytics
                        </button>
                        <button
                            mat-menu-item
                            data-test-id="openSettings"
                            (click)="onSettings()"
                        >
                            Settings
                        </button>
                        <button
                            mat-menu-item
                            data-test-id="openHelp"
                            (click)="onHelp()"
                        >
                            Help
                        </button>

                        <div role="none" class="dropdown-divider"></div>
                        <button
                            mat-menu-item
                            data-test-id="openSignOut"
                            (click)="onLogOut()"
                        >
                            <svg-icon name="sign-out"></svg-icon>
                            Sign out
                        </button>
                    </ng-template>
                </mat-menu>
            </div>
        </nav>
    </div>

    <div class="d-block d-md-none">
        <div [classList]="'app-brand'">
            <button (click)="onClickAppLogo()" data-test-id="appLogo">
                <img [src]="appLogo" alt="Application logo" />
            </button>
        </div>
    </div>
    <div
        class="d-flex d-md-none justify-content-center notification-indicator-container align-items-center m-0"
    >
        <app-notification-indicator></app-notification-indicator>
    </div>
</nav>
