<app-spinner />
<app-header
    [isMobileView]="isMobileView"
    [isVisible]="isHeaderVisible"
    [loggedAccount]="loggedAccount"
    [featureFlags]="featureFlags"
    [loginMethods]="loginMethods"
    (onSelectedDataset)="onSelectedDataset($event)"
    (onClickedLogin)="onLogin()"
    (onClickedLogout)="onLogout()"
    (onClickedOpenUserInfo)="onOpenUserInfo()"
    (onClickedHelp)="onHelp()"
    (onClickedAnalytics)="onAnalytics()"
    (onClickedBilling)="onBilling()"
    (onClickedDashboard)="onDashboard()"
/>
<router-outlet />
<modal data-test-id="modal"></modal>
