<app-spinner></app-spinner>
<app-header
    [isMobileView]="isMobileView"
    [isVisible]="isHeaderVisible"
    [loggedAccount]="loggedAccount"
    [featureFlags]="featureFlags"
    [loginMethods]="loginMethods"
    (onSelectedDataset)="onSelectedDataset($event)"
    (onClickedAppLogo)="onAppLogo()"
    (onClickedLogin)="onLogin()"
    (onClickedLogout)="onLogout()"
    (onClickedOpenUserInfo)="onOpenUserInfo()"
    (onClickedAddNew)="onAddNew()"
    (onClickedHelp)="onHelp()"
    (onClickedSettings)="onSettings()"
    (onClickedAnalytics)="onAnalytics()"
    (onClickedBilling)="onBilling()"
    (onClickedUserDatasets)="onUserDatasets()"
    (onClickedUserProfile)="onUserProfile()"
    (onClickedDashboard)="onDashboard()"
></app-header>
<router-outlet></router-outlet>
<modal data-test-id="modal"></modal>
