.layout
    max-width: 768px
    width: 100%
    margin-right: auto
    margin-left: auto
    padding-bottom: 100px
.radio-group
    display: flex
    flex-wrap: wrap
    justify-content: center
    gap: 20px

    .input-container
        position: relative
        height: 6rem
        width: 12rem
        .radio-input
            position: absolute
            height: 100%
            width: 100%
            margin: 0
            cursor: pointer
            z-index: 2
            opacity: 0
            &:checked
                & + .radio-item
                    border: 2px solid #1461b5f1
                    background-color: #f1f5f9f1

        .radio-item
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            border: 1px solid black
            height: 100%
            border-radius: 10px
            transition: all 200ms ease
            .mat-icon
                color: #1461b5f1
                font-size: 34px
                height: 34px
                width: 34px

.button-next, .button-prev, .button-save
    background: #2c974b
    border-color: rgba(27, 31, 36, 0.15)
    color: #ffffff
    position: relative
    display: inline-block
    padding: 5px 16px
    font-size: 14px
    white-space: nowrap
    vertical-align: middle
    cursor: pointer
    border-radius: 6px
    &:hover
        background: #3fbe63
        transition: .2s cubic-bezier(0.3, 0, 0.5, 1)
    &:disabled
        background: #69e18b
