<ul class="nav searchAdditionalButtons__nav">
    <ng-template
        ngFor
        let-searchAdditionalData
        [ngForOf]="searchAdditionalButtonsData"
    >
        <li class="nav-item mr-2 pt-2">
            <div class="btnGroup-parent nav">
                <button
                    [classList]="
                        searchAdditionalData.additionalOptions &&
                        searchAdditionalData.additionalOptions.options
                            ? 'starred rounded-left-2 border-right-0 additionalOptions-btn btn-sm btn btnGroup-item d-flex justify-content-between align-items-center'
                            : 'starred rounded-2 btn-sm btn btnGroup-item d-flex justify-content-between align-items-center'
                    "
                >
                    <svg
                        aria-hidden="true"
                        height="16"
                        viewBox="0 0 16 16"
                        width="16"
                        data-view-component="true"
                        [classList]="searchAdditionalData.svgClass"
                    >
                        <path
                            fill-rule="evenodd"
                            [classList]="searchAdditionalData.iconSvgPathClass"
                            [attr.d]="searchAdditionalData.iconSvgPath"
                        ></path>
                    </svg>
                    <span class="d-inline mr-2">{{
                        searchAdditionalData.textButton
                    }}</span>
                    <span
                        id="repo-stars-counter-unstar"
                        aria-label="2 users starred this repository"
                        data-singular-suffix="user starred this repository"
                        data-plural-suffix="users starred this repository"
                        data-pjax-replace="true"
                        title="2"
                        data-view-component="true"
                        class="counter"
                        >{{ searchAdditionalData.counter }}</span
                    >
                </button>
                <ng-template [ngIf]="searchAdditionalData.additionalOptions">
                    <button
                        style="height: inherit"
                        class="additionalOptions-btn mat-menu-trigger starred rounded-right-2 border-1 border btn-sm btn btnGroup-item d-flex justify-content-center align-items-center mat-button mat-icon-button mat-button-base"
                        [matMenuTriggerFor]="menu2"
                    >
                        <mat-icon class="arrowDropDown"
                            >arrow_drop_down</mat-icon
                        >
                    </button>
                    <mat-menu #menu2="matMenu">
                        <div
                            class="SelectMenu-modal notifications-component-menu-modal"
                        >
                            <header class="SelectMenu-header">
                                <h3 class="SelectMenu-title">
                                    {{
                                        searchAdditionalData.additionalOptions
                                            .title
                                    }}
                                </h3>
                                <button
                                    class="SelectMenu-closeButton"
                                    type="button"
                                    aria-label="Close menu"
                                    data-action="click:notifications-list-subscription-form#closeMenu"
                                >
                                    <svg
                                        aria-hidden="true"
                                        height="16"
                                        viewBox="0 0 16 16"
                                        width="16"
                                        data-view-component="true"
                                        class="octicon octicon-x"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z"
                                        ></path>
                                    </svg>
                                </button>
                            </header>

                            <div class="SelectMenu-list">
                                <form
                                    data-target="notifications-list-subscription-form.form"
                                    data-action="submit:notifications-list-subscription-form#submitForm"
                                    action="/notifications/subscribe"
                                    accept-charset="UTF-8"
                                    method="post"
                                >
                                    <ng-template
                                        ngFor
                                        let-option
                                        [ngForOf]="
                                            searchAdditionalData
                                                .additionalOptions.options
                                        "
                                    >
                                        <button
                                            type="submit"
                                            name="do"
                                            value="included"
                                            class="SelectMenu-item flex-items-start"
                                            role="menuitemradio"
                                            [attr.aria-checked]="
                                                option.isSelected
                                            "
                                            data-targets="notifications-list-subscription-form.subscriptionButtons"
                                        >
                                            <span class="f5">
                                                <svg
                                                    *ngIf="!option.isSelected"
                                                    height="16"
                                                    viewBox="0 0 16 16"
                                                    width="16"
                                                    data-view-component="true"
                                                    class="octicon octicon-check SelectMenu-icon SelectMenu-icon--check"
                                                >
                                                    <path
                                                        fill-rule="evenodd"
                                                        d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"
                                                    ></path>
                                                </svg>
                                                <svg
                                                    *ngIf="option.isSelected"
                                                    height="16"
                                                    viewBox="0 0 16 16"
                                                    version="1.1"
                                                    width="16"
                                                    data-view-component="true"
                                                    class="octicon octicon-check SelectMenu-icon SelectMenu-icon--check"
                                                >
                                                    <path
                                                        fill-rule="evenodd"
                                                        d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"
                                                    ></path>
                                                </svg>
                                            </span>
                                            <div>
                                                <div class="f5 text-bold">
                                                    {{ option.title }}
                                                </div>
                                                <div
                                                    class="text-small color-fg-muted text-normal pb-1"
                                                >
                                                    {{ option.text }}
                                                </div>
                                            </div>
                                        </button>
                                    </ng-template>
                                </form>
                            </div>
                        </div>
                    </mat-menu>
                </ng-template>
            </div>
        </li>
    </ng-template>
</ul>
