<ng-template [ngIf]="isMinimizeSearchAdditionalButtons">
    <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
        data-test-id="searchAdditionalButtons"
    >
        <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <ng-template
            ngFor
            let-searchAdditionalButtonData
            [ngForOf]="searchAdditionalButtonsData"
        >
            <button mat-menu-item class="searchAdditionalButton">
                <span>{{ searchAdditionalButtonData.textButton }}</span>
            </button>
        </ng-template>
    </mat-menu>
</ng-template>
<ng-template [ngIf]="!isMinimizeSearchAdditionalButtons">
    <ul class="nav searchAdditionalButtons__nav">
        <li class="nav-item mr-2">
            <div class="btnGroup-parent">
                <button
                    class="starred rounded-2 btn-sm btn btnGroup-item d-flex justify-content-center align-items-center"
                >
                    <svg
                        aria-hidden="true"
                        height="16"
                        viewBox="0 0 16 16"
                        width="16"
                        data-view-component="true"
                        class="octicon octicon-star-fill starred-button-icon d-inline-block mr-2"
                    >
                        <path
                            fill-rule="evenodd"
                            class="starred-button-icon"
                            d="M8 .25a.75.75 0 01.673.418l1.882 3.815 4.21.612a.75.75 0 01.416 1.279l-3.046 2.97.719 4.192a.75.75 0 01-1.088.791L8 12.347l-3.766 1.98a.75.75 0 01-1.088-.79l.72-4.194L.818 6.374a.75.75 0 01.416-1.28l4.21-.611L7.327.668A.75.75 0 018 .25z"
                        ></path>
                    </svg>
                    <span class="d-inline mr-2">Starred</span>
                    <span
                        id="repo-stars-counter-unstar"
                        aria-label="2 users starred this repository"
                        data-singular-suffix="user starred this repository"
                        data-plural-suffix="users starred this repository"
                        data-pjax-replace="true"
                        title="2"
                        data-view-component="true"
                        class="counter"
                        >2</span
                    >
                </button>
            </div>
        </li>
        <li class="nav-item mr-2">
            <div class="btnGroup-parent">
                <button
                    class="starred rounded-left-2 border-right-0 btn-sm btn btnGroup-item d-flex justify-content-center align-items-center"
                >
                    <svg
                        aria-hidden="true"
                        height="16"
                        viewBox="0 0 16 16"
                        width="16"
                        data-view-component="true"
                        class="octicon octicon-eye mr-2"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M1.679 7.932c.412-.621 1.242-1.75 2.366-2.717C5.175 4.242 6.527 3.5 8 3.5c1.473 0 2.824.742 3.955 1.715 1.124.967 1.954 2.096 2.366 2.717a.119.119 0 010 .136c-.412.621-1.242 1.75-2.366 2.717C10.825 11.758 9.473 12.5 8 12.5c-1.473 0-2.824-.742-3.955-1.715C2.92 9.818 2.09 8.69 1.679 8.068a.119.119 0 010-.136zM8 2c-1.981 0-3.67.992-4.933 2.078C1.797 5.169.88 6.423.43 7.1a1.619 1.619 0 000 1.798c.45.678 1.367 1.932 2.637 3.024C4.329 13.008 6.019 14 8 14c1.981 0 3.67-.992 4.933-2.078 1.27-1.091 2.187-2.345 2.637-3.023a1.619 1.619 0 000-1.798c-.45-.678-1.367-1.932-2.637-3.023C11.671 2.992 9.981 2 8 2zm0 8a2 2 0 100-4 2 2 0 000 4z"
                        ></path>
                    </svg>
                    <span class="d-inline mr-2">Unwatch</span>
                    <span
                        id="repo-notifications-counter"
                        aria-label="2 users starred this repository"
                        data-singular-suffix="user starred this repository"
                        data-plural-suffix="users starred this repository"
                        data-pjax-replace="true"
                        title="2"
                        data-view-component="true"
                        class="counter"
                        >1</span
                    >
                </button>
                <button
                    class="starred rounded-right-2 btn-sm btn btnGroup-item d-flex justify-content-center align-items-center"
                    mat-icon-button
                    [matMenuTriggerFor]="menu2"
                    aria-label="Example icon-button with a menu"
                    data-test-id="searchAdditionalButtons"
                >
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>

                <mat-menu #menu2="matMenu">
                    <div
                        class="SelectMenu-modal notifications-component-menu-modal"
                    >
                        <header class="SelectMenu-header">
                            <h3 class="SelectMenu-title">Notifications</h3>
                            <button
                                class="SelectMenu-closeButton"
                                type="button"
                                aria-label="Close menu"
                                data-action="click:notifications-list-subscription-form#closeMenu"
                            >
                                <svg
                                    aria-hidden="true"
                                    height="16"
                                    viewBox="0 0 16 16"
                                    width="16"
                                    data-view-component="true"
                                    class="octicon octicon-x"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z"
                                    ></path>
                                </svg>
                            </button>
                        </header>

                        <div class="SelectMenu-list">
                            <form
                                data-target="notifications-list-subscription-form.form"
                                data-action="submit:notifications-list-subscription-form#submitForm"
                                action="/notifications/subscribe"
                                accept-charset="UTF-8"
                                method="post"
                            >
                                <input
                                    type="hidden"
                                    class="is-submit-button-value"
                                    name="do"
                                    value="subscribed"
                                /><input
                                    type="hidden"
                                    name="authenticity_token"
                                    value="ITn78US4LPVmiR4tLPTT-jewxxKwapB6KmPEGwwTrbTLwnA79muHfW11cOot4-iQz45inXV_XI_PaPngAGyI_Q"
                                    autocomplete="off"
                                />

                                <input
                                    type="hidden"
                                    name="repository_id"
                                    value="438796440"
                                />

                                <button
                                    type="submit"
                                    name="do"
                                    value="included"
                                    class="SelectMenu-item flex-items-start"
                                    role="menuitemradio"
                                    aria-checked="false"
                                    data-targets="notifications-list-subscription-form.subscriptionButtons"
                                >
                                    <span class="f5">
                                        <svg
                                            aria-hidden="true"
                                            height="16"
                                            viewBox="0 0 16 16"
                                            width="16"
                                            data-view-component="true"
                                            class="octicon octicon-check SelectMenu-icon SelectMenu-icon--check"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"
                                            ></path>
                                        </svg>
                                    </span>
                                    <div>
                                        <div class="f5 text-bold">
                                            Participating and @mentions
                                        </div>
                                        <div
                                            class="text-small color-fg-muted text-normal pb-1"
                                        >
                                            Only receive notifications from this
                                            repository when participating or
                                            @mentioned.
                                        </div>
                                    </div>
                                </button>

                                <button
                                    type="submit"
                                    name="do"
                                    value="subscribed"
                                    class="SelectMenu-item flex-items-start"
                                    role="menuitemradio"
                                    aria-checked="true"
                                    data-targets="notifications-list-subscription-form.subscriptionButtons"
                                >
                                    <span class="f5">
                                        <svg
                                            aria-hidden="true"
                                            height="16"
                                            viewBox="0 0 16 16"
                                            width="16"
                                            data-view-component="true"
                                            class="octicon octicon-check SelectMenu-icon SelectMenu-icon--check"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"
                                            ></path>
                                        </svg>
                                    </span>
                                    <div>
                                        <div class="f5 text-bold">
                                            All Activity
                                        </div>
                                        <div
                                            class="text-small color-fg-muted text-normal pb-1"
                                        >
                                            Notified of all notifications on
                                            this repository.
                                        </div>
                                    </div>
                                </button>

                                <button
                                    type="submit"
                                    name="do"
                                    value="ignore"
                                    class="SelectMenu-item flex-items-start"
                                    role="menuitemradio"
                                    aria-checked="false"
                                    data-targets="notifications-list-subscription-form.subscriptionButtons"
                                >
                                    <span class="f5">
                                        <svg
                                            aria-hidden="true"
                                            height="16"
                                            viewBox="0 0 16 16"
                                            width="16"
                                            data-view-component="true"
                                            class="octicon octicon-check SelectMenu-icon SelectMenu-icon--check"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"
                                            ></path>
                                        </svg>
                                    </span>
                                    <div>
                                        <div class="f5 text-bold">Ignore</div>
                                        <div
                                            class="text-small color-fg-muted text-normal pb-1"
                                        >
                                            Never be notified.
                                        </div>
                                    </div>
                                </button>
                            </form>
                            <button
                                class="SelectMenu-item flex-items-start pr-3"
                                type="button"
                                role="menuitemradio"
                                data-target="notifications-list-subscription-form.customButton"
                                data-action="click:notifications-list-subscription-form#openCustomDialog"
                                aria-haspopup="true"
                                aria-checked="false"
                            >
                                <span class="f5">
                                    <svg
                                        aria-hidden="true"
                                        height="16"
                                        viewBox="0 0 16 16"
                                        width="16"
                                        data-view-component="true"
                                        class="octicon octicon-check SelectMenu-icon SelectMenu-icon--check"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"
                                        ></path>
                                    </svg>
                                </span>
                                <div>
                                    <div
                                        class="d-flex flex-items-start flex-justify-between"
                                    >
                                        <div class="f5 text-bold">Custom</div>
                                        <div class="f5 pr-1">
                                            <svg
                                                aria-hidden="true"
                                                height="16"
                                                viewBox="0 0 16 16"
                                                width="16"
                                                data-view-component="true"
                                                class="octicon octicon-arrow-right"
                                            >
                                                <path
                                                    fill-rule="evenodd"
                                                    d="M8.22 2.97a.75.75 0 011.06 0l4.25 4.25a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06-1.06l2.97-2.97H3.75a.75.75 0 010-1.5h7.44L8.22 4.03a.75.75 0 010-1.06z"
                                                ></path>
                                            </svg>
                                        </div>
                                    </div>
                                    <div
                                        class="text-small color-fg-muted text-normal pb-1"
                                    >
                                        Select events you want to be notified of
                                        in addition to participating and
                                        @mentions.
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div> </mat-menu
                ><mat-menu #menu2="matMenu">
                    <div
                        class="SelectMenu-modal notifications-component-menu-modal"
                    >
                        <header class="SelectMenu-header">
                            <h3 class="SelectMenu-title">Notifications</h3>
                            <button
                                class="SelectMenu-closeButton"
                                type="button"
                                aria-label="Close menu"
                                data-action="click:notifications-list-subscription-form#closeMenu"
                            >
                                <svg
                                    aria-hidden="true"
                                    height="16"
                                    viewBox="0 0 16 16"
                                    width="16"
                                    data-view-component="true"
                                    class="octicon octicon-x"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z"
                                    ></path>
                                </svg>
                            </button>
                        </header>

                        <div class="SelectMenu-list">
                            <form
                                data-target="notifications-list-subscription-form.form"
                                data-action="submit:notifications-list-subscription-form#submitForm"
                                action="/notifications/subscribe"
                                accept-charset="UTF-8"
                                method="post"
                            >
                                <input
                                    type="hidden"
                                    class="is-submit-button-value"
                                    name="do"
                                    value="subscribed"
                                /><input
                                    type="hidden"
                                    name="authenticity_token"
                                    value="ITn78US4LPVmiR4tLPTT-jewxxKwapB6KmPEGwwTrbTLwnA79muHfW11cOot4-iQz45inXV_XI_PaPngAGyI_Q"
                                    autocomplete="off"
                                />

                                <input
                                    type="hidden"
                                    name="repository_id"
                                    value="438796440"
                                />

                                <button
                                    type="submit"
                                    name="do"
                                    value="included"
                                    class="SelectMenu-item flex-items-start"
                                    role="menuitemradio"
                                    aria-checked="false"
                                    data-targets="notifications-list-subscription-form.subscriptionButtons"
                                >
                                    <span class="f5">
                                        <svg
                                            aria-hidden="true"
                                            height="16"
                                            viewBox="0 0 16 16"
                                            width="16"
                                            data-view-component="true"
                                            class="octicon octicon-check SelectMenu-icon SelectMenu-icon--check"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"
                                            ></path>
                                        </svg>
                                    </span>
                                    <div>
                                        <div class="f5 text-bold">
                                            Participating and @mentions
                                        </div>
                                        <div
                                            class="text-small color-fg-muted text-normal pb-1"
                                        >
                                            Only receive notifications from this
                                            repository when participating or
                                            @mentioned.
                                        </div>
                                    </div>
                                </button>

                                <button
                                    type="submit"
                                    name="do"
                                    value="subscribed"
                                    class="SelectMenu-item flex-items-start"
                                    role="menuitemradio"
                                    aria-checked="true"
                                    data-targets="notifications-list-subscription-form.subscriptionButtons"
                                >
                                    <span class="f5">
                                        <svg
                                            aria-hidden="true"
                                            height="16"
                                            viewBox="0 0 16 16"
                                            width="16"
                                            data-view-component="true"
                                            class="octicon octicon-check SelectMenu-icon SelectMenu-icon--check"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"
                                            ></path>
                                        </svg>
                                    </span>
                                    <div>
                                        <div class="f5 text-bold">
                                            All Activity
                                        </div>
                                        <div
                                            class="text-small color-fg-muted text-normal pb-1"
                                        >
                                            Notified of all notifications on
                                            this repository.
                                        </div>
                                    </div>
                                </button>

                                <button
                                    type="submit"
                                    name="do"
                                    value="ignore"
                                    class="SelectMenu-item flex-items-start"
                                    role="menuitemradio"
                                    aria-checked="false"
                                    data-targets="notifications-list-subscription-form.subscriptionButtons"
                                >
                                    <span class="f5">
                                        <svg
                                            aria-hidden="true"
                                            height="16"
                                            viewBox="0 0 16 16"
                                            width="16"
                                            data-view-component="true"
                                            class="octicon octicon-check SelectMenu-icon SelectMenu-icon--check"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"
                                            ></path>
                                        </svg>
                                    </span>
                                    <div>
                                        <div class="f5 text-bold">Ignore</div>
                                        <div
                                            class="text-small color-fg-muted text-normal pb-1"
                                        >
                                            Never be notified.
                                        </div>
                                    </div>
                                </button>
                            </form>
                            <button
                                class="SelectMenu-item flex-items-start pr-3"
                                type="button"
                                role="menuitemradio"
                                data-target="notifications-list-subscription-form.customButton"
                                data-action="click:notifications-list-subscription-form#openCustomDialog"
                                aria-haspopup="true"
                                aria-checked="false"
                            >
                                <span class="f5">
                                    <svg
                                        aria-hidden="true"
                                        height="16"
                                        viewBox="0 0 16 16"
                                        width="16"
                                        data-view-component="true"
                                        class="octicon octicon-check SelectMenu-icon SelectMenu-icon--check"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"
                                        ></path>
                                    </svg>
                                </span>
                                <div>
                                    <div
                                        class="d-flex flex-items-start flex-justify-between"
                                    >
                                        <div class="f5 text-bold">Custom</div>
                                        <div class="f5 pr-1">
                                            <svg
                                                aria-hidden="true"
                                                height="16"
                                                viewBox="0 0 16 16"
                                                width="16"
                                                data-view-component="true"
                                                class="octicon octicon-arrow-right"
                                            >
                                                <path
                                                    fill-rule="evenodd"
                                                    d="M8.22 2.97a.75.75 0 011.06 0l4.25 4.25a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06-1.06l2.97-2.97H3.75a.75.75 0 010-1.5h7.44L8.22 4.03a.75.75 0 010-1.06z"
                                                ></path>
                                            </svg>
                                        </div>
                                    </div>
                                    <div
                                        class="text-small color-fg-muted text-normal pb-1"
                                    >
                                        Select events you want to be notified of
                                        in addition to participating and
                                        @mentions.
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                </mat-menu>
            </div>
        </li>
        <li class="nav-item mr-2">
            <div class="btnGroup-parent">
                <button
                    class="starred rounded-2 btn-sm btn btnGroup-item d-flex justify-content-center align-items-center"
                >
                    <svg
                        aria-hidden="true"
                        height="16"
                        viewBox="0 0 16 16"
                        width="16"
                        data-view-component="true"
                        class="octicon octicon-star-fill starred-button-icon d-inline-block mr-2"
                    >
                        <path
                            fill="grey"
                            d="M13,9v2h-2.488c-0.047-0.006-0.131-0.044-0.169-0.069L7.416,8l2.931-2.931C10.384,5.041,10.469,5.006,10.516,5H13v2l3-3 l-3-3v2h-2.5C9.962,3,9.319,3.266,8.941,3.647L6.584,6H0v4h6.584l2.353,2.353C9.319,12.734,9.959,13,10.497,13h2.5v2l3-3L13,9z"
                        />
                    </svg>
                    <span class="d-inline mr-2">Derive</span>
                    <span
                        id="repo-stars-counter-unstar"
                        aria-label="2 users starred this repository"
                        data-singular-suffix="user starred this repository"
                        data-plural-suffix="users starred this repository"
                        data-pjax-replace="true"
                        title="2"
                        data-view-component="true"
                        class="counter"
                        >4</span
                    >
                </button>
            </div>
        </li>
        <!--ng-template
            ngFor
            let-searchAdditionalButtonData
            [ngForOf]="searchAdditionalButtonsData"
        >
            <li
                [classList]="
                    searchAdditionalButtonData.styleClassContainer
                        ? searchAdditionalButtonData.styleClassContainer +
                          ' nav-item mr-2 '
                        : 'nav-item mr-2'
                "
            >
                <div class="btnGroup-parent">
                    <button
                        [classList]="
                            searchAdditionalButtonData.styleClassButton
                                ? searchAdditionalButtonData.styleClassButton +
                                  ' rounded-2 btn-sm btn btnGroup-item d-flex justify-content-center align-items-center '
                                : 'rounded-2 btn-sm btn btnGroup-item d-flex justify-content-center align-items-center'
                        "
                        (click)="onClick(searchAdditionalButtonData.textButton)"
                    >
                        <span class="d-inline">{{
                            searchAdditionalButtonData.textButton
                        }}</span>
                    </button>
                </div>
            </li>
        </ng-template-->
    </ul>
</ng-template>
