<ng-template [ngIf]="shouldMinimizeSearchAdditionalButtons">
    <div class="searchAdditionalButtonsBlock">
        <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
            data-test-id="searchAdditionalButtons"
        >
            <mat-icon>more_horiz</mat-icon>
        </button>
    </div>
    <mat-menu #menu="matMenu" class="searchAdditionalButtonsMinimizeBlock">
        <app-search-additional-buttons-nav
            [searchAdditionalButtonsData]="searchAdditionalButtonsData"
        ></app-search-additional-buttons-nav>
    </mat-menu>
</ng-template>
<ng-template
    [ngIf]="!shouldMinimizeSearchAdditionalButtons"
    id="bigSearchAdditionalButtons"
>
    <app-search-additional-buttons-nav
        [searchAdditionalButtonsData]="searchAdditionalButtonsData"
    ></app-search-additional-buttons-nav>
</ng-template>
