@import "var";

.p-responsive {
    padding-left: 16px;

    a {
        text-decoration: none;
    }
}

.fw-bold-custom {
    font-weight: 600;
}

.action-list {
    padding: 0;

    &-item {
        padding: 3px 0;
        position: relative;
        list-style: none;
        border-radius: 6px;
        text-decoration: none;

        a {
            &:hover {
                cursor: pointer;
                text-decoration: none;
            }
        }

        &--nav__active {
            background: $app-color-action-list-item-default-selected-bg;

            a {
                font-weight: 600;
            }

            &::after {
                position: absolute;
                top: calc(50% - 12px);
                left: -8px;
                width: 4px;
                height: 24px;
                content: "";
                background: $app-color-accent-fg;
                border-radius: 6px;
            }
        }
    }

    &-content {
        position: relative;
        display: grid;
        width: 100%;
        padding: 6px 8px;
        font-size: 14px;
        font-weight: 400;
        color: $app-color-fg-default;
        text-align: left;
        user-select: none;
        background-color: transparent;
        border: none;
        border-radius: 6px;
        transition: background 33.333ms linear;
        touch-action: manipulation;
        grid-template-rows: min-content;
        grid-template-areas: "leadingAction leadingVisual label trailingVisual trailingAction";
        grid-template-columns: min-content max-content;
        align-items: start;

        &:hover {
            background: $app-color-action-list-item-default-selected-bg;
        }
    }

    &-section-divider {
        &:not(:empty) {
            display: flex;
            padding: 6px 8px;
            font-size: 12px;
            font-weight: 500;
            color: $app-color-fg-muted;
            flex-direction: column;
        }

        &:empty {
            display: block;
            height: 1px;
            padding: 0;
            margin: 7px -8px 8px;
            list-style: none;
            background: $app-color-action-list-item-inline-divider;
            border: 0;
        }
    }
}
