<div class="pt-4 container-xl p-responsive clearfix">
    <div class="d-md-flex align-items-center justify-content-between mt-1 mb-4">
        <div class="d-flex align-items-center mb-2 mb-md-0">
            <img
                [src]="user.avatarUrl"
                alt="@kulykivska"
                size="48"
                height="48"
                width="48"
                data-view-component="true"
                class="avatar rounded-circle mr-3"
            />
            <div class="flex-auto mx-4 mt-3">
                <div class="h3-custom lh-condensed">
                    <a
                        [routerLink]="['/', user.login]"
                        class="color-fg-default fw-bold-custom fs-5"
                    >
                        {{ user.login }}
                    </a>
                    <span class="sr-only">settings</span>
                </div>
                <div class="d-flex align-items-center flex-wrap">
                    <p class="color-fg-muted">Your personal account</p>
                </div>
            </div>
        </div>
    </div>
    <div
        class="d-flex Layout Layout--flowRow-until-md Layout--sidebarPosition-start Layout--sidebarPosition-flowRow-start"
    >
        <div class="Layout-sidebar">
            <div class="pr-md-4 pr-0">
                <div data-catalyst="">
                    <nav
                        aria-label="User settings"
                        data-view-component="true"
                        class="NavigationList"
                    >
                        <ul
                            role="list"
                            aria-label="User settings"
                            nav_classes="org-sub-menu"
                            data-view-component="true"
                            class="ActionList"
                        >
                            <li
                                data-item-id="settings_user_profile"
                                data-view-component="true"
                                [ngClass]="{
                                    'ActionList-item--navActive':
                                        activeTab === settingsTabs.PROFILE
                                }"
                                class="ActionList-item org-menu-item"
                            >
                                <a
                                    routerLinkActive="active"
                                    [routerLink]="
                                        getRouteLink(settingsTabs.PROFILE)
                                    "
                                    aria-current="page"
                                    data-view-component="true"
                                    class="ActionList-content ActionList-content--visual16"
                                >
                                    <span
                                        class="ActionList-item-visual ActionList-item-visual--leading text-muted mr-2"
                                    >
                                        <svg-icon
                                            name="public-profile"
                                        ></svg-icon>
                                    </span>
                                    <span class="ActionList-item-label">
                                        Public profile
                                    </span>
                                </a>
                            </li>
                            <li
                                data-item-id=""
                                data-view-component="true"
                                [ngClass]="{
                                    'ActionList-item--navActive':
                                        activeTab === settingsTabs.ACCOUNT
                                }"
                                class="ActionList-item org-menu-item"
                            >
                                <a
                                    routerLinkActive="active"
                                    [routerLink]="
                                        getRouteLink(settingsTabs.ACCOUNT)
                                    "
                                    data-view-component="true"
                                    class="ActionList-content ActionList-content--visual16"
                                >
                                    <span
                                        class="ActionList-item-visual ActionList-item-visual--leading text-muted mr-2"
                                    >
                                        <svg-icon name="account"></svg-icon>
                                    </span>
                                    <span class="ActionList-item-label">
                                        Account
                                    </span>
                                </a>
                            </li>
                            <li
                                data-item-id=""
                                data-view-component="true"
                                [ngClass]="{
                                    'ActionList-item--navActive':
                                        activeTab === settingsTabs.APPEARANCE
                                }"
                                class="ActionList-item org-menu-item"
                            >
                                <a
                                    routerLinkActive="active"
                                    [routerLink]="
                                        getRouteLink(settingsTabs.APPEARANCE)
                                    "
                                    data-view-component="true"
                                    class="ActionList-content ActionList-content--visual16"
                                >
                                    <span
                                        class="ActionList-item-visual ActionList-item-visual--leading text-muted mr-2"
                                    >
                                        <svg-icon name="appearance"></svg-icon>
                                    </span>
                                    <span class="ActionList-item-label">
                                        Appearance
                                    </span>
                                </a>
                            </li>
                            <li
                                data-item-id=""
                                data-view-component="true"
                                [ngClass]="{
                                    'ActionList-item--navActive':
                                        activeTab === settingsTabs.ACCESSIBILITY
                                }"
                                class="ActionList-item org-menu-item"
                            >
                                <a
                                    routerLinkActive="active"
                                    [routerLink]="
                                        getRouteLink(settingsTabs.ACCESSIBILITY)
                                    "
                                    data-view-component="true"
                                    class="ActionList-content ActionList-content--visual16"
                                >
                                    <span
                                        class="ActionList-item-visual ActionList-item-visual--leading text-muted mr-2"
                                    >
                                        <svg-icon
                                            name="accessibility"
                                        ></svg-icon>
                                    </span>
                                    <span class="ActionList-item-label">
                                        Accessibility
                                    </span>
                                </a>
                            </li>
                            <li
                                data-item-id=""
                                data-view-component="true"
                                [ngClass]="{
                                    'ActionList-item--navActive':
                                        activeTab === settingsTabs.NOTIFICATIONS
                                }"
                                class="ActionList-item org-menu-item"
                            >
                                <a
                                    routerLinkActive="active"
                                    [routerLink]="
                                        getRouteLink(settingsTabs.NOTIFICATIONS)
                                    "
                                    data-view-component="true"
                                    class="ActionList-content ActionList-content--visual16"
                                >
                                    <span
                                        class="ActionList-item-visual ActionList-item-visual--leading text-muted mr-2"
                                    >
                                        <svg-icon
                                            name="notifications"
                                        ></svg-icon>
                                    </span>
                                    <span class="ActionList-item-label">
                                        Notifications
                                    </span>
                                </a>
                            </li>
                            <li
                                role="separator"
                                aria-hidden="true"
                                data-view-component="true"
                                class="ActionList-sectionDivider"
                            ></li>
                            <li
                                data-view-component="true"
                                class="ActionList-sectionDivider"
                            >
                                <p
                                    id="nav-list-section-2534b94a-735f-4cd6-bfff-c0f48caf7cab"
                                    data-view-component="true"
                                    class="ActionList-sectionDivider-title"
                                >
                                    Access
                                </p>
                            </li>
                            <li
                                data-view-component="true"
                                class="ActionList-item ActionList-item--hasSubItem"
                            >
                                <ul
                                    aria-labelledby="nav-list-section-2534b94a-735f-4cd6-bfff-c0f48caf7cab"
                                    data-view-component="true"
                                    class="ActionList ActionList--subGroup"
                                >
                                    <li
                                        data-item-id=""
                                        data-view-component="true"
                                        class="ActionList-item org-menu-item"
                                        [ngClass]="{
                                            'ActionList-item--navActive':
                                                activeTab ===
                                                settingsTabs.BILLING
                                        }"
                                    >
                                        <a
                                            routerLinkActive="active"
                                            [routerLink]="
                                                getRouteLink(
                                                    settingsTabs.BILLING
                                                )
                                            "
                                            data-view-component="true"
                                            class="ActionList-content ActionList-content--visual16"
                                        >
                                            <span
                                                class="ActionList-item-visual ActionList-item-visual--leading text-muted mr-2"
                                            >
                                                <svg-icon
                                                    name="billing"
                                                ></svg-icon>
                                            </span>
                                            <span class="ActionList-item-label">
                                                Billing and plans
                                            </span>
                                        </a>
                                    </li>
                                    <li
                                        data-item-id=""
                                        data-view-component="true"
                                        class="ActionList-item org-menu-item"
                                        [ngClass]="{
                                            'ActionList-item--navActive':
                                                activeTab ===
                                                settingsTabs.EMAILS
                                        }"
                                    >
                                        <a
                                            routerLinkActive="active"
                                            [routerLink]="
                                                getRouteLink(
                                                    settingsTabs.EMAILS
                                                )
                                            "
                                            data-view-component="true"
                                            class="ActionList-content ActionList-content--visual16"
                                        >
                                            <span
                                                class="ActionList-item-visual ActionList-item-visual--leading text-muted mr-2"
                                            >
                                                <svg-icon
                                                    name="emails"
                                                ></svg-icon>
                                            </span>
                                            <span class="ActionList-item-label">
                                                Emails
                                            </span>
                                        </a>
                                    </li>
                                    <li
                                        data-item-id=""
                                        data-view-component="true"
                                        class="ActionList-item org-menu-item"
                                        [ngClass]="{
                                            'ActionList-item--navActive':
                                                activeTab ===
                                                settingsTabs.SECURITY
                                        }"
                                    >
                                        <a
                                            routerLinkActive="active"
                                            [routerLink]="
                                                getRouteLink(
                                                    settingsTabs.SECURITY
                                                )
                                            "
                                            data-view-component="true"
                                            class="ActionList-content ActionList-content--visual16"
                                        >
                                            <span
                                                class="ActionList-item-visual ActionList-item-visual--leading text-muted mr-2"
                                            >
                                                <svg-icon
                                                    name="security"
                                                ></svg-icon>
                                            </span>
                                            <span class="ActionList-item-label">
                                                Password and authentication
                                            </span>
                                        </a>
                                    </li>
                                    <li
                                        data-item-id=""
                                        data-view-component="true"
                                        class="ActionList-item org-menu-item"
                                        [ngClass]="{
                                            'ActionList-item--navActive':
                                                activeTab ===
                                                settingsTabs.ORGANIZATIONS
                                        }"
                                    >
                                        <a
                                            routerLinkActive="active"
                                            [routerLink]="
                                                getRouteLink(
                                                    settingsTabs.ORGANIZATIONS
                                                )
                                            "
                                            data-view-component="true"
                                            class="ActionList-content ActionList-content--visual16"
                                        >
                                            <span
                                                class="ActionList-item-visual ActionList-item-visual--leading text-muted mr-2"
                                            >
                                                <svg-icon
                                                    name="organizations"
                                                ></svg-icon>
                                            </span>
                                            <span class="ActionList-item-label">
                                                Organizations
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="app-content"></div>
    </div>
</div>
