<div class="paginate-container">
    <!-- TODO: Handle case when number of totalPages is unknown -->
    <ngb-pagination
        class="pagination-custom"
        [collectionSize]="(pageInfo.totalPages || currentPage) * 10"
        [maxSize]="7"
        [(page)]="currentPage"
        [directionLinks]="false"
        [rotate]="true"
        [ellipses]="true"
        (pageChange)="onPageChange(currentPage)"
        aria-label="Custom pagination"
    >
        <ng-template ngbPaginationPrevious><span class="previous-page"></span><span>Prev</span></ng-template>
        <ng-template ngbPaginationNext><span>Next</span><span class="next-page"></span></ng-template>
    </ngb-pagination>
</div>
