.from-label {
    position: absolute;
    left: 5px;
    bottom: 33px;
}

.quick-range-label {
    position: absolute;
    left: 24px;
    bottom: 47px;
}

.order-label {
    position: absolute;
    left: 5px;
    bottom: 23px;
}

.container-order {
    width: 200px;
}

.failures-control {
    width: 180px;
}
