<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <img [src]="appLogo" alt="Application logo" />
                <h1>Oops!</h1>
                <h2>404 Not Found</h2>
                <div class="error-details">Sorry, an error has occurred, Requested page not found!</div>
                <div class="error-actions d-flex justify-content-center">
                    <button class="app-active-button" (click)="navigateToHome()">
                        <span><i class="bi bi-house-door icon-home"></i></span>Take me home
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
