<div class="pt-4 container-main p-responsive clearfix" *ngIf="user$ | async as user">
    <div class="d-md-flex align-items-center justify-content-between mt-1 mb-4">
        <div class="d-flex align-items-center mb-2 mb-md-0">
            <img
                [src]="user.avatarUrl ?? DEFAULT_AVATAR_URL"
                [alt]="'@' + user.accountName"
                size="48"
                height="48"
                width="48"
                data-view-component="true"
                class="avatar rounded-circle mr-3"
            />
            <div class="flex-auto mx-4 mt-3">
                <a
                    [routerLink]="['/', user.accountName]"
                    class="color-fg-default fw-bold-custom fs-5"
                    data-test-id="user-name-link"
                >
                    {{ user.displayName }} <span class="text-muted">({{ user.accountName }})</span>
                </a>
                <div class="d-flex align-items-center flex-wrap">
                    <p class="color-fg-muted">Your personal account</p>
                </div>
            </div>
        </div>
    </div>
    <div
        class="d-flex layout layout--flowRow-until-md layout--sidebar-position-start layout--sidebarPosition-flowRow-start"
    >
        <div class="layout-sidebar">
            <div class="pr-md-4 pr-0">
                <div data-catalyst="">
                    <nav>
                        <ul role="list" class="action-list">
                            <ng-container *ngFor="let item of ACCOUNT_SETTINGS_MENU_DESCRIPTORS">
                                <li
                                    [appFeatureFlag]="item.featureFlag"
                                    [ngClass]="{
                                        'action-list-item--nav__active': activeTab === item.activeTab,
                                    }"
                                    class="action-list-item"
                                >
                                    <a
                                        routerLinkActive="active"
                                        [routerLink]="getRouteLink(item.activeTab)"
                                        [class]="'action-list-content d-flex align-items-center ' + item.class"
                                    >
                                        <span
                                            class="action-list-item-visual action-list-item-visual--leading text-muted mr-2"
                                        >
                                            <mat-icon class="mat-icon-svg-size" [svgIcon]="item.iconName" />
                                        </span>
                                        <span class="action-list-item-label"> {{ item.label }} </span>
                                    </a>
                                </li>
                                <li
                                    *ngIf="item.groupDivider"
                                    role="separator"
                                    aria-hidden="true"
                                    class="action-list-section-divider"
                                ></li>
                                <li *ngIf="item.groupDivider" class="action-list-section-divider">
                                    <p class="action-list-section-divider-title">{{ item.groupDivider.groupName }}</p>
                                </li>
                            </ng-container>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
