@use "var" as *;

#dataset-view-history {
    overflow: visible;
}

.custom-container {
    background: #f4f5f5 !important;
    padding: 40px 43px 40px 37px;
    box-sizing: border-box;
    box-shadow: 0 5px 4px $app-versatile-business-dark;
    border-radius: 8px;
    border: 1px solid $app-very-light-gray;
}
