@use "var" as *;

p {
    display: inline-block;
}

.link {
    color: $app-navy-blue;

    &:hover {
        text-decoration: underline;
    }
}

.bg-value {
    background-color: #f3f4f6;
    padding: 3px 10px;
    border-radius: 5px;
}
