<div class="d-flex align-items-start flex-column" [class.custom-border]="depth > 0">
    <div class="d-flex flex-row align-items-center">
        <ng-select
            class="width-120"
            [(ngModel)]="value.kind"
            [items]="TYPES_OPTIONS_LIST"
            bindLabel="label"
            bindValue="value"
            [clearable]="false"
            (change)="changeEditorType($event)"
        >
            <ng-template ng-option-tmp let-item="item" let-index="index">
                <label class="fs-14 inline-block"> {{ item.value }} </label>
            </ng-template>
        </ng-select>
        <ng-container *ngIf="value.kind === 'Timestamp'">
            <span class="text-muted gap-2">&nbsp;&lt;&nbsp;</span>
            <ng-select
                class="width-120"
                [(ngModel)]="value.unit"
                [items]="UNIT_OPTIONS_LIST"
                bindLabel="label"
                bindValue="value"
                [clearable]="false"
            >
                <ng-template ng-option-tmp let-item="item" let-index="index">
                    <label class="fs-14 inline-block"> {{ item.value }} </label>
                </ng-template>
            </ng-select>
            <span class="text-muted">&nbsp;,&nbsp;</span>
            <ng-select
                class="width-60"
                [(ngModel)]="schemaTimeField.timezone"
                [items]="TIMEZONE_OPTIONS_LIST"
                bindLabel="label"
                bindValue="value"
                appendTo="body"
                [clearable]="false"
            >
                <ng-template ng-option-tmp let-item="item" let-index="index">
                    <label class="fs-14 inline-block"> {{ item.value }} </label>
                </ng-template>
            </ng-select>
            <span class="text-muted">&nbsp;&gt;</span>
        </ng-container>
        <ng-container *ngIf="value.kind === OdfTypes.Time || value.kind === OdfTypes.Duration">
            <span class="text-muted gap-2">&nbsp;&lt;&nbsp;</span>
            <ng-select
                class="width-120"
                [(ngModel)]="value.unit"
                [items]="UNIT_OPTIONS_LIST"
                bindLabel="label"
                bindValue="value"
                [clearable]="false"
                (change)="changeUnitTime($event)"
            >
                <ng-template ng-option-tmp let-item="item" let-index="index">
                    <label class="fs-14 inline-block"> {{ item.value }} </label>
                </ng-template>
            </ng-select>

            <span class="text-muted">&nbsp;&gt;</span>
        </ng-container>
    </div>

    <ng-container *ngIf="value.kind === OdfTypes.Option">
        <div class="d-flex flex-column mt-2" [class.ms-2]="depth > 0">
            <span class="text-muted fs-12 d-block">Inner Type</span>
            <div class="">
                <app-type-editor [value]="value.inner" [depth]="depth + 1" (typeChange)="typeOptionChange($event)" />
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="value.kind === OdfTypes.List">
        <div class="d-flex flex-column mt-2" [class.ms-2]="depth > 0">
            <span class="text-muted fs-12 d-block">Item Type</span>
            <div>
                <app-type-editor [value]="value.itemType" [depth]="depth + 1" (typeChange)="typeListChange($event)" />
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="value.kind === OdfTypes.Map">
        <div class="d-flex flex-column mt-2" [class.ms-2]="depth > 0">
            <span class="text-muted fs-12 d-block">Key Type</span>
            <div>
                <app-type-editor [depth]="depth + 1" [value]="value.keyType" (typeChange)="typeMapKeyChange($event)" />
            </div>
        </div>
        <div class="d-flex flex-column mb-1" [class.ms-2]="depth > 0">
            <span class="text-muted fs-12 d-block">Key Value</span>
            <div>
                <app-type-editor
                    [depth]="depth + 1"
                    [value]="value.valueType"
                    (typeChange)="typeMapValueChange($event)"
                />
            </div>
        </div>
    </ng-container>
</div>
