.width-120 {
    width: 120px;
}

.width-60 {
    width: 120px;
}

.width-150 {
    width: 150px;
}

.custom-border {
    border-left: 2px solid rgb(147 197 253);
    padding-left: 6px;
}

.ng-dropdown-panel {
    z-index: 1050;
    position: absolute;
}
