<div
    class="application-main"
    data-commit-hovercards-enabled=""
    data-discussion-hovercards-enabled=""
    data-issue-and-pr-hovercards-enabled=""
>
    <div id="js-pjax-container" data-pjax-container="">
        <div
            class="mt-4 position-sticky top-0 d-none d-md-block color-bg-default width-full border-bottom color-border-muted"
            style="z-index: 3"
        >
            <div class="container-xl px-3 px-md-4 px-lg-5">
                <div
                    class="account-container justify-content-between align-items-center"
                >
                    <div data-view-component="true">
                        <div class="user-profile-sticky-bar">
                            <div
                                class="d-flex flex-wrap flex-items-start flex-md-items-center my-3"
                            >
                                <div class="d-block mr-2">
                                    <img
                                        itemprop="image"
                                        class="avatar flex-shrink-0 mb-3 mr-3 mb-md-0 mr-md-4"
                                        src="https://avatars.githubusercontent.com/u/50896974?s=200&amp;v=4"
                                        width="100"
                                        height="100"
                                        alt="@kamu-data"
                                    />
                                </div>
                                <div class="flex-1 mx-4">
                                    <h1 class="h2 lh-condensed">kamu</h1>

                                    <div class="color-fg-muted">
                                        <div>
                                            Decentralized data supply chain
                                        </div>
                                    </div>

                                    <div
                                        class="d-md-flex flex-items-center mt-2 p-0"
                                    >
                                        <ul
                                            class="d-md-flex list-style-none f6 p-0 account-additional-main-info__list"
                                        >
                                            <li
                                                style="max-width: 230px"
                                                class="d-flex justify-content-center align-items-center mr-md-3 v-align-middle color-fg-default my-2 my-md-0 css-truncate css-truncate-target"
                                            >
                                                <mat-icon>link</mat-icon>
                                                <a
                                                    rel="nofollow"
                                                    itemprop="url"
                                                    class="color-fg-default"
                                                    title="https://kamu.dev"
                                                    href="https://kamu.dev"
                                                    >https://kamu.dev</a
                                                >
                                            </li>
                                            <li
                                                style="max-width: 230px"
                                                class="d-flex justify-content-center align-items-center mr-md-3 color-fg-default my-2 my-md-0 css-truncate css-truncate-target mail-outline"
                                            >
                                               <mat-icon>mail_outline</mat-icon>
                                                <a
                                                    class="color-fg-default"
                                                    itemprop="email"
                                                    href="mailto:info@kamu.dev"
                                                    >info@kamu.dev</a
                                                >
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div
                                    class="d-flex flex-items-center flex-self-start mt-3"
                                ></div>
                            </div>
                            <div data-view-component="true" class="Layout-main">
                                <div
                                    class="UnderlineNav width-full box-shadow-none js-responsive-underlinenav overflow-md-x-hidden"
                                >
                                    <nav
                                        class="UnderlineNav-body width-full p-responsive d-flex justify-content-between align-items-center"
                                        aria-label="User profile"
                                    >
                                        <button
                                            [ngClass]="selectedTabs(accountTabs.overview) === true ? 'UnderlineNav-item selected' : 'UnderlineNav-item'"
                                            data-tab-item="overview"
                                            (click)="onUserProfile()"
                                        >
                                            <mat-icon>my_library_books</mat-icon>
                                            <span class="mx-2">Overview</span>
                                        </button>
                                        <button
                                            [ngClass]="selectedTabs(accountTabs.datasets) === true ? 'UnderlineNav-item selected' : 'UnderlineNav-item'"
                                            data-tab-item="datasets"
                                            (click)="onUserDatasets()"
                                        >
                                            <mat-icon>book</mat-icon>
                                            <span class="mx-2">Datasets</span>
                                            <span
                                                title="1"
                                                data-view-component="true"
                                                class="Counter"
                                                >6</span
                                            >
                                        </button>
                                        <button
                                            [ngClass]="selectedTabs(accountTabs.organizations) === true ? 'UnderlineNav-item selected' : 'UnderlineNav-item'"
                                            data-tab-item="organizations"
                                            (click)="onUserOrganizations()"
                                        >
                                            <mat-icon>people</mat-icon>
                                            <span class="mx-2">Organizations</span>
                                            <span
                                                title="0"
                                                [attr.hidden]="'hidden'"
                                                data-view-component="true"
                                                class="Counter"
                                                >0</span
                                            >
                                        </button>
                                        <button
                                            [ngClass]="selectedTabs(accountTabs.inbox) === true ? 'UnderlineNav-item selected' : 'UnderlineNav-item'"
                                            data-tab-item="inbox"
                                            (click)="onUserInbox()"
                                        >
                                            <mat-icon>inbox</mat-icon>
                                            <span class="mx-2">Inbox</span>
                                            <span
                                                title="0"
                                                hidden="hidden"
                                                data-view-component="true"
                                                class="Counter"
                                                >0</span
                                            >
                                        </button>
                                        <button
                                            [ngClass]="selectedTabs(accountTabs.stars) === true ? 'UnderlineNav-item selected' : 'UnderlineNav-item'"
                                            data-tab-item="stars"
                                            (click)="onUserStars()"
                                        >
                                            <mat-icon>star_border</mat-icon>
                                            <span class="mx-2">Starred</span>
                                            <span
                                                title="2"
                                                data-view-component="true"
                                                class="Counter"
                                                >6</span
                                            >
                                        </button>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="mt-4 position-sticky top-0 d-none d-md-block color-bg-default width-full"
            style="z-index: 3"
        >
            <div class="container-xl px-3 px-md-4 px-lg-5">
                <div *ngIf="selectedTabs(accountTabs.overview) || selectedTabs(accountTabs.organizations)">
                    <p>Feature coming soon</p>
                </div>
                <div *ngIf="selectedTabs(accountTabs.datasets) || selectedTabs(accountTabs.stars)">
                    <app-repo-list
                        [dataSource]="datasets"
                        [resultUnitText]="''"
                        [isClickableRow]="true"
                        (onSelectDatasetEmit)="onSelectDataset($event)"
                    ></app-repo-list>
                </div>
            </div>
        </div>
    </div>
</div>
