<div
    class="application-main"
    data-commit-hovercards-enabled=""
    data-discussion-hovercards-enabled=""
    data-issue-and-pr-hovercards-enabled=""
>
    <div id="js-pjax-container" data-pjax-container="">
        <div
            class="mt-4 position-sticky top-0 d-none d-md-block color-bg-default width-full border-bottom color-border-muted"
            style="z-index: 3"
        >
            <div class="container-xl px-3 px-md-4 px-lg-5">
                <div
                    class="account-container justify-content-between align-items-center"
                >
                    <div data-view-component="true">
                        <div class="user-profile-sticky-bar">
                            <div
                                class="d-flex flex-wrap flex-items-start flex-md-items-center my-3"
                            >
                                <div class="d-block mr-2">
                                    <img
                                        itemprop="image"
                                        class="avatar flex-shrink-0 mb-3 mr-3 mb-md-0 mr-md-4"
                                        src="https://avatars.githubusercontent.com/u/50896974?s=200&amp;v=4"
                                        width="100"
                                        height="100"
                                        alt="@kamu-data"
                                    />
                                </div>
                                <div class="flex-1 mx-4">
                                    <h1 class="h2 lh-condensed">kamu</h1>

                                    <div class="color-fg-muted">
                                        <div>
                                            Decentralized data supply chain
                                        </div>
                                    </div>

                                    <div
                                        class="d-md-flex flex-items-center mt-2 p-0"
                                    >
                                        <ul
                                            class="d-md-flex list-style-none f6 p-0 account-additional-main-info__list"
                                        >
                                            <li
                                                style="max-width: 230px"
                                                class="d-flex justify-content-center align-items-center mr-md-3 v-align-middle color-fg-default my-2 my-md-0 css-truncate css-truncate-target"
                                            >
                                                <mat-icon>link</mat-icon>
                                                <a
                                                    rel="nofollow"
                                                    itemprop="url"
                                                    class="color-fg-default"
                                                    title="https://kamu.dev"
                                                    href="https://kamu.dev"
                                                    >https://kamu.dev</a
                                                >
                                            </li>
                                            <li
                                                style="max-width: 230px"
                                                class="d-flex justify-content-center align-items-center mr-md-3 color-fg-default my-2 my-md-0 css-truncate css-truncate-target mail-outline"
                                            >
                                               <mat-icon>mail_outline</mat-icon>
                                                <a
                                                    class="color-fg-default"
                                                    itemprop="email"
                                                    href="mailto:info@kamu.dev"
                                                    >info@kamu.dev</a
                                                >
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div
                                    class="d-flex flex-items-center flex-self-start mt-3"
                                ></div>
                            </div>
                            <div data-view-component="true" class="Layout-main">
                                <div
                                    class="UnderlineNav width-full box-shadow-none js-responsive-underlinenav overflow-md-x-hidden"
                                >
                                    <nav
                                        class="UnderlineNav-body width-full p-responsive d-flex justify-content-between align-items-center"
                                        aria-label="User profile"
                                    >
                                        <a
                                            aria-current="page"
                                            class="UnderlineNav-item selected"
                                            data-tab-item="overview"
                                            href="/kulykivska"
                                        >
                                            <mat-icon>my_library_books</mat-icon>
                                            <span class="mx-2">Overview</span>
                                        </a>
                                        <a
                                            class="UnderlineNav-item js-responsive-underlinenav-item"
                                            data-tab-item="datasets"
                                            href="/kulykivska?tab=datasets"
                                        >
                                            <mat-icon>book</mat-icon>
                                            <span class="mx-2">Datasets</span>
                                            <span
                                                title="1"
                                                data-view-component="true"
                                                class="Counter"
                                                >1</span
                                            >
                                        </a>
                                        <a
                                            class="UnderlineNav-item js-responsive-underlinenav-item"
                                            data-tab-item="organizations"
                                            href="/kulykivska?tab=organizations"
                                        >
                                            <mat-icon>people</mat-icon>
                                            <span class="mx-2">Organizations</span>
                                            <span
                                                title="0"
                                                hidden="hidden"
                                                data-view-component="true"
                                                class="Counter"
                                                >0</span
                                            >
                                        </a>
                                        <a
                                            class="UnderlineNav-item js-responsive-underlinenav-item"
                                            data-tab-item="inbox"
                                            href="/kulykivska?tab=inbox"
                                        >
                                            <mat-icon>inbox</mat-icon>
                                            <span class="mx-2">Inbox</span>
                                            <span
                                                title="0"
                                                hidden="hidden"
                                                data-view-component="true"
                                                class="Counter"
                                                >0</span
                                            >
                                        </a>
                                        <a
                                            class="UnderlineNav-item js-responsive-underlinenav-item"
                                            data-hydro-click='{"event_type":"user_profile.click","payload":{"profile_user_id":87068546,"target":"TAB_STARS","user_id":87068546,"originating_url":"https://github.com/kulykivska"}}'
                                            data-hydro-click-hmac="4b3dc81f2ad873bd3bb4bf5e362a0f3ab9f1c332c4493ef8d1b4c27a0d2a9569"
                                            data-tab-item="stars"
                                            href="/kulykivska?tab=stars"
                                        >
                                            <mat-icon>star_border</mat-icon>
                                            <span class="mx-2">Starred</span>
                                            <span
                                                title="2"
                                                data-view-component="true"
                                                class="Counter"
                                                >2</span
                                            >
                                        </a>
                                    </nav>

                                    <div
                                        class="position-absolute pr-3 pr-md-4 pr-lg-5 right-0 js-responsive-underlinenav-overflow"
                                        style="visibility: hidden"
                                    >
                                        <details
                                            data-view-component="true"
                                            class="details-overlay details-reset position-relative"
                                        >
                                            <summary
                                                role="button"
                                                data-view-component="true"
                                            >
                                                <div
                                                    class="UnderlineNav-item mr-0 border-0"
                                                >
                                                    <svg
                                                        aria-hidden="true"
                                                        height="16"
                                                        viewBox="0 0 16 16"
                                                        version="1.1"
                                                        width="16"
                                                        data-view-component="true"
                                                        class="octicon octicon-kebab-horizontal"
                                                    >
                                                        <path
                                                            d="M8 9a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM1.5 9a1.5 1.5 0 100-3 1.5 1.5 0 000 3zm13 0a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"
                                                        ></path>
                                                    </svg>
                                                    <span class="sr-only"
                                                        >More</span
                                                    >
                                                </div>
                                            </summary>
                                            <div data-view-component="true">
                                                <div
                                                    role="menu"
                                                    class="dropdown-menu dropdown-menu-sw"
                                                >
                                                    <ul>
                                                        <li
                                                            data-menu-item="overview"
                                                            hidden=""
                                                        >
                                                            <a
                                                                role="menuitem"
                                                                class="js-selected-navigation-item selected dropdown-item"
                                                                aria-current="page"
                                                                data-selected-links=" /kulykivska"
                                                                href="/kulykivska"
                                                                >Overview</a
                                                            >
                                                        </li>
                                                        <li
                                                            data-menu-item="repositories"
                                                            hidden=""
                                                        >
                                                            <a
                                                                role="menuitem"
                                                                class="js-selected-navigation-item dropdown-item"
                                                                data-selected-links=" /kulykivska?tab=repositories"
                                                                href="/kulykivska?tab=repositories"
                                                                >Repositories</a
                                                            >
                                                        </li>
                                                        <li
                                                            data-menu-item="projects"
                                                            hidden=""
                                                        >
                                                            <a
                                                                role="menuitem"
                                                                class="js-selected-navigation-item dropdown-item"
                                                                data-selected-links=" /kulykivska?tab=projects&amp;type=beta"
                                                                href="/kulykivska?tab=projects&amp;type=beta"
                                                                >Projects</a
                                                            >
                                                        </li>
                                                        <li
                                                            data-menu-item="packages"
                                                            hidden=""
                                                        >
                                                            <a
                                                                role="menuitem"
                                                                class="js-selected-navigation-item dropdown-item"
                                                                data-selected-links=" /kulykivska?tab=packages"
                                                                href="/kulykivska?tab=packages"
                                                                >Packages</a
                                                            >
                                                        </li>
                                                        <li
                                                            data-menu-item="stars"
                                                            hidden=""
                                                        >
                                                            <a
                                                                role="menuitem"
                                                                class="js-selected-navigation-item dropdown-item"
                                                                data-selected-links=" /kulykivska?tab=stars"
                                                                href="/kulykivska?tab=stars"
                                                                >Stars</a
                                                            >
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </details>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
