<div
    class="application-main"
    data-commit-hovercards-enabled=""
    data-discussion-hovercards-enabled=""
    data-issue-and-pr-hovercards-enabled=""
>
    <div id="js-pjax-container" data-pjax-container="">
        <div
            class="mt-4 position-sticky top-0 d-none d-md-block color-bg-default width-full border-bottom color-border-muted"
            style="z-index: 3"
        >
            <div class="container-xl px-3 px-md-4 px-lg-5">
                <div
                    class="account-container justify-content-between align-items-center"
                >
                    <div data-view-component="true">
                        <div class="user-profile-sticky-bar">
                            <div
                                class="d-flex flex-wrap flex-items-start flex-md-items-center my-3"
                            >
                                <div class="d-block mr-2">
                                    <img
                                        itemprop="image"
                                        class="avatar flex-shrink-0 mb-3 mr-3 mb-md-0 mr-md-4"
                                        src="https://avatars.githubusercontent.com/u/50896974?s=200&amp;v=4"
                                        width="100"
                                        height="100"
                                        alt="@kamu-data"
                                    />
                                </div>
                                <div class="flex-1">
                                    <h1 class="h2 lh-condensed">kamu</h1>

                                    <div class="color-fg-muted">
                                        <div>
                                            Decentralized data supply chain
                                        </div>
                                    </div>

                                    <div
                                        class="d-md-flex flex-items-center mt-2"
                                    >
                                        <ul
                                            class="d-md-flex list-style-none f6 has-blog has-email"
                                        >
                                            <li
                                                style="max-width: 230px"
                                                class="mr-md-3 v-align-middle color-fg-default my-2 my-md-0 css-truncate css-truncate-target"
                                            >
                                                <svg
                                                    aria-hidden="true"
                                                    height="16"
                                                    viewBox="0 0 16 16"
                                                    version="1.1"
                                                    width="16"
                                                    data-view-component="true"
                                                    class="octicon octicon-link flex-shrink-0"
                                                >
                                                    <path
                                                        fill-rule="evenodd"
                                                        d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"
                                                    ></path>
                                                </svg>
                                                <a
                                                    rel="nofollow"
                                                    itemprop="url"
                                                    class="color-fg-default"
                                                    title="https://kamu.dev"
                                                    href="https://kamu.dev"
                                                    >https://kamu.dev</a
                                                >
                                            </li>
                                            <li
                                                style="max-width: 230px"
                                                class="mr-md-3 color-fg-default my-2 my-md-0 css-truncate css-truncate-target"
                                            >
                                                <svg
                                                    aria-hidden="true"
                                                    height="16"
                                                    viewBox="0 0 16 16"
                                                    version="1.1"
                                                    width="16"
                                                    data-view-component="true"
                                                    class="octicon octicon-mail flex-shrink-0 v-align-middle"
                                                >
                                                    <path
                                                        fill-rule="evenodd"
                                                        d="M1.75 2A1.75 1.75 0 000 3.75v.736a.75.75 0 000 .027v7.737C0 13.216.784 14 1.75 14h12.5A1.75 1.75 0 0016 12.25v-8.5A1.75 1.75 0 0014.25 2H1.75zM14.5 4.07v-.32a.25.25 0 00-.25-.25H1.75a.25.25 0 00-.25.25v.32L8 7.88l6.5-3.81zm-13 1.74v6.441c0 .138.112.25.25.25h12.5a.25.25 0 00.25-.25V5.809L8.38 9.397a.75.75 0 01-.76 0L1.5 5.809z"
                                                    ></path>
                                                </svg>
                                                <a
                                                    class="color-fg-default"
                                                    itemprop="email"
                                                    href="mailto:info@kamu.dev"
                                                    >info@kamu.dev</a
                                                >
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div
                                    class="d-flex flex-items-center flex-self-start mt-3"
                                ></div>
                            </div>
                            <div data-view-component="true" class="Layout-main">
                                <div
                                    class="UnderlineNav width-full box-shadow-none js-responsive-underlinenav overflow-md-x-hidden"
                                >
                                    <nav
                                        class="UnderlineNav-body width-full p-responsive d-flex justify-content-between align-items-center"
                                        aria-label="User profile"
                                    >
                                        <a
                                            aria-current="page"
                                            class="UnderlineNav-item js-responsive-underlinenav-item selected"
                                            data-hydro-click='{"event_type":"user_profile.click","payload":{"profile_user_id":87068546,"target":"TAB_OVERVIEW","user_id":87068546,"originating_url":"https://github.com/kulykivska"}}'
                                            data-hydro-click-hmac="8da40ec98332d41a07f967a47309eef346302eb31a8376a315c0a841c3307e14"
                                            data-tab-item="overview"
                                            href="/kulykivska"
                                        >
                                            <svg
                                                aria-hidden="true"
                                                height="16"
                                                viewBox="0 0 16 16"
                                                version="1.1"
                                                width="16"
                                                data-view-component="true"
                                                class="octicon octicon-book UnderlineNav-octicon hide-sm"
                                            >
                                                <path
                                                    fill-rule="evenodd"
                                                    d="M0 1.75A.75.75 0 01.75 1h4.253c1.227 0 2.317.59 3 1.501A3.744 3.744 0 0111.006 1h4.245a.75.75 0 01.75.75v10.5a.75.75 0 01-.75.75h-4.507a2.25 2.25 0 00-1.591.659l-.622.621a.75.75 0 01-1.06 0l-.622-.621A2.25 2.25 0 005.258 13H.75a.75.75 0 01-.75-.75V1.75zm8.755 3a2.25 2.25 0 012.25-2.25H14.5v9h-3.757c-.71 0-1.4.201-1.992.572l.004-7.322zm-1.504 7.324l.004-5.073-.002-2.253A2.25 2.25 0 005.003 2.5H1.5v9h3.757a3.75 3.75 0 011.994.574z"
                                                ></path>
                                            </svg>
                                            Overview
                                        </a>
                                        <a
                                            class="UnderlineNav-item js-responsive-underlinenav-item"
                                            data-hydro-click='{"event_type":"user_profile.click","payload":{"profile_user_id":87068546,"target":"TAB_REPOSITORIES","user_id":87068546,"originating_url":"https://github.com/kulykivska"}}'
                                            data-hydro-click-hmac="ae8b368c0aaa39f1b7249b1a19035e7c5a5972dd69169d5e4a306f3f485b2808"
                                            data-tab-item="repositories"
                                            href="/kulykivska?tab=repositories"
                                        >
                                            <svg
                                                aria-hidden="true"
                                                height="16"
                                                viewBox="0 0 16 16"
                                                version="1.1"
                                                width="16"
                                                data-view-component="true"
                                                class="octicon octicon-repo UnderlineNav-octicon hide-sm"
                                            >
                                                <path
                                                    fill-rule="evenodd"
                                                    d="M2 2.5A2.5 2.5 0 014.5 0h8.75a.75.75 0 01.75.75v12.5a.75.75 0 01-.75.75h-2.5a.75.75 0 110-1.5h1.75v-2h-8a1 1 0 00-.714 1.7.75.75 0 01-1.072 1.05A2.495 2.495 0 012 11.5v-9zm10.5-1V9h-8c-.356 0-.694.074-1 .208V2.5a1 1 0 011-1h8zM5 12.25v3.25a.25.25 0 00.4.2l1.45-1.087a.25.25 0 01.3 0L8.6 15.7a.25.25 0 00.4-.2v-3.25a.25.25 0 00-.25-.25h-3.5a.25.25 0 00-.25.25z"
                                                ></path>
                                            </svg>
                                            Repositories
                                            <span
                                                title="1"
                                                data-view-component="true"
                                                class="Counter"
                                                >1</span
                                            >
                                        </a>
                                        <a
                                            class="UnderlineNav-item js-responsive-underlinenav-item"
                                            data-hydro-click='{"event_type":"user_profile.click","payload":{"profile_user_id":87068546,"target":"TAB_PROJECTS","user_id":87068546,"originating_url":"https://github.com/kulykivska"}}'
                                            data-hydro-click-hmac="5f7b4af90e171048bc0fc92465342b1c5cc72986bd6cabb0096b17e892191e29"
                                            data-tab-item="projects"
                                            href="/kulykivska?tab=projects&amp;type=beta"
                                        >
                                            <svg
                                                aria-hidden="true"
                                                height="16"
                                                viewBox="0 0 16 16"
                                                version="1.1"
                                                width="16"
                                                data-view-component="true"
                                                class="octicon octicon-table UnderlineNav-octicon hide-sm"
                                            >
                                                <path
                                                    fill-rule="evenodd"
                                                    d="M0 1.75C0 .784.784 0 1.75 0h12.5C15.216 0 16 .784 16 1.75v3.585a.746.746 0 010 .83v8.085A1.75 1.75 0 0114.25 16H6.309a.748.748 0 01-1.118 0H1.75A1.75 1.75 0 010 14.25V6.165a.746.746 0 010-.83V1.75zM1.5 6.5v7.75c0 .138.112.25.25.25H5v-8H1.5zM5 5H1.5V1.75a.25.25 0 01.25-.25H5V5zm1.5 1.5v8h7.75a.25.25 0 00.25-.25V6.5h-8zm8-1.5h-8V1.5h7.75a.25.25 0 01.25.25V5z"
                                                ></path>
                                            </svg>
                                            Projects
                                            <span
                                                title="0"
                                                hidden="hidden"
                                                data-view-component="true"
                                                class="Counter"
                                                >0</span
                                            >
                                        </a>
                                        <a
                                            class="UnderlineNav-item js-responsive-underlinenav-item"
                                            data-hydro-click='{"event_type":"user_profile.click","payload":{"profile_user_id":87068546,"target":"TAB_PACKAGES","user_id":87068546,"originating_url":"https://github.com/kulykivska"}}'
                                            data-hydro-click-hmac="75da283fe9c7aceee77045bf86929d44836ce3078828102e5eab36df671be94b"
                                            data-tab-item="packages"
                                            href="/kulykivska?tab=packages"
                                        >
                                            <svg
                                                aria-hidden="true"
                                                height="16"
                                                viewBox="0 0 16 16"
                                                version="1.1"
                                                width="16"
                                                data-view-component="true"
                                                class="octicon octicon-package UnderlineNav-octicon hide-sm"
                                            >
                                                <path
                                                    fill-rule="evenodd"
                                                    d="M8.878.392a1.75 1.75 0 00-1.756 0l-5.25 3.045A1.75 1.75 0 001 4.951v6.098c0 .624.332 1.2.872 1.514l5.25 3.045a1.75 1.75 0 001.756 0l5.25-3.045c.54-.313.872-.89.872-1.514V4.951c0-.624-.332-1.2-.872-1.514L8.878.392zM7.875 1.69a.25.25 0 01.25 0l4.63 2.685L8 7.133 3.245 4.375l4.63-2.685zM2.5 5.677v5.372c0 .09.047.171.125.216l4.625 2.683V8.432L2.5 5.677zm6.25 8.271l4.625-2.683a.25.25 0 00.125-.216V5.677L8.75 8.432v5.516z"
                                                ></path>
                                            </svg>
                                            Packages
                                            <span
                                                title="0"
                                                hidden="hidden"
                                                data-view-component="true"
                                                class="Counter"
                                                >0</span
                                            >
                                        </a>
                                        <a
                                            class="UnderlineNav-item js-responsive-underlinenav-item"
                                            data-hydro-click='{"event_type":"user_profile.click","payload":{"profile_user_id":87068546,"target":"TAB_STARS","user_id":87068546,"originating_url":"https://github.com/kulykivska"}}'
                                            data-hydro-click-hmac="4b3dc81f2ad873bd3bb4bf5e362a0f3ab9f1c332c4493ef8d1b4c27a0d2a9569"
                                            data-tab-item="stars"
                                            href="/kulykivska?tab=stars"
                                        >
                                            <svg
                                                aria-hidden="true"
                                                height="16"
                                                viewBox="0 0 16 16"
                                                version="1.1"
                                                width="16"
                                                data-view-component="true"
                                                class="octicon octicon-star UnderlineNav-octicon hide-sm"
                                            >
                                                <path
                                                    fill-rule="evenodd"
                                                    d="M8 .25a.75.75 0 01.673.418l1.882 3.815 4.21.612a.75.75 0 01.416 1.279l-3.046 2.97.719 4.192a.75.75 0 01-1.088.791L8 12.347l-3.766 1.98a.75.75 0 01-1.088-.79l.72-4.194L.818 6.374a.75.75 0 01.416-1.28l4.21-.611L7.327.668A.75.75 0 018 .25zm0 2.445L6.615 5.5a.75.75 0 01-.564.41l-3.097.45 2.24 2.184a.75.75 0 01.216.664l-.528 3.084 2.769-1.456a.75.75 0 01.698 0l2.77 1.456-.53-3.084a.75.75 0 01.216-.664l2.24-2.183-3.096-.45a.75.75 0 01-.564-.41L8 2.694v.001z"
                                                ></path>
                                            </svg>
                                            Stars
                                            <span
                                                title="2"
                                                data-view-component="true"
                                                class="Counter"
                                                >2</span
                                            >
                                        </a>
                                    </nav>

                                    <div
                                        class="position-absolute pr-3 pr-md-4 pr-lg-5 right-0 js-responsive-underlinenav-overflow"
                                        style="visibility: hidden"
                                    >
                                        <details
                                            data-view-component="true"
                                            class="details-overlay details-reset position-relative"
                                        >
                                            <summary
                                                role="button"
                                                data-view-component="true"
                                            >
                                                <div
                                                    class="UnderlineNav-item mr-0 border-0"
                                                >
                                                    <svg
                                                        aria-hidden="true"
                                                        height="16"
                                                        viewBox="0 0 16 16"
                                                        version="1.1"
                                                        width="16"
                                                        data-view-component="true"
                                                        class="octicon octicon-kebab-horizontal"
                                                    >
                                                        <path
                                                            d="M8 9a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM1.5 9a1.5 1.5 0 100-3 1.5 1.5 0 000 3zm13 0a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"
                                                        ></path>
                                                    </svg>
                                                    <span class="sr-only"
                                                        >More</span
                                                    >
                                                </div>
                                            </summary>
                                            <div data-view-component="true">
                                                <div
                                                    role="menu"
                                                    class="dropdown-menu dropdown-menu-sw"
                                                >
                                                    <ul>
                                                        <li
                                                            data-menu-item="overview"
                                                            hidden=""
                                                        >
                                                            <a
                                                                role="menuitem"
                                                                class="js-selected-navigation-item selected dropdown-item"
                                                                aria-current="page"
                                                                data-selected-links=" /kulykivska"
                                                                href="/kulykivska"
                                                                >Overview</a
                                                            >
                                                        </li>
                                                        <li
                                                            data-menu-item="repositories"
                                                            hidden=""
                                                        >
                                                            <a
                                                                role="menuitem"
                                                                class="js-selected-navigation-item dropdown-item"
                                                                data-selected-links=" /kulykivska?tab=repositories"
                                                                href="/kulykivska?tab=repositories"
                                                                >Repositories</a
                                                            >
                                                        </li>
                                                        <li
                                                            data-menu-item="projects"
                                                            hidden=""
                                                        >
                                                            <a
                                                                role="menuitem"
                                                                class="js-selected-navigation-item dropdown-item"
                                                                data-selected-links=" /kulykivska?tab=projects&amp;type=beta"
                                                                href="/kulykivska?tab=projects&amp;type=beta"
                                                                >Projects</a
                                                            >
                                                        </li>
                                                        <li
                                                            data-menu-item="packages"
                                                            hidden=""
                                                        >
                                                            <a
                                                                role="menuitem"
                                                                class="js-selected-navigation-item dropdown-item"
                                                                data-selected-links=" /kulykivska?tab=packages"
                                                                href="/kulykivska?tab=packages"
                                                                >Packages</a
                                                            >
                                                        </li>
                                                        <li
                                                            data-menu-item="stars"
                                                            hidden=""
                                                        >
                                                            <a
                                                                role="menuitem"
                                                                class="js-selected-navigation-item dropdown-item"
                                                                data-selected-links=" /kulykivska?tab=stars"
                                                                href="/kulykivska?tab=stars"
                                                                >Stars</a
                                                            >
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </details>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
