@use "var" as *;

.w-300 {
    width: 300px;
}

.title {
    margin: 0;
}

.placeholder-padding-left {
    padding: 8px 8px 8px 35px;
}

.outline-none {
    outline: none;
}

.close-position {
    top: 8px;
    right: 20px;
    padding: 5px;

    &:hover {
        cursor: pointer;
    }
}

.custom-border {
    border: 1px solid #adadad;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-50px {
    margin-top: 50px;
}

a {
    color: #0969da;
}

.link-settings {
    color: black !important;
}

.pt-1px {
    padding-top: 1px;
}

.fs-16 {
    font-size: 16px !important;
}
