@import "var";

.mat-mdc-menu-item {
    line-height: 35px;
    height: 35px;
    min-height: 35px;
}

.w-300 {
    width: 300px;
}

.title {
    margin: 0;
}

.placeholder-padding-left {
    padding: 8px 8px 8px 35px;
}

.outline-none {
    outline: none;
}

.close-position {
    top: 8px;
    right: 20px;
    padding: 5px;

    &:hover {
        cursor: pointer;
    }
}

.custom-border {
    border: 1px solid #adadad;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-50px {
    margin-top: 50px;
}

a {
    color: #0969da;
}

.link-settings {
    color: black !important;
}

.pt-1px {
    padding-top: 1px;
}

.fs-16 {
    font-size: 16px !important;
}

.completed-container {
    padding: 10px 30px 10px 20px;
    background-color: #d6ffe8;
    border: 1px solid #a4f4c9;
    border-radius: 6px;
    height: fit-content;
}

.failing-container {
    padding: 10px 30px 10px 20px;
    background-color: #fff7ea;
    border: 1px solid #ffa500;
    border-radius: 6px;
    height: fit-content;
}

.pause-container {
    padding: 10px 30px 10px 10px;
    background-color: #fff7ea;
    border: 1px solid #ffde21;
    border-radius: 6px;
    height: fit-content;
}

.stopped-container {
    padding: 10px 30px 10px 20px;
    background-color: #fff2f2;
    border: 1px solid #ef6363;
    border-radius: 6px;
    height: fit-content;
}

.manual-container {
    padding: 10px 30px 10px 20px;
    background-color: #e7e7e7;
    border: 1px solid #aaa;
    border-radius: 6px;
    height: fit-content;
}

.mannual-udate-icon {
    color: #aaa;
}

.webhook-label {
    padding-left: 2px;
}

.channels-container {
    background: #f6f8fa;

    &:hover {
        cursor: pointer;
    }
}

table {
    width: 100%;

    .mat-mdc-cell,
    .mat-mdc-no-data-row {
        border: 1px solid $app-color-border-default;
        color: $app-color-fg-default;
    }
}

.mat-mdc-header-cell {
    color: $app-color-fg-default;
    border: 1px solid $app-color-border-default;
    font-size: 15px;
    text-align: center;
    background: $app-alice-blue !important;
}

.dynamic-table th.mat-mdc-header-cell,
.dynamic-table td.mat-mdc-cell,
.dynamic-table td.mat-mdc-footer-cell,
.dynamic-table th.mat-mdc-header-cell:first-of-type,
.dynamic-table td.mat-mdc-cell:first-of-type,
.dynamic-table td.mat-mdc-footer-cell:first-of-type {
    padding-left: 10px;
    padding-right: 10px;
}

.badge-button {
    height: 32px;
}

.action-button {
    height: 28px !important;
}

.selected-group-button {
    color: #000;
    background-color: #b6c3d2;
    border-color: #b6c3d2;
}

.btn-group {
    > {
        .btn {
            margin-left: calc(var(--bs-border-width) * -1);
            color: #000;
            border-color: #b6c3d2;

            &:hover {
                background-color: #b6c3d2;
                border-color: #b6c3d2;
            }
        }
    }

    > .btn-group {
        margin-left: calc(var(--bs-border-width) * -1);
    }
}

.action-link {
    height: auto !important;
    color: #000;
}

.mat-icon-size {
    height: auto !important;
    font-size: 16px !important;

    &:hover {
        cursor: pointer;
    }
}

.action-cell {
    text-align: center;
}

.mat-button-toggle-appearance-standard.mat-button-toggle-checked {
    color: #fff;
    background: #70aab9;
}

:host {
    ::ng-deep {
        .mat-button-toggle-button {
            .mat-button-toggle-label-content {
                line-height: 36px !important;
            }
        }
    }
}

.delete-chip-btn {
    outline: none;
    border: none;
    background: aqua;
    transform: scale(0.6);
}
