@import "var";

.mat-mdc-menu-item {
    line-height: 35px;
    height: 35px;
    min-height: 35px;
}

.w-300 {
    width: 300px;
}

.title {
    margin: 0;
}

.placeholder-padding-left {
    padding: 8px 8px 8px 35px;
}

.outline-none {
    outline: none;
}

.close-position {
    top: 8px;
    right: 20px;
    padding: 5px;

    &:hover {
        cursor: pointer;
    }
}

.custom-border {
    border: 1px solid #adadad;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-50px {
    margin-top: 50px;
}

a {
    color: #0969da;
}

.pt-1px {
    padding-top: 1px;
}

.fs-16 {
    font-size: 16px !important;
}

.completed-container {
    padding: 10px 30px 10px 20px;
    background-color: #d6ffe8;
    border: 1px solid #a4f4c9;
    border-radius: 6px;
}

.failing-container {
    padding: 10px 30px 10px 20px;
    background-color: #fff7ea;
    border: 1px solid #ffa500;
    border-radius: 6px;
}

.pause-container {
    padding: 10px 30px 10px 20px;
    background-color: #fff7ea;
    border: 1px solid #ffde21;
    border-radius: 6px;
}

.stopped-container {
    padding: 10px 30px 10px 20px;
    background-color: #fff2f2;
    border: 1px solid #ef6363;
    border-radius: 6px;
}
