.card-custom {
    width: 430px;
    background: #f3f3f3;
    border-radius: 6px;
    display: flex;
    box-sizing: border-box;
    border: 1px solid #dedede;
    height: 300px;

    .header {
        height: 10px;
        border-radius: 6px 6px 0 0;
    }

    .card-body {
        padding-left: 30px;
    }
}

.dataset {
    background: #bddef1;
}

.icon-size {
    transform: scale(1.4);
}

.badge-button {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background: #ebebeb !important;
    }
}

.mt-50px {
    margin-top: 50px;
}

.completed-container {
    background-color: #239a59;
}

.failing-container {
    background-color: #ffa500;
}

.pause-container {
    background-color: #ffde21;
}

.stopped-container {
    background-color: #ef6363;
}

.manual-container {
    background-color: #aaa;
}

.truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 350px;
}
