.sql-query-editor-header {
    .btn-group-parent {
        float: right;

        .btn-group-item span {
            font-size: 16px;
            font-weight: 600;
        }
    }
}

.sql-run-button {
    display: flex;
    color: #fff;
    width: min-content;
    background: #2c974b;
    padding: 5px 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 33px;
}

.share-query-button,
.verify-query-button {
    display: flex;
    color: #1a7f37;
    padding: 5px 10px;
    font-weight: 700;
    background: #f6f8fa;
    height: 33px;

    .button-text {
        font-size: 16px;
    }

    &:disabled {
        opacity: 0.65;
        pointer-events: none;
    }
}

.lh-130 {
    line-height: 130%;
}

.no-pointer {
    cursor: not-allowed;
}

.pb-30 {
    padding-bottom: 30px;
}

.ml-70 {
    margin-left: 70px;
}

.ml-90 {
    margin-left: 90px;
}

.color-white {
    color: #fff;
}

.bg-green {
    height: 33px;
    background: #2c974b;
}
