@use "var" as *;

:host {
    ::ng-deep {
        .mat-progress-spinner {
            circle {
                stroke: $app-dark-sea-green;
            }
        }
    }
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 100;
}
