@use "var" as *;

* {
    color: $app-emperor;
}

[data-test-id="searchAdditionalButtons"] {
    background: $app-white;
    border: 1px solid $app-very-light-gray;
    box-sizing: border-box;
    box-shadow: 0 5px 4px $app-versatile-business-dark;
    border-radius: 8px;
    color: $app-emperor;
}

.search-additional-button {
    height: 40px;
    background: $app-white;
}

.search-additional-buttons__nav {
    justify-content: end;
    align-items: end;
}

.search-additional-buttons-block {
    justify-content: flex-end;
    display: flex;
}

.arrow-dropdown {
    align-items: center;
    justify-content: center;
    display: flex;
}
