::ng-deep {
    .mat-mdc-menu-content {
        .mat-mdc-menu-item {
            &:not([disabled]) {
                &:hover {
                    text-decoration: none !important;
                }
            }

            .mat-mdc-menu-item-text {
                font-size: 14px !important;
                letter-spacing: normal !important;
            }
        }
    }
}

.admin-icon {
    position: absolute;
    left: 51px;
    bottom: 4px;
    color: #ffff;
}

.wallet-icon {
    position: absolute;
    left: 50px;
    bottom: 4px;
}

.logout-icon {
    width: 16px !important;
    height: 20px !important;
}

.avatar-icon {
    border-radius: 50%;
    border: 2px solid #d1d9e0;
}

.container-spinner {
    position: absolute;
    z-index: 100;
    top: 6px;
    right: 7px;
}

@media (width <=768px) {
    .admin-icon {
        display: none;
    }
}
