<ng-container *ngIf="value">
    <a
        *ngIf="isNavigable"
        [title]="value"
        [class]="'mr-4 hashBlock ' + class"
        data-test-id="navigableValue"
        (click)="
            navigateToMetadataBlock(
                datasetInfo.accountName,
                datasetInfo.datasetName,
                value
            )
        "
    >
        {{ value | slice: -8 }}
    </a>

    <span
        *ngIf="!isNavigable"
        class="mr-4"
        [title]="value"
        data-test-id="notNavigableValue"
        >{{ value | slice: -8 }}</span
    >

    <button
        *ngIf="showCopyButton"
        (click)="copyToClipboard($event, value)"
        class="btn btn-sm btn-gray clipboard-btn"
        role="button"
        data-test-id="copyToClipboardButton"
    >
        <div style="position: relative; display: inline-block">
            <svg-icon name="copy"></svg-icon>
        </div>
        <div style="position: relative; display: none">
            <svg-icon name="checked"></svg-icon>
        </div>
    </button>
</ng-container>
