<ng-container *ngIf="value">
    <a
        *ngIf="navigationTargetDataset"
        [title]="value"
        [class]="class"
        data-test-id="navigableValue"
        (click)="
            navigationTargetDataset &&
                navigateToMetadataBlock(navigationTargetDataset.accountName, navigationTargetDataset.datasetName, value)
        "
        >{{ value | slice: -8 }}</a
    >

    <span *ngIf="!navigationTargetDataset" class="mr-1" [title]="value" data-test-id="notNavigableValue">{{
        value | slice: -8
    }}</span>

    <button
        *ngIf="showCopyButton"
        (click)="copyToClipboard(value)"
        class="btn btn-sm btn-gray clipboard-btn"
        role="button"
        data-test-id="copyToClipboardButton"
    >
        <div style="position: relative; display: inline-block">
            <svg-icon name="copy"></svg-icon>
        </div>
    </button>
</ng-container>
