:host {
    mat-button-toggle {
        padding: 0 0 13px !important;
        border: 2px transparent solid !important;
        background: inherit !important;

        &.active-link {
            border-bottom-color: #000 !important;
            border-radius: 0;
        }

        &:not(.active-link) {
            &:hover {
                padding: 0 0 14px !important;
                box-shadow: none !important;
                border-bottom: 1px solid !important;
                border-radius: 0 !important;
            }
        }
    }
}

::ng-deep {
    .mat-button-toggle-disabled {
        .mat-button-toggle-button {
            cursor: not-allowed;
            color: rgb(0 0 0 / 51%);

            a {
                cursor: not-allowed;
                color: rgb(0 0 0 / 51%);
                pointer-events: none;
            }
        }
    }
}

.admin-icon {
    font-size: 16px;
    bottom: 5px;
    color: #378bb0;
}
