<div class="app-main-container" role="main">
    <div class="app-content mt-4">
        <div id="search">
            <div class="search-result-container">
                <div class="card">
                    <nav class="navbar navbar-expand">
                        <div>
                            <h3 class="search-result-container__navbar__title">Filters</h3>
                            <div *ngFor="let filter of filters">
                                <span class="example-list-section">
                                    {{ filter.name }}
                                </span>
                                <span class="example-list-section">
                                    <ul>
                                        <li *ngFor="let subtask of filter.subtasks">
                                            <ng-template [ngIf]="!subtask.isTitle">
                                                <mat-checkbox
                                                    [(ngModel)]="subtask.completed"
                                                    [color]="subtask.color"
                                                    [disabled]="subtask.disabled"
                                                    (ngModelChange)="updateAllComplete()"
                                                >
                                                    {{ subtask.name }}
                                                </mat-checkbox>
                                            </ng-template>
                                            <ng-template [ngIf]="subtask.isTitle">
                                                <span class="example-list-section">
                                                    {{ subtask.name }}
                                                </span>
                                            </ng-template>
                                            <ng-template [ngIf]="subtask.subtasks && subtask.subtasks.length > 0">
                                                <ul>
                                                    <li *ngFor="let sub_subtask of subtask.subtasks">
                                                        <mat-checkbox
                                                            [(ngModel)]="sub_subtask.completed"
                                                            [color]="sub_subtask.color"
                                                            [disabled]="subtask.disabled"
                                                            (ngModelChange)="updateAllComplete()"
                                                        >
                                                            {{ sub_subtask.name }}
                                                        </mat-checkbox>
                                                    </li>
                                                </ul>
                                            </ng-template>
                                        </li>
                                    </ul>
                                </span>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="search-result-container__content" *ngIf="tableData$ | async as data">
                    <app-dataset-list
                        [dataSource]="data.datasets"
                        [sortOptions]="tableData.sortOptions"
                        [resultUnitText]="tableData.resultUnitText"
                        [totalCount]="data.totalCount"
                        [hasResultQuantity]="tableData.hasResultQuantity"
                        [isClickableRow]="tableData.isClickableRow"
                        (selectDatasetEmit)="onSelectDataset($event)"
                        data-test-id="dataset-list"
                    ></app-dataset-list>

                    <ng-template [ngIf]="data.datasets.length > 0 && data.pageInfo">
                        <app-pagination
                            [currentPage]="currentPage"
                            [pageInfo]="data.pageInfo"
                            (pageChangeEvent)="onPageChange($event)"
                            data-test-id="pagination"
                        ></app-pagination>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
