@import "var";

:host {
    ::ng-deep {
        .mat-checkbox-checked {
            .mat-checkbox-background {
                background-color: $app-navy-blue;
            }
        }

        .mat-checkbox-disabled {
            color: $app-disabled;
        }
    }
}

nav {
    .example-list-section {
        font-size: 16px;
        line-height: 27px;
    }

    .search-result-container__navbar__title {
        font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
    }
}
