@use "@angular/material" as mat;

$app-primary: #f1f1f1;
$app-dark: #1c1c1c;
$app-white: #fff;
$app-emperor: #535353;
$app-very-light-gray: #dedede;
$app-dark-sea-green: #86ba90;
$app-navy-blue: #0969da;
$app-alice-blue: #f6f8fa;
$app-light-grayish-blue: #dee2e6;
$app-cloudy: #57606a;
$app-nero: #282828;
$secondary: #57606a;
$app-disabled: rgb(88 87 87 / 42%);
$app-background-btn: #f3f4f6;
$app-versatile-business-dark: rgb(221 221 221 / 25%);
$very-light-grey: #ccc;
$dark-green-tea: rgb(142 195 79);
$app-success: #1a7f37;
$app-harmonies: #2da44e;
$app-naples-yellow: #eac54f;
$app-color-btn-counter-bg: #1b1f2414;
$app-color-counter-border: #0000;
$app-color-neutral-muted: #afb8c133;
$app-color-fg-default: #24292f;
$app-color-btn-hover-bg: #f3f4f6;
$app-color-btn-hover-border: #1b1f2426;
$app-color-border-default: #d0d7de;
$app-color-select-menu-backdrop-border: #0000;
$app-color-canvas-overlay: #fff;
$app-color-canvas-subtle: #f6f8fa;
$app-color-border-muted: #d8dee4;
$app-color-shadow-large: 0 8px 24px rgb(140 149 159 / 20%);
$app-color-fg-muted: #57606a;
$app-color-btn-border: #ced4da;
$app-color-timeline-badge-bg: #eaeef2;
$app-color-overview-history-summary-bg: #ddf4ff;
$app-color-table-header-bg: #f6f8fa;
$app-color-primer-border-active: #fd8c73;
$app-color-action-list-item-default-selected-bg: #d0d7de3d;
$app-color-accent-fg: #0969da;
$app-color-action-list-item-inline-divider: #d0d7de7a;
$app-color-tooltip-border: #ced4da;

.input-group-button {
    vertical-align: middle;
}

.color-border-muted {
    border-color: $app-color-border-muted !important;
}

.color-bg-default {
    background-color: $app-color-canvas-overlay !important;
}

.color-bg-subtitle {
    background-color: $app-color-canvas-subtle !important;
}

.color-fg-success {
    color: $app-harmonies;
}

.color-fg-default {
    color: $app-color-fg-default;
}

.color-fg-muted {
    color: $app-color-fg-muted;
}

.link--primary {
    color: $app-color-fg-default;
    text-decoration: underline;

    &:hover {
        color: $app-navy-blue;
    }
}

.link--secondary {
    color: $secondary;

    &:hover {
        color: $app-navy-blue;
    }
}

.box {
    background-color: $app-color-canvas-overlay;
    border-color: $app-color-border-default;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;

    &--condensed {
        line-height: 1.25;

        .box__row {
            padding: 8px 16px;
        }
    }

    &__row {
        padding: 16px;
        margin-top: -1px;
        list-style-type: none;
        border-top: 1px solid $app-color-border-muted;

        &:first-of-type {
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            border-top-color: transparent;
        }

        &:last-of-type {
            border-bottom-right-radius: 6px;
            border-bottom-left-radius: 6px;
        }
    }

    &-title {
        font-size: 20px;
        line-height: 20px;
        font-weight: 600;
        margin: 0;
    }

    &-header {
        width: 100%;
        padding: 16px;
        margin: 0;
        background-color: $app-alice-blue;
        border-color: $app-color-border-default;
        border-style: solid;
        border-width: 1px;
    }
}

.min-width-0 {
    min-width: 0 !important;
}

.d-none {
    display: none;
}

.width-full {
    width: 100% !important;
}

.flex-auto {
    flex: auto !important;
}

.flex-order-2 {
    order: 2 !important;
}

.flex-self-stretch {
    align-self: stretch !important;
}

.f6 {
    font-size: 12px !important;
}

.color-text-tertiary {
    color: $app-cloudy;
}

.color-bg-tertiary {
    background-color: $app-alice-blue;
}

.rounded-1 {
    border-radius: 4px !important;
}

.border-white-fade {
    border-color: $app-versatile-business-dark;
}

.rounded-2 {
    border-radius: 6px !important;
}

.border-right-0 {
    border-right: 0 !important;
}

.border-right-1 {
    border-right: 1px !important;
}

.border-left-0 {
    border-left: 0 !important;
}

.border-left-1 {
    border-left: 1px !important;
}

.rounded-right-2 {
    border-bottom-right-radius: 6px !important;
    border-top-right-radius: 6px !important;
}

.btn-group-parent {
    float: left;
    height: 28px;
    width: max-content;
    background: none;

    .btn-group-item {
        border-right-width: 1px;
        border-radius: 1px;
        position: relative;
        float: left;
        border-color: $app-color-border-default;
        height: inherit;
        background: $app-alice-blue;

        &:first-child {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;

            &:active,
            &:disabled {
                border-color: $app-color-border-default;
            }
        }

        &:last-child {
            border-right-width: 1px;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
        }

        span {
            font-size: 12px;
            padding-left: 6px;
        }

        &:hover {
            border-color: $app-color-border-default;
        }
    }
}

.btns-group-item {
    &:first-child {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    &:last-child {
        border-top-left-radius: 0;
    }
}

.btn {
    &.btn-gray {
        background-color: $app-background-btn;
        border-color: $app-color-btn-border !important;

        &:hover {
            background-color: $app-color-btn-hover-border;
        }
    }

    .counter {
        margin-left: 2px;
        color: inherit;
        text-shadow: none;
        vertical-align: top;
        background-color: $app-color-btn-counter-bg;
    }
}

.clipboard-btn {
    height: auto;

    &.clipboard-btn--success {
        border-color: $app-harmonies !important;
    }
}

.mr-0 {
    margin-right: 0 !important;
}

.mr-1 {
    margin-right: 6px !important;
}

.mr-2 {
    margin-right: 8px !important;
}

.mr-3 {
    margin-right: 10px !important;
}

.mr-4 {
    margin-right: 20px !important;
}

.ml-3 {
    margin-left: 16px !important;
}

.mb-n1 {
    margin-bottom: -4px !important;
}

.ml-n1 {
    margin-left: -4px !important;
}

.mr-n1 {
    margin-right: -4px !important;
}

.mt-n1 {
    margin-top: -4px !important;
}

.fs-10 {
    font-size: 10px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.css-truncate {
    &.css-truncate-overflow,
    &.css-truncate-target {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .css-truncate-overflow,
    .css-truncate-target {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.hx_avatar_stack_commit {
    .avatar-stack {
        height: 24px;
        min-width: 24px;
    }
}

.avatar-stack {
    position: relative;
    min-width: 26px;
    height: 20px;

    .avatar {
        position: relative;
        z-index: 2;
        display: flex;
        width: 20px;
        height: 20px;
        box-sizing: content-box;
        margin-right: -11px;
        background-color: $app-color-canvas-overlay;
        border-right: 1px solid $app-color-canvas-overlay;
        border-radius: 4px;
        box-shadow: none;
        transition: margin 0.1s ease-in-out;

        img {
            border-radius: 4px;
        }
    }
}

.avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    background-color: $app-color-canvas-overlay;
    border-radius: 6px;
    flex-shrink: 0;
    box-shadow: 0 0 0 1px $app-color-btn-hover-border;

    &-user {
        border-radius: 50% !important;
    }
}

.counter {
    display: inline-block;
    min-width: 20px;
    padding: 0 6px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: $app-color-fg-default;
    text-align: center;
    background-color: $app-color-neutral-muted;
    border: 1px solid $app-color-counter-border;
    border-radius: 2em;
}

.mat-menu-content {
    &:not(:empty) {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}

.label {
    display: inline-block;
    padding: 0 7px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    border: 1px solid $app-color-border-default;
    border-radius: 2em;

    &--secondary {
        color: $app-color-fg-muted;
        border-color: $app-color-border-default;
    }
}

.select-menu-modal {
    position: relative;
    z-index: 99;
    display: flex;
    max-height: 66%;
    margin: auto 0;
    overflow: hidden;
    pointer-events: auto;
    flex-direction: column;
    background-color: $app-color-canvas-overlay;
    border: 1px solid $app-color-select-menu-backdrop-border;
    border-radius: 12px;
    animation: select-menu-modal-animation 0.12s cubic-bezier(0, 0.1, 0.1, 1) backwards;
    letter-spacing: normal;
}

.select-menu-header {
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-bottom: 7px;
    border-bottom: 1px solid $app-color-border-muted;
}

.select-menu-title {
    flex: 1;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.select-menu-close-btn {
    margin-left: 30px;
    color: $app-color-fg-muted;
    background-color: transparent;
    border: 0;
    margin-top: 5px;
}

.select-menu-list {
    position: relative;
    padding: 0;
    margin: 0;
    margin-bottom: -1px;
    flex: auto;
    overflow: hidden auto;
    background-color: $app-color-canvas-overlay;
    -webkit-overflow-scrolling: touch;
}

.select-menu-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px;
    overflow: hidden;
    color: var(--color-fg-default);
    text-align: left;
    cursor: pointer;
    background-color: $app-color-canvas-overlay;
    border: 0;
    border-bottom: 1px solid $app-color-border-muted;
}

.select-menu-icon {
    width: 16px;
    margin-right: 8px;
    flex-shrink: 0;

    &--check {
        visibility: hidden;
        transition:
            transform 0.12s cubic-bezier(0.5, 0.1, 1, 0.5),
            visibility 0s 0.12s linear;
        transform: scale(0);
    }
}

.select-menu-item[aria-checked="true"] {
    .select-menu-icon--check {
        visibility: visible;
        transition:
            transform 0.12s cubic-bezier(0, 0, 0.2, 1),
            visibility 0s linear;
        transform: scale(1);
    }
}

@keyframes select-menu-modal-animation {
    0% {
        opacity: 0;
        transform: translateY(-16px);
    }
}

@media (width <= 480px) {
    * {
        font-size: 15px;
    }
}

@media (width <= 768px) {
    .border-sm-top {
        border-top: 1px solid #dee2e6 !important;
    }
}

@media (width >= 768px) {
    .border-md-0 {
        border-top: none !important;
    }

    .border-md-top-0 {
        border-top: 0 !important;
    }

    .flex-md-row {
        flex-direction: row !important;
    }

    .flex-md-self-auto {
        align-self: auto !important;
    }

    .mt-md-n3 {
        margin-top: -16px !important;
    }

    .mb-md-n3 {
        margin-bottom: -16px !important;
    }

    .mr-md-3 {
        margin-right: 16px !important;
    }

    .py-md-3 {
        padding-top: 16px !important;
        padding-bottom: 16px !important;
    }
}

.file {
    position: relative;
    margin-top: 16px;
    margin-bottom: 16px;
    border: 1px solid $app-color-border-default;
    border-radius: 6px;

    .file-header {
        padding: 5px 10px;
        background-color: $app-alice-blue;
        border-bottom: 1px solid $app-color-border-default;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .file-info {
        font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
        font-size: 12px;
        line-height: 32px;
    }

    .file-content {
        padding: 40px 25px;
    }

    .variable-textarea {
        width: 100%;
        min-height: 300px;
        height: max-content;
        border: none;
        outline: none;
    }
}

markdown {
    * {
        font: revert !important;
    }

    h1 a {
        text-decoration: none;
    }

    h1 a:hover {
        opacity: 0.87;
        text-decoration: underline;
    }

    blockquote {
        border-left: 3px solid rgb(0 0 0 / 21%);
        padding-left: 12px;
        color: rgb(0 0 0 / 54%);
    }
}

.app-mat-chip {
    & ::ng-deep .mat-standard-chip {
        cursor: pointer;
    }
}

.mat-standard-chip {
    min-height: 25px;
    border-radius: 16px;
    padding: 10px;
}

.mat-chip {
    color: $app-navy-blue;
    background: $app-alice-blue;
    font-size: 12px;
}

.user-mention,
.team-mention {
    font-weight: 600;
    color: $app-color-fg-default;
    white-space: nowrap;
}

.signer-block-info {
    z-index: 999;
    grid-template-columns: 0.15fr 1fr;
}

.signed-commit-header {
    line-height: 1.3;
    white-space: normal;
    grid-template-columns: 0.15fr 1fr;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    * {
        font-size: 15px;
    }
}

.signed-commit-signer-name {
    font-size: 14px;
    text-align: left;

    .signer {
        display: block;
        font-weight: 600;
        font-size: 14px;
    }
}

.signed-commit-footer {
    &__id {
        color: $app-nero;
    }

    span,
    a {
        font-size: 12px;
        line-height: 1.5;
    }
}

.signed-commit-badge {
    user-select: none;
    background: none;
    vertical-align: middle;
    border-color: $very-light-grey;

    &.verified {
        color: $app-success;
    }

    &:hover {
        border-color: $app-harmonies;
        text-decoration: none;
    }
}

.verified-commit {
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentcolor;
}

.signed-commit-verified-label {
    color: $app-success;
    white-space: nowrap;
}

.signed-commit-badge-small {
    display: inline-block;
    padding: 0 7px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    border: 1px solid $very-light-grey;
    border-radius: 2em;
}

.signed-commit__popup-header {
    .mat-typography {
        h3 {
            margin: 0 !important;
        }
    }

    ::ng-deep ngb-popover-window.bs-popover-left > .arrow {
        display: none;
    }

    ::ng-deep ngb-popover-window .popover-header {
        margin: 0;
    }
}

.overflow-visible {
    overflow: visible !important;
}
