@import '~@angular/material/theming'
@include mat-core()

$app-primary: #F1F1F1
$app-dark: #1C1C1C
$app-white: #FFFFFF
$app-emperor: #535353
$app-veryLightGray: #DEDEDE
$app-darkSeaGreen: #86BA90
$app-navyBlue: #0969da
$app-aliceBlue: #f6f8faDEDEDE
$app-lightGrayishBlue: #dee2e6
$app-cloudy: #57606a
$app-nero: #282828
$secondary: #57606a
$app-disabled: rgba(88, 87, 87, 0.42)
$app-background-btn: #f3f4f6
$app-versatileBusinessDark: rgba(221, 221, 221, 0.25)
$app-accent: mat-palette($mat-pink, A200, A100, A400)
// The "warn" palette is optional and defaults to red if not specified.
$app-warn: mat-palette($mat-red)
$my-theme: mat-light-theme($app-primary, $app-accent, $app-warn)
$verylightgrey: #cccccc
$darkgreentea: rgb(142,195,79)
$app-success: #1a7f37
$app-harmonies: #2da44e
$app-naples-yellow: #eac54f
$app-color-btn-counter-bg: #1b1f2414
$app-color-counter-border: #00000000
$app-color-neutral-muted: #afb8c133
$app-color-fg-default: #24292f
$app-color-btn-hover-bg: #f3f4f6
$app-color-btn-hover-border: #1b1f2426
$app-color-border-default: #d0d7de
$app-color-select-menu-backdrop-border: #00000000
$app-color-canvas-overlay: #ffffff
$app-color-canvas-subtle: #f6f8fa
$app-color-border-muted: #d8dee4
$app-color-shadow-large: 0 8px 24px rgba(140,149,159,0.2)
$app-color-fg-muted: #57606a
$app-color-btn-border: #ced4da
$app-color-timeline-badge-bg: #eaeef2
$app--color-overview-history-summary-bg: #ddf4ff
$app--color-table-header-bg: #f6f8fa
$app-color-primer-border-active: #fd8c73
$app-color-action-list-item-default-selected-bg: #d0d7de3d
$app-color-accent-fg: #0969da
$app-color-action-list-item-inline-divider: #d0d7de7a

.input-group-button
  vertical-align: middle
.color-border-muted
  border-color: $app-color-border-muted !important
.color-bg-default
  background-color: $app-color-canvas-overlay !important
.color-bg-subtle
  background-color: $app-color-canvas-subtle !important
.color-fg-success
  color: $app-harmonies
.color-fg-default
  color: $app-color-fg-default
.color-fg-muted
  color: $app-color-fg-muted
.link--primary
  color: $app-color-fg-default !important
  &:hover
    color: $app-navyBlue !important
.link--secondary
  color: $secondary !important
  &:hover
    color: $app-navyBlue !important
.box-title
  font-size: 20px
  line-height: 20px
  font-weight: 600
  margin: 0
.box-header
  width: 100%
  padding: 16px
  margin: 0px
  background-color: $app-aliceBlue
  border-color: $app-color-border-default
  border-style: solid
  border-width: 1px
  border-top-left-radius: 6px
  border-top-right-radius: 6px
.min-width-0
  min-width: 0 !important
.d-none
  display: none
.position-relative
  position: relative !important
.width-full
  width: 100% !important
.flex-auto
  flex: auto !important
.flex-order-2
  order: 2 !important
.flex-self-stretch
  align-self: stretch !important
.f6
  font-size: 12px !important
.color-text-tertiary
  color: $app-cloudy
.color-bg-tertiary
  background-color: $app-aliceBlue
.rounded-1
  border-radius: 4px !important
.border-white-fade
  border-color: $app-versatileBusinessDark
.rounded-2
  border-radius: 6px !important
.rounded-top-1
  border-top-left-radius: 6px !important
  border-top-right-radius: 6px !important
.rounded-left-2
  border-bottom-left-radius: 6px !important
  border-top-left-radius: 6px !important
.border-right-0
  border-right: 0 !important
.border-right-1
  border-right: 1px !important
.border-left-0
  border-left: 0 !important
.border-left-1
  border-left: 1px !important
.rounded-right-2
  border-bottom-right-radius: 6px !important
  border-top-right-radius: 6px !important
.btnGroup-parent
  float: left
  height: 28px
  width: max-content
  background: none
  & .btnGroup-item
    border-right-width: 1px
    border-radius: 1px
    position: relative
    float: left
    border-color: $app-color-border-default
    height: inherit
    background: $app-aliceBlue
    &:last-child
      border-right-width: 1px
      border-top-right-radius: 6px
      border-bottom-right-radius: 6px
    & span
      font-size: 12px
.BtnGroup-item:first-child
  border-top-left-radius: 6px
  border-bottom-left-radius: 6px
.btn.btn-gray
  background-color: $app-background-btn
  border-color: $app-color-btn-border !important
  &:hover
    background-color: $app-color-btn-hover-border
.clipboard-btn
  height: 100%
  &.clipboard-btn--success
    border-color: $app-harmonies !important
.mr-0
  margin-right: 0 !important
.mr-1
  margin-right: 6px !important
.mr-2
  margin-right: 8px !important
.mr-3
  margin-right: 10px !important
.mr-4
  margin-right: 20px !important
.ml-3
  margin-left: 16px !important
.mb-n1
  margin-bottom: -4px !important
.ml-n1
  margin-left: -4px !important
.mr-n1
  margin-right: -4px !important
.mt-n1
  margin-top: -4px !important
.css-truncate.css-truncate-overflow, .css-truncate .css-truncate-overflow, .css-truncate.css-truncate-target, .css-truncate .css-truncate-target
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
.hx_avatar_stack_commit .avatarStack
  height: 24px
  min-width: 24px
.avatarStack__body
  display: flex
  & .avatar
    position: relative
    z-index: 2
    display: flex
    width: 20px
    height: 20px
    box-sizing: content-box
    margin-right: -11px
    background-color: $app-color-canvas-overlay
    border-right: 1px solid $app-color-canvas-overlay
    border-radius: 4px
    box-shadow: none
    transition: margin .1s ease-in-out
    & img
      border-radius: 4px
    &:first-child
      z-index: 3
    &:last-child
      z-index: 1
      border-right: 0
.avatarStack
  position: relative
  min-width: 26px
  height: 20px
  & .avatarStack__body
    position: absolute
.avatar
  display: inline-block
  overflow: hidden
  line-height: 1
  vertical-align: middle
  background-color: $app-color-canvas-overlay
  border-radius: 6px
  flex-shrink: 0
  box-shadow: 0 0 0 1px $app-color-btn-hover-border
.avatar-user
  border-radius: 50% !important
.counter
  display: inline-block
  min-width: 20px
  padding: 0 6px
  font-size: 12px
  font-weight: 500
  line-height: 18px
  color: $app-color-fg-default
  text-align: center
  background-color: $app-color-neutral-muted
  border: 1px solid $app-color-counter-border
  border-radius: 2em

.btn .Counter
  margin-left: 2px
  color: inherit
  text-shadow: none
  vertical-align: top
  background-color: $app-color-btn-counter-bg
.btn:hover, .btn.hover, [open]>.btn
  background-color: $app-color-btn-hover-bg
  border-color: $app-color-btn-hover-border
  transition-duration: .1s
.SelectMenu-modal
  position: relative
  z-index: 99
  display: flex
  max-height: 66%
  margin: auto 0
  overflow: hidden
  pointer-events: auto
  flex-direction: column
  background-color: $app-color-canvas-overlay
  border: 1px solid $app-color-select-menu-backdrop-border
  border-radius: 12px
  animation: SelectMenu-modal-animation .12s cubic-bezier(0, 0.1, 0.1, 1) backwards
.cdk-overlay-pane
  box-shadow: $app-color-shadow-large
.mat-menu-content:not(:empty)
  padding-top: 0px !important
  padding-bottom: 0px !important
.label
  display: inline-block
  padding: 0 7px
  font-size: 12px
  font-weight: 500
  line-height: 18px
  border: 1px solid transparent
  border-radius: 2em
  border-color: $app-color-border-default
.label--secondary
  color: $app-color-fg-muted
  border-color: $app-color-border-default
.SelectMenu-header
  display: flex
  padding: 16px
  flex: none
  align-items: center
  border-bottom: 1px solid $app-color-border-muted
.SelectMenu-title
  flex: 1
  font-size: 14px
  font-weight: 600
  margin: 0
.SelectMenu-closeButton
  padding: 16px
  margin: -16px
  line-height: 1
  color: $app-color-fg-muted
  background-color: transparent
  border: 0
.SelectMenu-list
  position: relative
  padding: 0
  margin: 0
  margin-bottom: -1px
  flex: auto
  overflow-x: hidden
  overflow-y: auto
  background-color: $app-color-canvas-overlay
  -webkit-overflow-scrolling: touch
.SelectMenu-item
  display: flex
  align-items: center
  width: 100%
  padding: 16px
  overflow: hidden
  color: var(--color-fg-default)
  text-align: left
  cursor: pointer
  background-color: $app-color-canvas-overlay
  border: 0
  border-bottom: 1px solid $app-color-border-muted
.SelectMenu-icon
  width: 16px
  margin-right: 8px
  flex-shrink: 0
  &--check
    visibility: hidden
    transition: transform .12s cubic-bezier(0.5, 0.1, 1, 0.5),visibility 0s .12s linear
    transform: scale(0)

.SelectMenu-item[aria-checked="true"] .SelectMenu-icon--check
  visibility: visible
  transition: transform .12s cubic-bezier(0, 0, 0.2, 1),visibility 0s linear
  transform: scale(1)

::ng-deep .mat-tab-header
  padding-top: 0 !important
  padding-bottom: 0 !important
  padding-right: 16px
  padding-left: 16px
  border-bottom: 1px solid $app-color-border-muted

@keyframes SelectMenu-modal-animation
  0%
    opacity: 0
    transform: translateY(-16px)
@media (max-width: 480px)
  *
    font-size: 15px
@media (max-width: 768px)
  .border-sm-top
    border-top: 1px solid #dee2e6 !important
    border-top-width: 1px !important
    border-top-style: solid !important
    border-top-color: rgb(222, 226, 230) !important

@media (min-width: 768px)
  .border-md-0
    border-top: none !important
  .border-md-top-0
    border-top: 0 !important
  .flex-md-row
    flex-direction: row !important
  .flex-md-self-auto
    align-self: auto !important
  //margin
  .mt-md-n3
    margin-top: -16px !important
  .mb-md-n3
    margin-bottom: -16px !important
  .mr-md-3
    margin-right: 16px !important
  .py-md-3
    padding-top: 16px !important
    padding-bottom: 16px !important

// For Markdown editor
.file
  position: relative
  margin-top: 16px
  margin-bottom: 16px
  border: 1px solid $app-color-border-default
  border-radius: 6px
  & .file-header
    padding: 5px 10px
    background-color: $app-aliceBlue
    border-bottom: 1px solid $app-color-border-default
    border-top-left-radius: 6px
    border-top-right-radius: 6px
  & .file-info
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace
    font-size: 12px
    line-height: 32px
  & .file-content
    padding: 16px
  & .variable-textarea
    width: 100%
    min-height: 300px
    max-height: 600px
    height: max-content
    border: none
markdown
  & *
    font: revert !important
  & h1 a
    text-decoration: none
  & h1 a:hover
    opacity: 0.87
    text-decoration: underline
  & blockquote
    border-left: 3px solid rgba(0,0,0,0.21)
    padding-left: 12px
    color: rgba(0,0,0,0.54)

// Material Chip
.app-mat-chip
  & ::ng-deep .mat-standard-chip
    cursor: pointer
::ng-deep .mat-standard-chip
  cursor: pointer
.mat-standard-chip
  min-height: 25px
  padding: 10px
.mat-chip
  color: $app-navyBlue
  background: $app-aliceBlue
  font-size: 12px
/////

.user-mention, .team-mention
  font-weight: 600
  color: $app-color-fg-default
  white-space: nowrap

  ////// Boxes /////
.box
  background-color: $app-color-canvas-overlay
  border-color: $app-color-border-default
  border-style: solid
  border-width: 1px
  border-radius: 6px
  &:focus, &:hover
    background-color: $app-aliceBlue
  &--condensed
    line-height: 1.25
    & .box__row
      padding: 8px 16px
  &__row
    padding: 16px
    margin-top: -1px
    list-style-type: none
    border-top-color: $app-color-border-muted
    border-top-style: solid
    border-top-width: 1px
    &:first-of-type
      border-top-left-radius: 6px
      border-top-right-radius: 6px
      border-top-color: transparent
    &:last-of-type
      border-bottom-right-radius: 6px
      border-bottom-left-radius: 6px

.avatar-stack
  position: relative
  min-width: 26px
  height: 20px
  &__body
    display: flex
    background: $app-color-canvas-overlay
    & .avatar
      position: relative
      z-index: 2
      display: flex
      width: 20px
      height: 20px
      box-sizing: content-box
      margin-right: -11px
      background-color: $app-color-canvas-overlay
      border-right: 1px solid $app-color-canvas-overlay
      border-radius: 4px
      box-shadow: none
      transition: margin .1s ease-in-out
      &:last-child
        z-index: 1
        border-right: 0
      &:first-child
        z-index: 3
      &:not(:hover)
        background-color: transparent
  & .avatar-stack__body
    position: absolute
///////

.signer-block-info
  z-index: 999
  grid-template-columns: 0.15fr 1fr
.signed-commit-header
  line-height: 1.3
  white-space: normal
  grid-template-columns: 0.15fr 1fr
  border-top-left-radius: 6px
  border-top-right-radius: 6px
  & *
    font-size: 15px
.signed-commit-signer-name
  font-size: 14px
  text-align: left
  & .signer
    display: block
    font-weight: 600
    font-size: 14px
.signed-commit-footer
  &__id
    color: $app-nero
  & span, a
    font-size: 12px
    line-height: 1.5
.signed-commit-badge
  user-select: none
  background: none
  vertical-align: middle
  border-color: $verylightgrey
  &.verified
    color: $app-success
  &:hover
    border-color: $app-harmonies
    text-decoration: none
.verified-commit
  display: inline-block
  overflow: visible !important
  vertical-align: text-bottom
  fill: currentColor
.signed-commit-verified-label
  color: $app-success
  white-space: nowrap
.signed-commit-badge-small
  display: inline-block
  padding: 0 7px
  font-size: 12px
  font-weight: 500
  line-height: 18px
  border: 1px solid $verylightgrey
  border-radius: 2em
.signed-commit__popup-header .mat-typography h3
  margin: 0 !important
::ng-deep ngb-popover-window.bs-popover-left>.arrow
  display: none

::ng-deep ngb-popover-window .popover-header
  margin: 0

.mat-standard-chip
  border-radius: 16px

.overflow-visible
  overflow: visible !important
