@use "var" as *;

.custom-container {
    display: grid;
    grid-template-columns: 300px 1fr;
}

.overflow-unset {
    overflow: unset;
}

.vcard-username {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: $app-color-fg-muted;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.vcard-fullname {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.mt-50px {
    margin-top: 50px;
}

.organization {
    font-weight: 500;
}

.btn-custom {
    background-color: #f6f8fa;
    border-color: #dee2e6;
    color: $app-dark;
    font-weight: 500;

    &:hover,
    &:active,
    &:focus {
        background-color: #ebedf0;
        color: $app-dark;
    }
}

.w-90 {
    width: 90%;
}
