@import "var";

.custom-container {
    display: grid;
    grid-template-columns: 300px 1fr;
}

.overflow-unset {
    overflow: unset;
}

.vcard-username {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: $app-color-fg-muted;
}

.organization {
    font-weight: 500;
}

.btn-custom {
    background-color: #f6f8fa;
    border-color: #dee2e6;
    color: $app-dark;
    font-weight: 500;

    &:hover,
    &:active,
    &:focus {
        background-color: #ebedf0;
        color: $app-dark;
    }
}
