@import "var";
@import "node_modules/bootstrap/dist/css/bootstrap.min";

.timeline-block {
    position: relative;

    .timeline-block__item {
        display: flex;
        padding: 16px 0;
        margin-left: 16px;
        list-style: none;
        position: relative;

        &:last-child {
            &::after {
                display: none;
            }
        }

        &::after {
            position: absolute;
            display: block;
            width: 2px;
            top: 44px;
            left: 14px;
            height: 74px;
            content: "";
            background-color: $app-color-border-muted;
        }

        &::before {
            position: absolute;
            display: block;
            height: 1px;
            width: 13px;
            top: 27px;
            left: 33px;
            content: "";
            background-color: #b7b7b8;
        }
    }
}

.timeline-block__body {
    min-width: 0;
    max-width: 100%;
    margin-top: 4px;
    color: $app-color-fg-muted;
    flex: auto;

    .pl-timelime {
        margin-left: 26px;
    }
}

a {
    color: #24292f;
    font-weight: 500;

    &:hover {
        color: #0969da;
    }
}

.container-icon {
    display: flex;
    position: relative;
    background-color: #ebedee;
    border: 2px solid #b7b7b8;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-top: 12px;
    margin-right: 19px;

    .timeline-icon {
        margin-left: 2px;
        margin-top: 2px;
    }
}
