<div class="timeline-block">
    <div *ngFor="let block of history">
        <div class="timeline-block__item timeline-block__item--condensed pt-0 pb-2">
            <div class="timeline-block__item-badge">
                <svg-icon name="git-commit"></svg-icon>
            </div>
            <div class="timeline-block__body">
                <ol class="mt-2 list-unstyled box box--condensed ml-n6 ml-sm-0 position-relative">
                    <li
                        class="box__row box__row--focus-gray mt-0 d-flex"
                        data-url="/kamu-data/kamu-web-ui/commits/75e711dfb8e35335b622f0c56ff59fc3fc7cea7d/commits_list_item"
                    >
                        <div class="flex-auto min-width-0 details">
                            <div class="d-flex align-items-center mt-1" style="gap: 5px">
                                <mat-icon *ngIf="block.event.__typename === 'Seed'">add_circle_outline</mat-icon>
                                <mat-icon *ngIf="block.event.__typename === 'AddData'">input</mat-icon>
                                <mat-icon *ngIf="block.event.__typename === 'ExecuteQuery'">call_merge</mat-icon>
                                <mat-icon
                                    *ngIf="
                                        [
                                            'SetAttachments',
                                            'SetInfo',
                                            'SetLicense',
                                            'SetVocab',
                                            'SetTransform',
                                            'SetPollingSource',
                                            'SetWatermark'
                                        ].includes(block.event.__typename)
                                    "
                                    >more_horiz</mat-icon
                                >
                                <a
                                    class="link--primary font-weight-bold"
                                    (click)="navigateToMetadataBlock(block.author.name, datasetName, block.blockHash)"
                                    data-test-id="navigate-to-block"
                                    >{{ descriptionForMetadataBlock(block) }}
                                </a>
                            </div>

                            <div class="d-flex align-items-center mt-1">
                                <div class="avatar-stack flex-self-start">
                                    <div class="avatar-stack__body" aria-label="">
                                        <a
                                            class="avatar avatar-user"
                                            style="width: 20px; height: 20px"
                                            data-skip-pjax="true"
                                            data-test-selector="commits-avatar-stack-avatar-link"
                                            data-hovercard-type="user"
                                            data-hovercard-url="/users/_/hovercard"
                                            data-octo-click="hovercard-link-click"
                                            data-octo-dimensions="link_type:self"
                                            href="/#todo-navigate-to-user"
                                        >
                                            <img
                                                data-test-selector="commits-avatar-stack-avatar-image"
                                                src="https://avatars.githubusercontent.com/u/50896974?s=48&v=4"
                                                width="20"
                                                height="20"
                                                [alt]="'@' + block.author.name"
                                                class="avatar-user"
                                            />
                                        </a>
                                    </div>
                                </div>

                                <div class="f6 color-fg-muted min-width-0">
                                    <a
                                        class="commit-author user-mention"
                                        [title]="'View all commits by ' + block.author.name"
                                        [routerLink]="['/', block.author.name]"
                                        >{{ block.author.name }}</a
                                    >

                                    committed
                                    <app-display-time class="no-wrap" [data]="block.systemTime"> </app-display-time>
                                </div>
                                <div class="ml-1"></div>
                            </div>
                        </div>

                        <div class="d-none d-md-flex align-items-center flex-shrink-0">
                            <div>
                                <button
                                    type="button"
                                    class="signed-commit-badge verified signed-commit-badge-small m-2"
                                    placement="left"
                                    ngbPopover="Verified"
                                    [popoverTitle]="popTitle"
                                    [ngbPopover]="popContent"
                                    data-test-id="button-verified"
                                >
                                    Verified
                                </button>
                            </div>

                            <div data-view-component="true" class="btns-group-item m-4">
                                <app-display-hash
                                    [value]="block.blockHash"
                                    [navigationTargetDataset]="{
                                        accountName: block.author.name,
                                        datasetName: this.datasetName
                                    }"
                                    [showCopyButton]="true"
                                    [class]="'text-decoration-none text-dark mr-4 hashBlock'"
                                ></app-display-hash>
                            </div>
                            <div data-view-component="true" class="btns-group-item">
                                <a
                                    href="/kamu-data/kamu-web-ui/tree/75e711dfb8e35335b622f0c56ff59fc3fc7cea7d"
                                    aria-label="Browse the repository at this point in the history"
                                    data-view-component="true"
                                    class="tooltipped tooltipped-sw btn-outline btn btns-group-item"
                                >
                                    <svg-icon name="code"></svg-icon>
                                </a>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<ng-template #popTitle class="signed-commit__popup-header">
    <div class="signed-commit-header d-grid">
        <div class="pr-1">
            <svg-icon name="verified-commit"></svg-icon>
        </div>
        <div class="flex-1">
            This commit was signed with the committer’s
            <strong class="signed-commit-verified-label">verified signature</strong>.
        </div>
    </div>
</ng-template>
<ng-template #popContent>
    <div class="signer-block-info d-grid justify-content-between align-items-center">
        <a class="pe-1" aria-label="sergiimk" href="/sergiimk">
            <img
                src="https://avatars.githubusercontent.com/u/204914?s=64&amp;v=4"
                alt=""
                class="avatar avatar-2 avatar-user mr-2"
            />
        </a>
        <span class="signed-commit-signer-name flex-1">
            <a class="signer" (click)="navigateToOwnerView('testName')" data-test-id="navigate-to-owner-link"
                >owner.name</a
            >
            row.owner.name
        </span>
    </div>
    <div class="signed-commit-footer p-1">
        <span class="d-block">GPG key ID: <span class="signed-commit-footer__id">7D279F791DB8E4F7</span></span>
        <a
            href="https://docs.github.com/github/authenticating-to-github/displaying-verification-statuses-for-all-of-your-commits"
        >
            Learn about vigilant mode</a
        >.
    </div>
</ng-template>
