@import "var";
@import "node_modules/bootstrap/dist/css/bootstrap.min";

.timeline-block {
    position: relative;

    .timeline-block__item {
        display: flex;
        padding: 16px 0;
        margin-left: 16px;
        list-style: none;
        position: relative;

        &:last-child {
            &::after {
                position: absolute;
                display: block;
                width: 2px;
                top: 36px;
                left: 15px;
                height: 65px;
                content: "";
                background-color: $app-color-border-muted;
            }
        }

        &::after {
            position: absolute;
            display: block;
            width: 2px;
            top: 36px;
            left: 15px;
            height: 93px;
            content: "";
            background-color: $app-color-border-muted;
        }

        &::before {
            position: absolute;
            display: block;
            height: 1px;
            width: 21px;
            top: 27px;
            left: 28px;
            content: "";
            background-color: #b7b7b8;
        }
    }
}

.timeline-block__body {
    min-width: 0;
    max-width: 100%;
    margin-top: 4px;
    color: $app-color-fg-muted;
    flex: auto;
}

.account-icon {
    margin-left: 2px;
    margin-right: 8px;
}

a {
    color: #24292f;
    font-weight: 500;

    &:hover {
        color: #0969da;
    }
}

.container-icon {
    display: flex;
    position: relative;
    height: 30px;
    width: 30px;
    margin-right: 19px;
}

.commit-icon {
    position: absolute;
    top: 17px;
    left: 8px;
}
