@import "var";

:host {
    ::ng-deep {
        .mat-progress-spinner {
            circle {
                stroke: $app-dark-sea-green;
            }
        }
    }
}

.overlay {
    position: relative;
    top: 0;
    z-index: 10;
}
