<div [id]="idTable" style="width: 100%; overflow: auto" class="dynamic-table">
    <table mat-table [dataSource]="dataSource">
        <ng-container *ngFor="let disCol of displayedColumns; let colIndex = index" matColumnDef="{{ disCol }}">
            <th mat-header-cell *matHeaderCellDef [attr.data-test-id]="'column-header-name-' + colIndex">
                {{ disCol }}
            </th>
            <td
                [title]="element[disCol]"
                mat-cell
                [ngClass]="disCol === 'op' ? element['cssClass'] : ''"
                [class]="'truncate-cell'"
                *matCellDef="let element"
                [attr.data-test-id]="'column-name-' + element[disCol]"
            >
                {{ element[disCol] }}
            </td>
        </ng-container>

        <ng-container *ngIf="hasTableHeader">
            <tr class="table-header-background" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        </ng-container>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>
