@import src/assets/styles/var
.clickable-row .mat-cell
  color: $app-navyBlue
  &:hover
    cursor: pointer
    text-decoration: underline

table
  width: 100%
  & .mat-cell
    border: 1px solid
    padding: 0 15px
    color: $app-color-fg-default
    border-color: $app-color-border-default

.mat-header-cell
  color: $app-color-fg-default
  border: 1px solid
  font-size: 15px
  text-align: left
  background: $app-aliceBlue
  border-color: $app-color-border-default

th.mat-header-cell
  padding: 0 15px
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type
  padding-left: 15px
