<div class="content">
    <a
        *ngFor="let node of nodes | slice: 0 : LAST_RUNS_COUNT; let i = index"
        class="tile-item"
        [ngbPopover]="popContent"
        triggers="mouseenter:mouseleave"
        [openDelay]="300"
        [ngClass]="tileWidgetClass(node)"
        target="_blank"
        [href]="setTileItemLink(node)"
    >
        <ng-template #popContent>
            <div class="fs-12 text-muted">
                <span class="fs-12 fw-bold">Initiator:</span>
                <span class="fs-12">
                    {{ node.initiator ? node.initiator.accountName : DEFAULT_FLOW_INITIATOR }}
                </span>
                <br />

                <span class="fs-12 fw-bold">Duration:</span>
                <span class="fs-12">
                    {{ durationTask(node.timing.runningSince!, node.timing.finishedAt!) }}
                </span>
                <br />

                <span class="fs-12 fw-bold">Outcome:</span>
                <span class="fs-12">
                    {{ node.outcome ? tileOutcomeMessage(node.outcome) : "-" }}
                </span>
                <br />

                <span class="fs-12 fw-bold">Completed time:</span>
                <span class="fs-12 no-wrap" *ngIf="node.timing.finishedAt; else emptyBlock">
                    {{ node.timing.finishedAt | date: "M/d/yy, h:mm:ss a" }}
                </span>
                <ng-template #emptyBlock>
                    <span class="fs-12"> - </span>
                </ng-template>
                <br />

                <ng-container *ngIf="involvedDatasets.length">
                    <span class="fs-12 fw-bold">Alias:</span>
                    <span class="fs-12">
                        {{ datasetAliasByDescription(node) }}
                    </span>
                    <br />
                </ng-container>
            </div>
        </ng-template>
    </a>
</div>
<div class="mt-1">
    <span class="fs-12 text-muted"> Showing last {{ LAST_RUNS_COUNT }} runs</span>
</div>
