.content {
    display: flex;
    gap: 4px;
    flex-flow: row wrap;

    .tile-item {
        width: 15px;
        height: 15px;
        border-radius: 2px;
    }
}

.success-class {
    background: #0db28d;
}

.queued-class,
.waiting-class {
    background: #9d9d9d;
}

.running-class {
    background: #8bdaaf;
}

.retrying-class,
.scheduled-class {
    background: #2a8dd3;
}

.failed-class {
    background: #d13124;
}

.aborted-class {
    background: rgb(188 123 123);
}

.cancelled-class {
    background: #08cdeb;
}

.tooltip-class {
    white-space: pre-line;
}
