.checkbox-uncacheable {
    width: 16px;
    height: 16px;
    accent-color: rgb(63 81 181);
}

.eye-icon {
    border: 1px solid rgb(222 226 230);
    border-top-right-radius: 5.25px;
    border-bottom-right-radius: 5.25px;
}
