:host {
    ::ng-deep {
        .mat-checkbox {
            .mat-checkbox-ripple {
                position: relative;
            }
        }
    }
}

.eye-icon {
    border: 1px solid rgba(222 226 230);
    border-top-right-radius: 5.25px;
    border-bottom-right-radius: 5.25px;
}
